Repository ArdentHQ/dashbrd, pull requests merged in 2023-12, with the labels that each got.

#523 fix: whitespace above featured collections
  resources/js/Pages/Collections/Index.tsx
Labels: bugfix

#524 feat: winner overview
  app/Data/Collections/CollectionOfTheMonthData.php
  app/Http/Controllers/CollectionController.php
  lang/en/common.php
  lang/en/pages.php
  resources/css/_collection.css
  resources/images/collections/one-bar-chart-dark.svg
  resources/images/collections/one-bar-chart.svg
  resources/images/collections/three-bar-chart-dark.svg
  resources/images/collections/three-bar-chart.svg
  resources/images/collections/two-bar-chart-dark.svg
  resources/images/collections/two-bar-chart.svg
  resources/js/Components/Collections/CollectionOfTheMonthWinners/CollectionOfTheMonthWinners.test.tsx
  resources/js/Components/Collections/CollectionOfTheMonthWinners/CollectionOfTheMonthWinners.tsx
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Collections/Components/CollectionOfTheMonth/CollectionOfTheMonth.tsx
  resources/js/Pages/Collections/Index.tsx
  resources/js/Tests/Factories/Collections/CollectionOfTheMonthFactory.ts
  resources/js/Utils/format-number.test.ts
  resources/js/Utils/format-number.ts
  resources/js/images.ts
  resources/types/generated.d.ts
Labels: feature

#526 feat: add footer cta
  lang/en/pages.php
  resources/images/collections-dark.png
  resources/images/collections-grid.svg
  resources/images/collections-mobile-dark.png
  resources/images/collections-mobile.png
  resources/images/collections.png
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Collections/Components/CollectionsCallToAction.tsx
  resources/js/Pages/Collections/Index.tsx
  resources/js/images.ts
Labels: feature

#530 chore: update JavaScript dependencies
  package.json
  pnpm-lock.yaml
Labels: chore

#531 fix: disable `tokenId` decoding for Alchemy endpoints
  app/Http/Client/Alchemy/AlchemyPendingRequest.php
  tests/App/Jobs/FetchWalletNftsTest.php
Labels: bugfix

#525 feat: add collection vote table
  lang/en/common.php
  lang/en/pages.php
  resources/css/app.css
  resources/icons/hidden-vote.svg
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Collections/Components/CollectionOfTheMonth/CollectionOfTheMonth.tsx
  resources/js/Pages/Collections/Components/CollectionOfTheMonth/VoteCollection.tsx
  resources/js/Pages/Collections/Components/CollectionOfTheMonth/index.tsx
  resources/js/Pages/Collections/Components/CollectionVoting/VoteCollections.test.tsx
  resources/js/Pages/Collections/Components/CollectionVoting/VoteCollections.tsx
  resources/js/Pages/Collections/Components/CollectionVoting/VoteCountdown.tsx
  resources/js/Pages/Collections/Components/CollectionVoting/index.tsx
  resources/js/Pages/Collections/Index.tsx
  resources/js/icons.tsx
Labels: feature

#535 feat: add collection vote seeder
  database/seeders/CollectionVotesSeeder.php
  database/seeders/DatabaseSeeder.php
Labels: feature

#517 refactor: custom hook for loading draft logic
  resources/js/Hooks/useAuthorizedAction.ts
  resources/js/Pages/Galleries/MyGalleries/Components/MyGalleryDialogs.tsx
  resources/js/Pages/Galleries/MyGalleries/Create.tsx
  resources/js/Pages/Galleries/MyGalleries/hooks/useDraftLoader.ts
Labels: refactor

#538 fix: collection of the month styling
  resources/js/Components/Heading.tsx
  resources/js/Pages/Collections/Components/CollectionVoting/VoteCollections.tsx
Labels: bugfix

#537 feat: add articles to collections page
  app/Http/Controllers/CollectionController.php
  lang/en/pages.php
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Collections/Components/CollectionsArticles.tsx
  resources/js/Pages/Collections/Index.tsx
Labels: feature

#532 feat: add collections table voted state
  lang/en/pages.php
  resources/icons/voted-collection-checkmark.svg
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Collections/Components/CollectionVoting/VoteCollections.test.tsx
  resources/js/Pages/Collections/Components/CollectionVoting/VoteCollections.tsx
  resources/js/Pages/Collections/Components/CollectionVoting/VoteCountdown.tsx
  resources/js/Pages/Collections/Index.tsx
  resources/js/icons.tsx
Labels: feature

#536 feat: add nomination modal
  lang/en/common.php
  lang/en/pages.php
  resources/css/_tables.css
  resources/js/Components/Collections/CollectionName/NominateCollectionName.test.tsx
  resources/js/Components/Collections/CollectionName/NominateCollectionName.tsx
  resources/js/Components/Collections/CollectionName/index.tsx
  resources/js/Components/Collections/PopularCollectionsTable/PopularCollectionsTable.blocks.tsx
  resources/js/Components/Dialog.test.tsx
  resources/js/Components/Dialog.tsx
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Collections/Components/CollectionVoting/NominationDialog.tsx
  resources/js/Pages/Collections/Components/CollectionVoting/NomineeCollection.tsx
  resources/js/Pages/Collections/Components/CollectionVoting/NomineeCollections.tsx
  resources/js/Pages/Collections/Components/CollectionVoting/VoteCollections.test.tsx
  resources/js/Pages/Collections/Components/CollectionVoting/VoteCollections.tsx
  resources/js/Pages/Collections/Components/CollectionVoting/index.tsx
  resources/js/Pages/Collections/Index.tsx
Labels: feature

#544 feat: handle previous winner collection in the nominate modal
  lang/en/pages.php
  resources/css/_tables.css
  resources/js/Components/Collections/CollectionName/NominateCollectionName.tsx
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Collections/Components/CollectionVoting/NomineeCollection.tsx
Labels: feature

#534 feat: collection of the month overview placeholder
  app/Http/Controllers/CollectionOfTheMonthController.php
  app/Jobs/FetchCollectionBannerBatch.php
  app/Models/Collection.php
  lang/en/metatags.php
  lang/en/pages.php
  resources/css/_collection.css
  resources/images/collections/com-bg-dark.svg
  resources/images/collections/com-bg.svg
  resources/images/collections/one-bar-chart-dark.svg
  resources/images/collections/one-bar-chart-lg-dark.svg
  resources/images/collections/one-bar-chart-lg.svg
  resources/images/collections/one-bar-chart.svg
  resources/images/collections/three-bar-chart-dark.svg
  resources/images/collections/three-bar-chart-lg-dark.svg
  resources/images/collections/three-bar-chart-lg.svg
  resources/images/collections/three-bar-chart.svg
  resources/images/collections/two-bar-chart-dark.svg
  resources/images/collections/two-bar-chart-lg-dark.svg
  resources/images/collections/two-bar-chart-lg.svg
  resources/images/collections/two-bar-chart.svg
  resources/js/Components/Collections/CollectionOfTheMonthWinners/CollectionOfTheMonthWinners.blocks.tsx
  resources/js/Components/Collections/CollectionOfTheMonthWinners/CollectionOfTheMonthWinners.test.tsx
  resources/js/Components/Collections/CollectionOfTheMonthWinners/CollectionOfTheMonthWinners.tsx
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Collections/CollectionOfTheMonth.tsx
  resources/js/images.ts
  routes/web.php
  tests/App/Http/Controllers/CollectionOfTheMonthControllerTest.php
Labels: feature

#547 feat: add real collection of the month data on overview page
  app/Http/Controllers/CollectionOfTheMonthController.php
Labels: feature

#550 chore: update PHP dependencies
  app/Console/Commands/DependsOnCoingeckoRateLimit.php
  app/Console/Commands/InteractsWithCollections.php
  app/Console/Commands/LiveDumpNfts.php
  app/Console/Commands/MarketData/UpdateTokenDetails.php
  app/Contracts/MarketDataProvider.php
  app/Data/Collections/CollectionDetailData.php
  app/Data/Gallery/GalleryCollectionData.php
  app/Data/Nfts/NftCollectionData.php
  app/Data/TokenListItemData.php
  app/Http/Client/Alchemy/AlchemyPendingRequest.php
  app/Http/Client/MarketData/CoingeckoPendingRequest.php
  app/Http/Client/Mnemonic/MnemonicPendingRequest.php
  app/Http/Client/Moralis/MoralisPendingRequest.php
  app/Http/Client/Opensea/OpenseaPendingRequest.php
  app/Models/Gallery.php
  app/Models/User.php
  app/Services/MarketData/Providers/CoingeckoProvider.php
  app/Services/Traits/LoadsFromCache.php
  app/Services/Web3/Alchemy/AlchemyWeb3DataProvider.php
  app/Services/Web3/Fake/FakeWeb3DataProvider.php
  app/Services/Web3/Mnemonic/MnemonicWeb3DataProvider.php
  app/Services/Web3/Moralis/MoralisWeb3DataProvider.php
  app/Services/Web3/Opensea/OpenseaWeb3DataProvider.php
  app/Support/Cache/GalleryCache.php
  composer.json
  composer.lock
  database/factories/ArticleFactory.php
  database/factories/TokenFactory.php
  database/factories/UserFactory.php
  public/css/filament/filament/app.css
  public/js/filament/forms/components/file-upload.js
  public/js/filament/forms/components/key-value.js
  public/js/filament/forms/components/select.js
  public/js/filament/support/support.js
  rector.php
  tests/App/Jobs/Middleware/RateLimitedTest.php
Labels: chore

#551 fix: flaky collections of the month test
  tests/App/Http/Controllers/CollectionOfTheMonthControllerTest.php
Labels: bugfix

#545 refactor: search nominatable collections
  app/Http/Controllers/Api/NominatableCollectionController.php
  app/Models/Collection.php
  resources/js/Components/Dialog.tsx
  resources/js/Components/LoadingBlock/LoadingBlock.tsx
  resources/js/Pages/Collections/Components/CollectionVoting/NominationDialog.tsx
  resources/js/Pages/Collections/Components/CollectionVoting/NomineeCollections.tsx
  resources/js/Pages/Collections/Components/CollectionVoting/VoteCollections.tsx
  routes/api.php
  tests/App/Http/Controllers/Api/NominatableCollectionControllerTest.php
Labels: refactor

#552 feat: add popular collections table
  app/Http/Controllers/PopularCollectionController.php
  lang/en/common.php
  lang/en/metatags.php
  lang/en/pages.php
  resources/js/Components/Collections/CollectionImages/CollectionImages.tsx
  resources/js/Components/Collections/CollectionsFullTable/CollectionName.test.tsx
  resources/js/Components/Collections/CollectionsFullTable/CollectionName.tsx
  resources/js/Components/Collections/CollectionsFullTable/CollectionsFullTable.contracts.ts
  resources/js/Components/Collections/CollectionsFullTable/CollectionsFullTable.test.tsx
  resources/js/Components/Collections/CollectionsFullTable/CollectionsFullTable.tsx
  resources/js/Components/Collections/CollectionsFullTable/CollectionsFullTableItem.tsx
  resources/js/Components/Collections/CollectionsFullTable/index.tsx
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Collections/Components/PopularCollections/CollectionsFullTablePagination.tsx
  resources/js/Pages/Collections/Components/PopularCollectionsHeading/PopularCollectionsHeading.tsx
  resources/js/Pages/Collections/Components/PopularCollectionsHeading/index.tsx
  resources/js/Pages/Collections/Index.tsx
  resources/js/Pages/Collections/PopularCollections/Index.tsx
  resources/js/Tests/Factories/Collections/SimpleNftDataFactory.ts
  routes/web.php
  tests/App/Http/Controllers/PopularCollectionControllerTest.php
Labels: feature

#555 feat: add popular collections search
  app/Http/Controllers/Api/NominatableCollectionController.php
  app/Http/Controllers/PopularCollectionController.php
  app/Models/Collection.php
  lang/en/common.php
  lang/en/pages.php
  resources/js/Components/Collections/CollectionsFullTable/CollectionsFullTable.test.tsx
  resources/js/Components/Collections/CollectionsFullTable/CollectionsFullTable.tsx
  resources/js/Components/Form/TextInput/TextInput.tsx
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Collections/Components/CollectionsFullTablePagination/CollectionsFullTablePagination.tsx
  resources/js/Pages/Collections/Hooks/useCollectionFilters.ts
  resources/js/Pages/Collections/Index.tsx
  resources/js/Pages/Collections/PopularCollections/Index.tsx
  tests/App/Models/CollectionTest.php
Labels: feature

#556 feat: add popular collections tabs
  app/Http/Controllers/PopularCollectionController.php
  app/Models/Collection.php
  resources/js/Pages/Collections/Hooks/useCollectionFilters.ts
  resources/js/Pages/Collections/PopularCollections/Index.tsx
  routes/web.php
Labels: feature

#557 feat: add timeframe tabs
  app/Http/Controllers/CollectionController.php
  app/Http/Controllers/PopularCollectionController.php
  app/Http/Controllers/Traits/HasCollectionFilters.php
  lang/en/common.php
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Collections/Components/PopularCollectionsFilterPopover/PopularCollectionsFilterPopover.tsx
  resources/js/Pages/Collections/Components/PopularCollectionsFilters/PeriodFilters.tsx
  resources/js/Pages/Collections/Components/PopularCollectionsFilters/index.tsx
  resources/js/Pages/Collections/Hooks/useCollectionFilters.ts
  resources/js/Pages/Collections/Index.tsx
  resources/js/Pages/Collections/PopularCollections/Index.tsx
Labels: feature

#558 refactor: prefix collection-related artisan commands with `collections:`
  app/Console/Commands/FetchCollectionBanner.php
  app/Console/Commands/FetchCollectionBannerBatch.php
  app/Console/Commands/FetchCollectionFloorPrice.php
  app/Console/Commands/FetchCollectionMetadata.php
  app/Console/Commands/FetchCollectionOpenseaSlug.php
  app/Console/Commands/FetchCollectionOwners.php
  app/Console/Commands/FetchCollectionTraits.php
  app/Console/Commands/FetchCollectionVolume.php
  tests/App/Console/Commands/FetchCollectionBannerBatchTest.php
  tests/App/Console/Commands/FetchCollectionBannerTest.php
  tests/App/Console/Commands/FetchCollectionFloorPriceTest.php
  tests/App/Console/Commands/FetchCollectionMetadataTest.php
  tests/App/Console/Commands/FetchCollectionOpenseaSlugTest.php
  tests/App/Console/Commands/FetchCollectionOwnersTest.php
  tests/App/Console/Commands/FetchCollectionTraitsTest.php
  tests/App/Console/Commands/FetchCollectionVolumeTest.php
Labels: refactor

#553 refactor: add voting to collections
  app/Data/Collections/VotableCollectionData.php
  app/Http/Controllers/CollectionVoteController.php
  app/Models/CollectionVote.php
  app/Models/Wallet.php
  resources/js/Pages/Collections/Components/CollectionVoting/NominationDialog.tsx
  resources/js/Pages/Collections/Components/CollectionVoting/VoteCollections.test.tsx
  resources/js/Pages/Collections/Components/CollectionVoting/VoteCollections.tsx
  resources/js/Pages/Collections/Components/CollectionVoting/VoteCountdown.tsx
  resources/js/Pages/Collections/Components/CollectionsVoteReceivedModal/CollectionsVoteReceivedModal.tsx
  resources/js/Pages/Collections/Index.tsx
  resources/js/Tests/Factories/Collections/VotableCollectionDataFactory.ts
  resources/types/generated.d.ts
  routes/web.php
  tests/App/Http/Controllers/CollectionVoteControllerTest.php
Labels: refactor

#549 chore: update JavaScript dependencies
  package.json
  pnpm-lock.yaml
  resources/js/Components/Tokens/TokenPriceChart.helpers.ts
Labels: chore

#554 feat: floor price change percentage
  app/Data/Collections/PopularCollectionData.php
  app/Data/Collections/VotableCollectionData.php
  app/Http/Controllers/CollectionController.php
  app/Http/Controllers/PopularCollectionController.php
  app/Jobs/FetchCollectionFloorPrice.php
  app/Models/Collection.php
  app/Models/FloorPriceHistory.php
  app/Models/Traits/HasFloorPriceHistory.php
  database/factories/FloorPriceHistoryFactory.php
  database/migrations/2023_12_11_202944_create_floor_price_history_table.php
  database/seeders/CollectionFloorPriceHistorySeeder.php
  database/seeders/DatabaseSeeder.php
  resources/js/Components/Collections/PopularCollectionsTable/PopularCollectionsTable.blocks.tsx
  resources/js/Components/Collections/PopularCollectionsTable/PopularCollectionsTable.test.tsx
  resources/js/Tests/Factories/Collections/PopularCollectionFactory.ts
  resources/js/Tests/Factories/Collections/VotableCollectionDataFactory.ts
  resources/types/generated.d.ts
  tests/App/Jobs/FetchCollectionFloorPriceTest.php
  tests/App/Models/CollectionTest.php
Labels: feature

#560 fix: add `typeNumeric` macro to migration
  database/migrations/2023_12_11_202944_create_floor_price_history_table.php
Labels: bugfix

#546 feat: show previous month winners
  app/Data/Collections/CollectionOfTheMonthData.php
  app/Http/Controllers/CollectionOfTheMonthController.php
  database/seeders/LiveSeeder.php
  database/seeders/WinnerCollectionSeeder.php
  lang/en/pages.php
  resources/images/winner-badge-first.svg
  resources/images/winner-badge-second.svg
  resources/images/winner-badge-third.svg
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Collections/CollectionOfTheMonth.tsx
  resources/js/Pages/Collections/Components/WinnerCollections/Hooks/useWinnerCollections.ts
  resources/js/Pages/Collections/Components/WinnerCollections/WinnerCollections.blocks.tsx
  resources/js/Pages/Collections/Components/WinnerCollections/WinnerCollections.tsx
  resources/js/Pages/Collections/Components/WinnerCollections/index.tsx
  resources/js/Tests/Factories/Collections/CollectionOfTheMonthFactory.ts
  resources/js/images.ts
  resources/types/generated.d.ts
  tests/App/Http/Controllers/CollectionOfTheMonthControllerTest.php
Labels: feature

#562 feat: add popular collection stats
  app/Http/Controllers/PopularCollectionController.php
  app/Models/Collection.php
  tests/App/Models/CollectionTest.php
Labels: feature

#563 fix: use my collections URL for sorting
  resources/js/Pages/Collections/MyCollections/Index.tsx
Labels: bugfix

#564 feat: add popular collection column sorting
  app/Http/Controllers/PopularCollectionController.php
  app/Http/Controllers/Traits/HasCollectionFilters.php
  app/Models/Collection.php
  resources/js/Components/Collections/CollectionsFullTable/CollectionsFullTable.contracts.ts
  resources/js/Components/Collections/CollectionsFullTable/CollectionsFullTable.test.tsx
  resources/js/Components/Collections/CollectionsFullTable/CollectionsFullTable.tsx
  resources/js/Pages/Collections/Components/PopularCollectionsFilters/PeriodFilters.tsx
  resources/js/Pages/Collections/Components/PopularCollectionsSorting/PopularCollectionsSorting.tsx
  resources/js/Pages/Collections/Hooks/useCollectionFilters.ts
  resources/js/Pages/Collections/PopularCollections/Index.tsx
  tests/App/Models/CollectionTest.php
Labels: feature

#566 fix: use supply data for items column
  app/Data/Collections/CollectionData.php
  resources/js/Components/Collections/CollectionsFullTable/CollectionsFullTable.test.tsx
  resources/js/Components/Collections/CollectionsFullTable/CollectionsFullTableItem.tsx
  resources/js/Tests/Factories/Collections/CollectionFactory.ts
  resources/js/Tests/SampleData/SampleCollection.ts
  resources/types/generated.d.ts
Labels: bugfix

#569 fix: warnings in tests
  resources/js/Components/Galleries/GalleryPage/GalleryActionToolbar/GalleryActionToolbar.test.tsx
Labels: bugfix

#573 chore: update JavaScript dependencies
  package.json
  pnpm-lock.yaml
Labels: chore

#572 chore: update PHP dependencies
  composer.json
  composer.lock
  public/css/filament/filament/app.css
  public/js/filament/forms/components/color-picker.js
  public/vendor/telescope/app.js
  public/vendor/telescope/mix-manifest.json
Labels: chore

#567 refactor: cut the number of queries in featured collections
  app/Data/Collections/CollectionFeaturedData.php
  app/Filament/Resources/CollectionResource.php
  app/Http/Controllers/CollectionController.php
  tests/App/Http/Controllers/CollectionControllerTest.php
Labels: refactor

#571 refactor: make popular collection components reusable
  app/Http/Controllers/PopularCollectionController.php
  resources/js/Components/Collections/CollectionsFullTable/CollectionsFullTable.contracts.ts
  resources/js/Components/Collections/CollectionsFullTable/CollectionsFullTable.tsx
  resources/js/Pages/Collections/CollectionsCatalog/Index.tsx
  resources/js/Pages/Collections/Components/CollectionsFilterPopover/CollectionsFilterPopover.tsx
  resources/js/Pages/Collections/Components/CollectionsFilterPopover/index.tsx
  resources/js/Pages/Collections/Components/CollectionsFilterTabs/ChainFilters.tsx
  resources/js/Pages/Collections/Components/CollectionsFilterTabs/PeriodFilters.tsx
  resources/js/Pages/Collections/Components/CollectionsFilterTabs/index.tsx
  resources/js/Pages/Collections/Components/CollectionsHeading/CollectionsHeading.tsx
  resources/js/Pages/Collections/Components/CollectionsSortingTabs/CollectionsSortingTabs.tsx
  resources/js/Pages/Collections/Components/CollectionsSortingTabs/index.tsx
  resources/js/Pages/Collections/Components/MyCollectionsHeading/MyCollectionsHeading.tsx
  resources/js/Pages/Collections/Components/MyCollectionsHeading/RefreshButton.tsx
  resources/js/Pages/Collections/Components/MyCollectionsHeading/index.tsx
  resources/js/Pages/Collections/Components/PopularCollectionsFilterPopover/index.tsx
  resources/js/Pages/Collections/Components/PopularCollectionsHeading/index.tsx
  resources/js/Pages/Collections/Components/PopularCollectionsSorting/index.tsx
  resources/js/Pages/Collections/Hooks/useCollectionFilters.ts
  resources/js/Pages/Collections/Index.tsx
  resources/js/Pages/Collections/MyCollections/Index.tsx
Labels: refactor

#575 fix: vote a collection banner not being rendered
  public/images/collections/voted@2x.png
Labels: bugfix

#442 refactor: store erc1155 tokens
  app/Console/Commands/InteractsWithCollections.php
  app/Console/Commands/LiveDumpNfts.php
  app/Data/Wallet/WalletData.php
  app/Data/Web3/Web3NftData.php
  app/Enums/TokenType.php
  app/Http/Client/Alchemy/AlchemyPendingRequest.php
  app/Http/Client/Moralis/MoralisPendingRequest.php
  app/Http/Controllers/CollectionController.php
  app/Http/Controllers/CollectionReportController.php
  app/Http/Controllers/MyGalleryCollectionController.php
  app/Http/Controllers/NftController.php
  app/Http/Controllers/RefreshedNftController.php
  app/Jobs/FetchCollectionNfts.php
  app/Jobs/FetchWalletNfts.php
  app/Models/Article.php
  app/Models/Collection.php
  app/Models/Gallery.php
  app/Models/User.php
  app/Models/Wallet.php
  app/Support/Web3NftHandler.php
  database/factories/CollectionFactory.php
  database/migrations/2023_11_14_122252_add_type_column_to_collections_table.php
  database/migrations/2023_11_29_082909_add_owns_erc1155_tokens_column_to_wallets_table.php
  database/seeders/LiveUserSeeder.php
  database/seeders/TopCollectionsNftsSeeder.php
  lang/en/pages.php
  resources/js/Components/Toast/Toast.contracts.ts
  resources/js/Components/Toast/Toast.tsx
  resources/js/Contexts/MetaMaskContext.tsx
  resources/js/Hooks/useToasts.tsx
  resources/js/I18n/Locales/en.json
  resources/js/Tests/Factories/Wallet/WalletFactory.ts
  resources/types/generated.d.ts
  tests/App/Console/Commands/FetchCollectionNftsTest.php
  tests/App/Enums/TokenTypeTest.php
  tests/App/Jobs/FetchCollectionNftsTest.php
  tests/App/Jobs/FetchWalletNftsTest.php
  tests/App/Jobs/UpdateNftDescriptionTest.php
  tests/App/Services/Web3/Alchemy/AlchemyWeb3DataProviderTest.php
  tests/App/Services/Web3/Moralis/MoralisWeb3DataProviderTest.php
  tests/App/Support/Web3NftHandlerTest.php
Labels: refactor

#577 fix: error during voting when already voted
  app/Http/Controllers/CollectionVoteController.php
  lang/en/pages.php
  resources/js/I18n/Locales/en.json
  tests/App/Http/Controllers/CollectionVoteControllerTest.php
Labels: bugfix

#578 fix: disable vote button when trying to nominate a collection if the user has already voted
  lang/en/pages.php
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Collections/Components/CollectionVoting/NominationDialog.tsx
  resources/js/Pages/Collections/Components/CollectionVoting/VoteCollections.tsx
Labels: bugfix

#579 refactor: optimize collections page
  app/Console/Kernel.php
  app/Data/Collections/VotableCollectionData.php
  app/Http/Controllers/CollectionController.php
  app/Http/Controllers/CollectionVoteController.php
  app/Jobs/FetchCollectionVolume.php
  app/Jobs/ResetCollectionMonthlyVotesAndRank.php
  app/Models/Collection.php
  database/migrations/2023_12_21_152434_add_monthly_rank_to_collections_table.php
  queries/collections.calculate_monthly_rank_and_votes_value.sql
  tests/App/Jobs/ResetCollectionMonthlyVotesAndRankTest.php
  tests/App/Models/CollectionTest.php
Labels: refactor

#580 fix: share on twitter modal handle issue
  app/Data/Collections/VotableCollectionData.php
Labels: bugfix
