Repository ArdentHQ/dashbrd, pull requests merged in 2023-11, with the labels that each got.

#331 refactor: use async call in authenticatedAction
  resources/js/Pages/Collections/Components/CollectionsHeading/RefreshButton.tsx
  resources/js/Pages/Collections/View.tsx
Labels: refactor

#333 feat: new mobile version and dark mode for WebSurferPlayer
  resources/js/Pages/Articles/Components/WaveSurferPlayer.tsx
Labels: feature

#332 refactor: add dark mode toggle to navbar
  resources/icons/moon.svg
  resources/icons/sun.svg
  resources/js/Components/Galleries/GalleryPage/GalleryFormSlider/GalleryFormSlider.test.tsx
  resources/js/Components/Galleries/GalleryPage/GallerySelectTemplate/GallerySelectTemplate.test.tsx
  resources/js/Components/Galleries/GalleryPage/GallerySelectTemplate/GallerySelectTemplate.tsx
  resources/js/Components/Layout/AuthOverlay/AuthOverlay.test.tsx
  resources/js/Components/Layout/AuthOverlay/AuthOverlay.tsx
  resources/js/Components/Layout/LayoutWrapper.test.tsx
  resources/js/Components/Layout/Navbar.test.tsx
  resources/js/Components/Layout/Navbar.tsx
  resources/js/Components/Layout/NoNftsOverlay/NoNftsOverlay.test.tsx
  resources/js/Components/Layout/Overlay/Overlay.tsx
  resources/js/Components/Tokens/TokenMarketData.test.tsx
  resources/js/Components/Tokens/TokenPriceChart.test.tsx
  resources/js/Components/Tokens/TokenPriceChart.tsx
  resources/js/Contexts/DarkModeContext.tsx
  resources/js/Pages/Settings/General.tsx
  resources/js/app.tsx
  resources/js/icons.tsx
Labels: refactor

#338 fix: do not require authentication when viewing galleries
  routes/api.php
Labels: bugfix

#341 chore: disable `sonarjs/no-duplicate-string` rule
  .eslintrc.js
  resources/js/Components/Collections/CollectionActivityTable/CollectionActivityTable.blocks.tsx
  resources/js/Components/Layout/AuthOverlay/AuthOverlay.blocks.tsx
  resources/js/Components/Table/TableHeader.tsx
  resources/js/Components/WalletTokens/WalletTokensTable.tsx
  resources/js/Tests/Factories/Nfts/NftActivitiesDataFactory.ts
Labels: chore

#342 fix: show thumbnail in gallery form cover image button
  resources/js/Components/Galleries/GalleryPage/GalleryActionToolbar/GalleryActionToolbar.tsx
  resources/types/generated.d.ts
Labels: bugfix

#345 fix: test warnings
  resources/js/Components/Report.test.tsx
Labels: bugfix

#347 fix: correct dimensions in article feature collection avatars
  resources/js/Components/Articles/Article.blocks.tsx
Labels: bugfix

#348 refactor: dark mode for more soon article skeleton card
  resources/js/Components/Articles/ArticleCard/ArticleCardSkeleton.tsx
Labels: feature

#346 feat: handle gallery drafts toolbar actions
  resources/js/Pages/Galleries/MyGalleries/Create.tsx
  resources/js/Pages/Galleries/hooks/useGalleryForm.ts
Labels: feature

#326 feat: persist gallery draft
  lang/en/pages.php
  resources/icons/fat-double-check.svg
  resources/js/Components/Galleries/GalleryPage/GalleryActionToolbar/GalleryActionToolbar.test.tsx
  resources/js/Components/Galleries/GalleryPage/GalleryActionToolbar/GalleryActionToolbar.tsx
  resources/js/Components/Galleries/GalleryPage/GalleryActionToolbar/GalleryDraftStatus.test.tsx
  resources/js/Components/Galleries/GalleryPage/GalleryActionToolbar/GalleryDraftStatus.tsx
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Galleries/Components/GalleryNameInput/GalleryNameInput.tsx
  resources/js/Pages/Galleries/MyGalleries/Create.tsx
  resources/js/Pages/Galleries/hooks/useGalleryDrafts.test.ts
  resources/js/Pages/Galleries/hooks/useGalleryDrafts.ts
  resources/js/Pages/Galleries/hooks/useGalleryForm.ts
  resources/js/icons.tsx
Labels: feature

#354 fix: dark wallet issues
  resources/css/_buttons.css
  resources/js/Components/Tokens/TokenLogo.tsx
Labels: bugfix

#352 fix: correct skeleton colors in dark mode
  resources/css/_skeletons.css
  resources/js/Pages/Galleries/Components/GalleryListbox/GalleryListbox.tsx
Labels: bugfix

#367 fix: tooltip arrow background color
  resources/js/Components/Tooltip/Tooltip.tsx
Labels: bugfix

#368 refactor: nft gallery card styling
  resources/js/Components/Galleries/NftGalleryCardEditable.tsx
Labels: refactor

#351 feat: delete expired drafts
  resources/js/Pages/Galleries/MyGalleries/Index.tsx
  resources/js/Pages/Galleries/hooks/useGalleryDrafts.test.ts
  resources/js/Pages/Galleries/hooks/useGalleryDrafts.ts
  resources/js/databaseConfig.ts
Labels: feature

#375 fix: collection applied filter indicator in dark mode
  resources/js/Pages/Collections/Components/CollectionsFilter/CollectionsFilterPopover.tsx
Labels: bugfix

#374 fix: wallet balance separator dark color
  resources/js/Components/BalanceHeader/BalanceHeader.tsx
Labels: bugfix

#339 refactor: sql queries on the "my galleries" page
  app/Http/Controllers/MyGalleryController.php
  app/Repositories/GalleryRepository.php
  tests/App/Http/Controllers/MyGalleryControllerTest.php
Labels: refactor

#378 fix: dark mode search token colors
  lang/en/pages.php
  resources/js/Components/TransactionFormSlider/Components/SearchAssets/SearchAssets.tsx
  resources/js/I18n/Locales/en.json
Labels: bugfix

#379 fix: remove border on navbar buttons on <640px
  resources/js/Components/Layout/Navbar.tsx
  resources/js/Components/Navbar/MobileMenu.tsx
  resources/js/Components/Slider.tsx
Labels: bugfix

#308 refactor: use scaled endpoint for nft images
  app/Support/NftImageUrl.php
  database/migrations/2023_10_30_115558_update_nft_thumbnail_to_scaled.php
  queries/migrations.nfts.update_thumbnailv2_to_scaled.sql
  tests/App/Support/NftImageUrlTest.php
Labels: refactor

#382 fix: adjust size of draft delete icon button
  resources/js/Components/Drafts/NftDraftCard.blocks.tsx
Labels: bugfix

#384 fix: remove transition from sidebar items
  resources/js/Components/Sidebar/SidebarItem.tsx
Labels: bugfix

#386 fix: correct size for errored image placeholder
  resources/js/Components/Image/Image.tsx
Labels: bugfix

#396 fix: icon button hover color on dark mode
  resources/css/_buttons.css
  resources/js/Components/Tokens/TokenLinks.tsx
Labels: bugfix

#394 fix: my galleries empty block text color on dark mode
  resources/js/Pages/Galleries/MyGalleries/Index.tsx
Labels: bugfix

#393 fix: user details label text color
  resources/js/Components/Navbar/UserDetails.tsx
Labels: bugfix

#392 fix: refresh collections tooltip dark colors
  resources/js/Pages/Collections/Components/CollectionsHeading/RefreshButton.tsx
Labels: bugfix

#387 fix: break words on articles
  resources/js/Components/Heading.tsx
  resources/js/Components/__snapshots__/Heading.test.tsx.snap
  resources/js/Pages/Articles/Show.tsx
Labels: bugfix

#389 fix: use white tooltip on dark mode on articles
  resources/css/_tooltips.css
  resources/css/app.css
  resources/js/Pages/Articles/Components/ArticleContent.tsx
Labels: bugfix

#390 fix: selected and hover styles for listbox dark mode
  resources/js/Components/Form/Listbox/Listbox.blocks.tsx
Labels: bugfix

#388 fix: validate articles banner max size
  app/Filament/Resources/ArticleResource.php
Labels: bugfix

#391 fix: missing hover state articles list item
  resources/js/Components/Articles/ArticleCard/ArticleCard.tsx
  resources/js/Components/Articles/ArticleListItem/ArticleListItem.tsx
  resources/js/Pages/Collections/Components/Articles/ArticlesList.tsx
Labels: bugfix

#397 fix: text color for non-selected tab item dark mode
  resources/js/Components/Tabs.tsx
Labels: bugfix

#398 fix: featured collection placeholder dark mode
  resources/js/Components/FeaturedCollectionsBanner/FeaturedCollectionsBanner.blocks.tsx
Labels: bugfix

#399 fix: correct badge colors for tokens
  resources/js/Components/Tokens/TokenLogo.tsx
  resources/js/Components/TransactionFormSlider/Components/SearchAssets/SearchAssets.tsx
  resources/js/Components/TransactionFormSlider/Components/SelectAsset/SelectAsset.blocks.tsx
Labels: bugfix

#400 fix: break words in article card
  resources/js/Components/Articles/ArticleCard/ArticleCard.tsx
Labels: bugfix

#401 fix: article column responsiveness in overview page
  resources/js/Pages/Collections/Components/Articles/ArticlesGrid.tsx
Labels: bugfix

#395 fix: transition effect for color change on dark mode toggle
  resources/js/Components/Layout/LayoutWrapper.tsx
Labels: bugfix

#381 refactor: gallery delete button
  resources/js/Components/Galleries/DeleteGalleryButton.test.tsx
  resources/js/Components/Galleries/DeleteGalleryButton.tsx
  resources/js/Components/Galleries/NftGalleryCard.blocks.test.tsx
  resources/js/Components/Galleries/NftGalleryCard.blocks.tsx
  resources/js/Components/Galleries/NftGalleryCard.tsx
  resources/js/Pages/Galleries/MyGalleries/Index.tsx
Labels: refactor

#403 fix: article dropdown color on dark mode
  resources/js/Components/SortDropdown.tsx
Labels: bugfix

#405 refactor: rename nft draft card
  resources/js/Components/Drafts/NftGalleryDraftCard.blocks.test.tsx
  resources/js/Components/Drafts/NftGalleryDraftCard.blocks.tsx
  resources/js/Components/Drafts/NftGalleryDraftCard.test.tsx
  resources/js/Components/Drafts/NftGalleryDraftCard.tsx
  resources/js/Pages/Galleries/MyGalleries/Index.tsx
Labels: refactor

#406 refactor: ignore activity for invalid collections when refreshing NFT metadata
  app/Http/Controllers/RefreshedNftController.php
  tests/App/Http/Controllers/RefreshedNftControllerTest.php
Labels: refactor

#408 refactor: place tooltip of article's "copy" button on the left
  resources/js/Components/Clipboard/Clipboard.tsx
  resources/js/Pages/Articles/Components/ArticleCopy.tsx
Labels: refactor

#410 fix: dashed border color for author box
  resources/js/Pages/Articles/Components/ArticleMeta.tsx
Labels: bugfix

#409 refactor: disable sidebar item if there are no drafts
  resources/js/Pages/Galleries/MyGalleries/Components/MyGalleryListboxMenu.tsx
  resources/js/Pages/Galleries/MyGalleries/Components/MyGallerySidebar.tsx
Labels: refactor

#412 fix: show number of published galleries instead of NFTs in sidebar
  resources/js/Pages/Galleries/MyGalleries/Components/MyGalleryListboxMenu.tsx
Labels: bugfix

#370 refactor: create gallery NFTs
  app/Http/Controllers/MyGalleryController.php
  resources/js/Components/Galleries/Hooks/useGalleryNfts.test.tsx
  resources/js/Components/Galleries/Hooks/useGalleryNftsContext.tsx
  resources/js/Components/Galleries/Hooks/useGalleryNtfs.tsx
  resources/js/Components/Galleries/Hooks/useGallerysNftsContext.test.tsx
  resources/js/Components/Galleries/NftCollection/NftCollectionSlider.test.tsx
  resources/js/Components/Galleries/NftGridEditable.test.tsx
  resources/js/Components/Layout/LayoutWrapper.test.tsx
  resources/js/Pages/Galleries/MyGalleries/Create.tsx
  tests/App/Http/Controllers/MyGalleryControllerTest.php
Labels: refactor

#418 fix: break words for article title in list view
  resources/js/Components/Articles/ArticleListItem/ArticleListItem.tsx
Labels: bugfix

#373 refactor: prevent the user from selecting more than 16 nfts
  lang/en/pages.php
  resources/js/Components/Galleries/NftCollection/NftCollections.tsx
  resources/js/Components/Galleries/NftGalleryCard.blocks.test.tsx
  resources/js/Components/Galleries/NftGalleryCard.blocks.tsx
  resources/js/I18n/Locales/en.json
Labels: refactor

#402 fix: add dark image error placeholder
  resources/images/image-load-error-dark.svg
  resources/images/image-load-error-primary.svg
  resources/js/Components/Articles/ArticleCard/ArticleCard.test.tsx
  resources/js/Components/Articles/ArticleCard/ArticleCard.tsx
  resources/js/Components/Articles/ArticleCard/ArticleCardSkeleton.test.tsx
  resources/js/Components/Articles/ArticleCard/ArticleErrorImage.test.tsx
  resources/js/Components/Articles/ArticleCard/ArticleErrorImage.tsx
  resources/js/Components/Collections/CollectionHeader/CollectionHeaderTop.test.tsx
  resources/js/Components/Image/Image.blocks.tsx
  resources/js/Components/Image/Image.contracts.ts
  resources/js/Components/Image/Image.test.tsx
  resources/js/Components/Image/Image.tsx
  resources/js/images.ts
Labels: bugfix

#419 test: fix flaky in `CollectionActions`
  resources/js/Components/Collections/CollectionActions/CollectionActions.test.tsx
Labels: test

#349 refactor: hook up local drafts and confirm delete modal
  app/Http/Controllers/MyGalleryController.php
  lang/en/pages.php
  resources/js/Components/Buttons/Button.tsx
  resources/js/Components/ConfirmDeletionDialog.test.tsx
  resources/js/Components/ConfirmDeletionDialog.tsx
  resources/js/Components/ConfirmationDialog.tsx
  resources/js/Components/Drafts/NftGalleryDraftCard.blocks.test.tsx
  resources/js/Components/Drafts/NftGalleryDraftCard.blocks.tsx
  resources/js/Components/Drafts/NftGalleryDraftCard.test.tsx
  resources/js/Components/Drafts/NftGalleryDraftCard.tsx
  resources/js/Components/Galleries/DeleteGalleryButton.test.tsx
  resources/js/Components/Galleries/DeleteGalleryButton.tsx
  resources/js/Components/Galleries/GalleryPage/DraftGalleryDeleteModal.test.tsx
  resources/js/Components/Galleries/GalleryPage/DraftGalleryDeleteModal.tsx
  resources/js/Components/Galleries/NftGalleryCard.blocks.test.tsx
  resources/js/Components/Galleries/NftGalleryCard.blocks.tsx
  resources/js/Components/Galleries/NftGalleryCard.tsx
  resources/js/Contexts/DraftGalleriesContext.tsx
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Galleries/MyGalleries/Create.tsx
  resources/js/Pages/Galleries/MyGalleries/Index.tsx
  resources/js/Pages/Galleries/MyGalleries/Layout.tsx
  resources/js/Pages/Galleries/hooks/useGalleryDrafts.test.ts
  resources/js/Pages/Galleries/hooks/useGalleryDrafts.ts
Labels: feature

#420 fix: article content width and border dark mode
  resources/js/Pages/Articles/Show.tsx
Labels: bugfix

#423 refactor: article card outline on hover
  resources/js/Components/Articles/ArticleCard/ArticleCard.tsx
Labels: refactor

#422 refactor: require cover photo when creating/editing articles
  app/Filament/Resources/ArticleResource.php
Labels: refactor

#426 refactor: eager load media and author media when reading article
  app/Http/Controllers/ArticleController.php
Labels: refactor

#416 fix: refresh activity button styles
  resources/js/Pages/Collections/Components/CollectionNavigation/CollectionNavigation.tsx
Labels: bugfix

#427 fix: gallery count handling
  resources/js/Contexts/DraftGalleriesContext.tsx
  resources/js/Pages/Galleries/MyGalleries/Index.tsx
  resources/js/app.tsx
Labels: bugfix

#431 fix: create gallery NFT image border color in dark mode
  resources/js/Components/Galleries/NftGalleryCard.blocks.tsx
Labels: bugfix

#437 chore: update JavaScript dependencies
  package.json
  pnpm-lock.yaml
Labels: chore

#433 fix: hide reports for editors in admin area
  app/Policies/ReportPolicy.php
  config/permission.php
  database/migrations/2023_11_10_153934_sync_permissions_and_roles.php
  tests/App/Policies/ReportPolicyTest.php
  tests/App/Support/PermissionRepositoryTest.php
Labels: bugfix

#438 fix: explicitly define admin guard when checking access permission
  app/Models/User.php
  tests/App/Models/UserTest.php
Labels: bugfix

#444 chore: update gallery delete modal text
  lang/en/pages.php
  resources/js/I18n/Locales/en.json
Labels: chore

#417 refactor: adjustments on gallery draft hook
  resources/js/Components/Collections/CollectionActions/CollectionActions.test.tsx
  resources/js/Components/ConfirmDeletionDialog.tsx
  resources/js/Components/Drafts/NftGalleryDraftCard.blocks.test.tsx
  resources/js/Components/Drafts/NftGalleryDraftCard.blocks.tsx
  resources/js/Components/Drafts/NftGalleryDraftCard.test.tsx
  resources/js/Components/Drafts/NftGalleryDraftCard.tsx
  resources/js/Contexts/DraftGalleriesContext.tsx
  resources/js/Pages/Galleries/MyGalleries/Components/MyGallerySidebar.tsx
  resources/js/Pages/Galleries/MyGalleries/Create.tsx
  resources/js/Pages/Galleries/MyGalleries/Index.tsx
  resources/js/Pages/Galleries/MyGalleries/Layout.tsx
  resources/js/Pages/Galleries/hooks/useGalleryDrafts.test.ts
  resources/js/Pages/Galleries/hooks/useGalleryDrafts.ts
  resources/js/Pages/Galleries/hooks/useGalleryForm.ts
  resources/js/Pages/Galleries/hooks/useWalletDraftGalleries.test.ts
  resources/js/Pages/Galleries/hooks/useWalletDraftGalleries.ts
  resources/js/Pages/Galleries/hooks/useWalletDraftGallery.ts
  resources/js/app.tsx
Labels: refactor

#446 fix: my galleries sidebar colors
  resources/js/Components/Sidebar/SidebarItem.tsx
  resources/js/Pages/Galleries/MyGalleries/Components/MyGalleryListboxMenu.tsx
Labels: bugfix

#448 refactor: gallery delete button color
  resources/js/Components/Galleries/DeleteGalleryButton.tsx
Labels: refactor

#376 feat: handle gallery drafts on wallet switches
  resources/js/Components/Galleries/NftGridEditable.tsx
  resources/js/Pages/Galleries/MyGalleries/Create.tsx
  resources/js/Pages/Galleries/hooks/useGalleryForm.ts
Labels: feature

#450 fix: auth overlay on create gallery page
  resources/js/Pages/Galleries/MyGalleries/Create.tsx
Labels: bugfix

#456 fix: prevent from saving draft on disabled state
  resources/js/Pages/Galleries/hooks/useWalletDraftGallery.ts
Labels: bugfix

#451 fix: reload collections when wallet switches
  resources/js/Pages/Collections/Index.tsx
Labels: bugfix

#453 fix: delete gallery not asking for signature
  resources/js/Pages/Galleries/MyGalleries/Create.tsx
  resources/js/Pages/Galleries/MyGalleries/Index.tsx
Labels: bugfix

#458 fix: display same sign overlay on all cases
  resources/js/Components/Layout/AuthOverlay/AuthOverlay.blocks.tsx
  resources/js/Components/Layout/AuthOverlay/AuthOverlay.test.tsx
  resources/js/Components/Layout/AuthOverlay/AuthOverlay.tsx
Labels: bugfix

#452 fix: disconnect wallet exception on my galleries
  resources/js/Pages/Galleries/MyGalleries/Index.tsx
Labels: bugfix

#435 feat: implement gallery drafts limit modal
  lang/en/pages.php
  resources/js/Components/ConfirmationDialog.tsx
  resources/js/Components/Drafts/NftGalleryDraftCard.tsx
  resources/js/Components/Galleries/DraftsLimitDialog.test.tsx
  resources/js/Components/Galleries/DraftsLimitDialog.tsx
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Galleries/MyGalleries/Create.tsx
  resources/js/Pages/Galleries/hooks/useWalletDraftGalleries.ts
Labels: feature

#459 fix: use tooltip on create gallery button disabled state
  resources/js/Pages/Galleries/Components/GalleryGuestBanner/index.tsx
  resources/js/Pages/Galleries/Index.tsx
  resources/js/Pages/Galleries/MyGalleries/Components/CreateGalleryButton.tsx
Labels: bugfix

#445 fix: properly redirect to galleries when clicking cancel
  resources/js/Pages/Galleries/MyGalleries/Create.tsx
  resources/js/Pages/Galleries/hooks/useWalletDraftGalleries.ts
Labels: bugfix

#461 refactor: show N/A when no value for draft gallery cards
  resources/js/Components/Drafts/NftGalleryDraftCard.blocks.test.tsx
  resources/js/Components/Drafts/NftGalleryDraftCard.blocks.tsx
Labels: refactor

#465 chore: add comment for reactivity regarding `indexedDB`
  resources/js/Pages/Galleries/hooks/useWalletDraftGalleries.ts
Labels: chore

#463 feat: show toast message when a draft is removed
  lang/en/pages.php
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Galleries/MyGalleries/Index.tsx
Labels: feature

#464 fix: count nft collections upon saving draft
  resources/js/Components/Drafts/NftGalleryDraftCard.test.tsx
  resources/js/Components/Drafts/NftGalleryDraftCard.tsx
  resources/js/Pages/Galleries/MyGalleries/Create.tsx
  resources/js/Pages/Galleries/hooks/useGalleryForm.ts
  resources/js/Pages/Galleries/hooks/useWalletDraftGalleries.test.ts
  resources/js/Pages/Galleries/hooks/useWalletDraftGalleries.ts
  resources/js/Pages/Galleries/hooks/useWalletDraftGallery.ts
Labels: bugfix

#470 fix: do not disable create gallery button on gallery overview page
  resources/js/Pages/Galleries/Components/GalleryGuestBanner/index.tsx
  resources/js/Pages/Galleries/Index.tsx
  resources/js/Pages/Galleries/MyGalleries/Components/CreateGalleryButton.tsx
Labels: bugfix

#469 refactor: reduce sql queries for gallery page
  app/Data/Gallery/GalleryData.php
  app/Models/Gallery.php
  app/Support/Cache/GalleryCache.php
  tests/App/Models/GalleryTest.php
Labels: refactor

#473 fix: delete draft if empty when navigating away
  resources/js/Pages/Galleries/MyGalleries/Create.tsx
  resources/js/Pages/Galleries/hooks/useWalletDraftGalleries.ts
  resources/js/Pages/Galleries/hooks/useWalletDraftGallery.ts
Labels: bugfix

#491 refactor: use "success" toast when removing drafts
  resources/js/Components/Galleries/GalleryPage/GalleryActionToolbar/GalleryDraftDeleteButton.tsx
  resources/js/Pages/Galleries/MyGalleries/Index.tsx
Labels: refactor

#496 refactor: clean up `CryptoCurrencyDecimals` enum
  app/Enums/CryptoCurrencyDecimals.php
Labels: refactor

#490 feat: add top/floor price tabs for filtering
  app/Http/Controllers/CollectionController.php
  lang/en/common.php
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Collections/Components/PopularCollectionsSorting/PopularCollectionsSorting.tsx
  resources/js/Pages/Collections/Components/PopularCollectionsSorting/index.tsx
  resources/js/Pages/Collections/Index.tsx
Labels: feature

#501 refactor: load collections in general instead of user specific
  app/Http/Controllers/CollectionController.php
Labels: refactor

#502 refactor: display icon in admin panel when collection is featured
  app/Filament/Resources/CollectionResource.php
Labels: refactor

#503 fix: phpunit misconfiguration
  phpunit.xml
Labels: bugfix

#492 refactor: add "view all" button to popular collections
  resources/js/Pages/Collections/Index.tsx
Labels: refactor

#495 feat: collections chain filter
  app/Http/Controllers/CollectionController.php
  app/Models/Collection.php
  lang/en/common.php
  resources/icons/ethereum.svg
  resources/icons/polygon.svg
  resources/js/Components/Networks/NetworkIcon/NetworkIcon.test.tsx
  resources/js/Components/Networks/NetworkIcon/NetworkIcon.tsx
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Collections/Components/PopularCollectionsFilters/ChainFilters.tsx
  resources/js/Pages/Collections/Components/PopularCollectionsFilters/index.tsx
  resources/js/Pages/Collections/Index.tsx
  resources/js/icons.tsx
  tests/App/Models/CollectionTest.php
Labels: feature

#320 feat: spread coingecko jobs
  app/Console/Commands/DependsOnCoingeckoRateLimit.php
  app/Console/Commands/MarketData/FetchPriceHistory.php
  app/Console/Commands/MarketData/UpdateTokenDetails.php
  app/Console/Commands/MarketData/VerifySupportedCurrencies.php
  app/Console/Kernel.php
  app/Jobs/FetchPriceHistory.php
  tests/App/Console/Commands/MarketData/FetchPriceHistoryTest.php
  tests/App/Console/Commands/MarketData/UpdateTokenDetailsTest.php
  tests/App/Console/Commands/MarketData/VerifySupportedCurrenciesTest.php
Labels: feature

#508 chore: update PHP dependencies
  composer.json
  composer.lock
  public/css/filament/forms/forms.css
  public/js/filament/forms/components/file-upload.js
Labels: chore

#506 fix: remove login requirement for collections overview page
  app/Http/Controllers/CollectionController.php
Labels: feature

#507 refactor: limit featured collections to 4 on admin panel
  app/Filament/Resources/CollectionResource.php
Labels: feature

#500 feat: youtube and twitter embeds for articles
  package.json
  pnpm-lock.yaml
  resources/css/_article.css
  resources/js/Pages/Articles/Components/ArticleContent.tsx
  resources/js/Utils/Remark/remarkFigurePlugin.test.ts
  resources/js/Utils/Remark/remarkFigurePlugin.ts
  resources/js/Utils/Remark/remarkPlugins.contract.ts
  resources/js/Utils/Remark/remarkTwitterEmbedPlugin.test.ts
  resources/js/Utils/Remark/remarkTwitterEmbedPlugin.ts
  resources/js/Utils/Remark/remarkYoutubeEmbedPlugin.test.ts
  resources/js/Utils/Remark/remarkYoutubeEmbedPlugin.ts
Labels: feature

#494 feat: featured collections carousel
  app/Data/Collections/CollectionFeaturedData.php
  app/Http/Controllers/CollectionController.php
  app/Models/Collection.php
  database/factories/CollectionFactory.php
  database/seeders/NftSeeder.php
  lang/en/common.php
  lang/en/pages.php
  resources/css/app.css
  resources/js/Components/Collections/PopularCollectionsTable/PopularCollectionsTable.blocks.tsx
  resources/js/Components/GridHeader.test.tsx
  resources/js/Components/GridHeader.tsx
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Collections/Components/CollectionImage/CollectionImageWithIcon.tsx
  resources/js/Pages/Collections/Components/CollectionImage/index.tsx
  resources/js/Pages/Collections/Components/CollectionNft/CollectionNft.tsx
  resources/js/Pages/Collections/Components/FeaturedCollections/FeaturedCollectionNfts.tsx
  resources/js/Pages/Collections/Components/FeaturedCollections/FeaturedCollectionStats.tsx
  resources/js/Pages/Collections/Components/FeaturedCollections/FeaturedCollectionsCarousel.tsx
  resources/js/Pages/Collections/Components/FeaturedCollections/FeaturedCollectionsItem.tsx
  resources/js/Pages/Collections/Components/FeaturedCollections/index.tsx
  resources/js/Pages/Collections/Index.tsx
  resources/js/Utils/Currency.test.tsx
  resources/js/Utils/Currency.tsx
  resources/types/generated.d.ts
  tests/App/Http/Controllers/CollectionControllerTest.php
Labels: feature

#510 refactor: scope for featured collections
  app/Filament/Resources/CollectionResource.php
  app/Models/Collection.php
  database/factories/CollectionFactory.php
  tests/App/Models/CollectionTest.php
Labels: refactor

#509 chore: update JavaScript dependencies
  package.json
  pnpm-lock.yaml
  resources/js/Components/Tooltip/use-tooltip.ts
  resources/js/Hooks/useClipboard.ts
Labels: chore

#474 refactor: move create gallery components to a new file
  resources/js/Pages/Galleries/MyGalleries/Components/CreateGalleryForm.tsx
  resources/js/Pages/Galleries/MyGalleries/Create.tsx
Labels: refactor

#512 fix: add padding for galleries and draft cards in my galleries page
  resources/js/Pages/Galleries/MyGalleries/Index.tsx
Labels: bugfix

#505 refactor: adjust collection carousel ui
  resources/js/Components/Carousel/Carousel.test.tsx
  resources/js/Components/Carousel/Carousel.tsx
  resources/js/Components/Carousel/Hooks/useCarouselAutoplay.test.ts
  resources/js/Components/Carousel/Hooks/useCarouselAutoplay.ts
  resources/js/Pages/Collections/Components/CollectionNft/CollectionNft.tsx
  resources/js/Pages/Collections/Components/FeaturedCollections/FeaturedCollectionNfts.tsx
  resources/js/Pages/Collections/Components/FeaturedCollections/FeaturedCollectionsCarousel.tsx
  resources/js/Pages/Collections/Components/FeaturedCollections/FeaturedCollectionsItem.tsx
  tailwind.config.js
Labels: refactor

#488 refactor: migrate `getNFTMetadataBatch` to Alchemy v3
  app/Console/Commands/LiveDumpNfts.php
  app/Http/Client/Alchemy/AlchemyPendingRequest.php
  tests/App/Console/Commands/LiveDumpNftsTest.php
  tests/App/Http/Client/Alchemy/AlchemyPendingRequestTest.php
  tests/App/Jobs/FetchCollectionBannerBatchTest.php
  tests/App/Jobs/FetchCollectionMetadataJobTest.php
  tests/App/Jobs/RefreshNftMetadataTest.php
  tests/App/Services/Web3/Alchemy/AlchemyWeb3DataProviderTest.php
  tests/fixtures/alchemy/contract-metadata-batch.json
  tests/fixtures/alchemy/contract_metadata_batch.json
  tests/fixtures/alchemy/get_nfts_for_blacklisted_collection.json
  tests/fixtures/alchemy/get_nfts_for_collection.json
  tests/fixtures/alchemy/get_nfts_for_collection_exceeding_max_cap_supply.json
  tests/fixtures/alchemy/get_nfts_for_collection_last_page.json
  tests/fixtures/alchemy/get_nfts_for_collection_without_total_supply.json
  tests/fixtures/alchemy/get_nfts_for_contract.json
  tests/fixtures/alchemy/nft_batch_metadata.json
  tests/fixtures/alchemy/nft_batch_metadata_2.json
  tests/fixtures/alchemy/nft_batch_metadata_with_error.json
  tests/fixtures/alchemy/nfts.json
  tests/fixtures/alchemy/nfts_array_collection_array_traits.json
  tests/fixtures/alchemy/nfts_array_description.json
  tests/fixtures/alchemy/nfts_array_description_with_banner.json
  tests/fixtures/alchemy/nfts_array_unexpected_traits.json
  tests/fixtures/alchemy/nfts_array_valid.json
  tests/fixtures/alchemy/nfts_array_with_error.json
  tests/fixtures/alchemy/nfts_array_with_error_and_empty_metadata_metadata_object.json
  tests/fixtures/alchemy/nfts_array_with_error_and_empty_metadata_object.json
  tests/fixtures/alchemy/nfts_media.json
  tests/fixtures/alchemy/nfts_traits.json
Labels: refactor

#471 refactor: migrate `getNftsForCollection` to Alchemy v3
  app/Http/Client/Alchemy/AlchemyPendingRequest.php
Labels: refactor

#515 fix: display placeholder for articles tab
  resources/js/Pages/Articles/Components/ArticlesView.tsx
Labels: bugfix

#516 refactor: Alchemy API v3 migration
  app/Console/Commands/LiveDumpNfts.php
  app/Http/Client/Alchemy/AlchemyPendingRequest.php
  tests/App/Console/Commands/LiveDumpNftsTest.php
  tests/App/Console/Commands/LiveDumpWalletsTest.php
  tests/App/Http/Client/Alchemy/AlchemyPendingRequestTest.php
  tests/App/Jobs/FetchCollectionBannerBatchTest.php
  tests/App/Jobs/FetchCollectionMetadataJobTest.php
  tests/App/Jobs/FetchCollectionNftsTest.php
  tests/App/Jobs/FetchWalletNftsTest.php
  tests/App/Jobs/RefreshNftMetadataTest.php
  tests/App/Services/Web3/Alchemy/AlchemyWeb3DataProviderTest.php
  tests/fixtures/alchemy/contract-metadata-batch.json
  tests/fixtures/alchemy/contract_metadata_batch.json
  tests/fixtures/alchemy/get_nfts_for_blacklisted_collection.json
  tests/fixtures/alchemy/get_nfts_for_collection.json
  tests/fixtures/alchemy/get_nfts_for_collection_exceeding_max_cap_supply.json
  tests/fixtures/alchemy/get_nfts_for_collection_last_page.json
  tests/fixtures/alchemy/get_nfts_for_collection_without_total_supply.json
  tests/fixtures/alchemy/get_nfts_for_contract.json
  tests/fixtures/alchemy/get_nfts_for_contract_blacklisted.json
  tests/fixtures/alchemy/get_nfts_for_contract_exceeding_max_cap_supply.json
  tests/fixtures/alchemy/get_nfts_for_contract_without_total_supply.json
  tests/fixtures/alchemy/nft_batch_metadata.json
  tests/fixtures/alchemy/nft_batch_metadata_2.json
  tests/fixtures/alchemy/nft_batch_metadata_with_error.json
  tests/fixtures/alchemy/nfts.json
  tests/fixtures/alchemy/nfts_array_collection_array_traits.json
  tests/fixtures/alchemy/nfts_array_description.json
  tests/fixtures/alchemy/nfts_array_description_with_banner.json
  tests/fixtures/alchemy/nfts_array_unexpected_traits.json
  tests/fixtures/alchemy/nfts_array_valid.json
  tests/fixtures/alchemy/nfts_array_with_error.json
  tests/fixtures/alchemy/nfts_array_with_error_and_empty_metadata_metadata_object.json
  tests/fixtures/alchemy/nfts_array_with_error_and_empty_metadata_object.json
  tests/fixtures/alchemy/nfts_for_owner.json
  tests/fixtures/alchemy/nfts_for_owner_2.json
  tests/fixtures/alchemy/nfts_media.json
  tests/fixtures/alchemy/nfts_traits.json
Labels: refactor

#520 fix: adjust spacing for empty blocks in articles tab
  resources/js/Pages/Articles/Components/ArticlesView.tsx
Labels: bugfix

#519 feat: collection of the month placeholder
  app/Http/Controllers/CollectionController.php
  lang/en/pages.php
  resources/css/_collection.css
  resources/images/collections/vote-next-month-winners-dark.svg
  resources/images/collections/vote-next-month-winners.svg
  resources/js/Components/Collections/CollectionOfTheMonthWinners/CollectionOfTheMonthWinners.test.tsx
  resources/js/Components/Collections/CollectionOfTheMonthWinners/CollectionOfTheMonthWinners.tsx
  resources/js/Components/Collections/CollectionOfTheMonthWinners/index.tsx
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Collections/Index.tsx
  resources/js/images.ts
Labels: feature

#518 refactor: make FetchCollectionFloorPrice dispatch in sync
  app/Console/Commands/FetchCollectionFloorPrice.php
Labels: refactor

#521 feat: add vote button and timer
  lang/en/pages.php
  resources/css/_variables.css
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Collections/Components/CollectionOfTheMonth/CollectionOfTheMonth.tsx
  resources/js/Pages/Collections/Components/CollectionOfTheMonth/VoteCollection.tsx
  resources/js/Pages/Collections/Components/CollectionOfTheMonth/VoteCountdown.tsx
  resources/js/Pages/Collections/Components/CollectionOfTheMonth/index.tsx
  resources/js/Pages/Collections/Index.tsx
  tailwind.config.js
Labels: feature

#522 chore: add nomination link
  lang/en/pages.php
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Collections/Components/CollectionOfTheMonth/VoteCollection.tsx
Labels: chore
