Repository ArdentHQ/dashbrd, pull requests merged in 2023-10, with the labels that each got.

#172 fix: skip collection value update if no user is affected to prevent deadlock
  app/Support/Web3NftHandler.php
Labels: bugfix

#168 feat: fetch opensea slugs
  app/Console/Commands/FetchCollectionOpenseaSlug.php
  app/Console/Kernel.php
  app/Enums/OpenseaChain.php
  app/Http/Client/Opensea/Data/OpenseaNftDetails.php
  app/Http/Client/Opensea/OpenseaPendingRequest.php
  app/Jobs/FetchCollectionOpenseaSlug.php
  app/Support/Facades/Opensea.php
  database/seeders/NftSeeder.php
  tests/App/Console/Commands/FetchCollectionOpenseaSlugTest.php
  tests/App/Http/Client/Opensea/OpenseaPendingRequestTest.php
  tests/App/Jobs/FetchCollectionOpenseaSlugTest.php
  tests/fixtures/opensea/nft.json
  tests/fixtures/opensea/nft_not_found.json
Labels: feature

#173 refactor: add opensea icon to footer
  lang/en/urls.php
  resources/icons/brands/opensea-circle.svg
  resources/js/Components/PoweredByIcons.tsx
  resources/js/I18n/Locales/en.json
  resources/js/icons.tsx
Labels: refactor

#135 chore: update JavaScript dependencies
  .eslintrc.js
  package.json
  pnpm-lock.yaml
  resources/css/app.css
  resources/js/Components/BalanceHeader/BalanceHeader.test.tsx
  resources/js/Components/Buttons/Button.tsx
  resources/js/Components/Collections/CollectionActivityTable/CollectionActivityTable.blocks.tsx
  resources/js/Components/Collections/CollectionActivityTable/CollectionActivityTable.test.tsx
  resources/js/Components/Collections/CollectionsGrid/CollectionsGrid.test.tsx
  resources/js/Components/Collections/CollectionsTable/CollectionsTable.test.tsx
  resources/js/Components/Image/Image.test.tsx
  resources/js/Components/Layout/AuthOverlay/AuthOverlay.blocks.tsx
  resources/js/Components/Pagination/PageInput.test.tsx
  resources/js/Components/Table/TableHeader.tsx
  resources/js/Components/Tokens/TokenTransactions/TokenTransactions.blocks.test.tsx
  resources/js/Components/Tokens/TokenTransactions/TokenTransactions.blocks.tsx
  resources/js/Components/Tooltip/use-tooltip.ts
  resources/js/Components/TransactionStatuses/TransactionStatusError.tsx
  resources/js/Components/WalletTokens/WalletTokensTable.blocks.test.tsx
  resources/js/Components/WalletTokens/WalletTokensTable.test.tsx
  resources/js/Hooks/useClipboard.ts
  resources/js/Tests/Factories/Gallery/GalleryDataFactory.ts
  resources/js/Tests/Factories/Nfts/NftActivitiesDataFactory.ts
  resources/js/Tests/Mocks/Handlers/index.ts
  resources/js/Tests/Mocks/Handlers/viewport.ts
  resources/js/Tests/testing-library.tsx
  vitest.config.ts
  vitest.setup.tsx
Labels: chore

#111 feat: marketplace links in NFT details page
  app/Data/Collections/CollectionData.php
  app/Data/Collections/CollectionDetailData.php
  app/Data/Gallery/GalleryCollectionData.php
  app/Data/Nfts/NftCollectionData.php
  app/Models/Collection.php
  app/Support/Web3NftHandler.php
  lang/en/urls.php
  resources/js/Components/Collections/Nfts/NftHeader/NftHeader.test.tsx
  resources/js/Components/Collections/Nfts/NftHeader/NftHeader.tsx
  resources/js/Components/Marketplaces.test.tsx
  resources/js/Components/Marketplaces.tsx
  resources/js/I18n/Locales/en.json
  resources/js/Tests/Factories/Collections/CollectionDetailDataFactory.ts
  resources/js/Tests/Factories/Collections/CollectionFactory.ts
  resources/js/Tests/Factories/Nfts/NFTCollectionFactory.ts
  resources/js/Tests/SampleData/SampleCollection.ts
  resources/js/Tests/SampleData/SampleNftCollection.ts
  resources/types/generated.d.ts
  tests/App/Models/CollectionTest.php
Labels: feature

#174 feat: dark mode for pagination
  resources/js/Components/Form/Listbox/Listbox.blocks.tsx
  resources/js/Components/Form/Listbox/Listbox.styles.ts
  resources/js/Components/Pagination/Ellipsis.tsx
  resources/js/Components/Pagination/MobileButton.tsx
  resources/js/Components/Pagination/PageInput.tsx
  resources/js/Components/Pagination/PageLink.tsx
  resources/js/Components/Pagination/Pagination.tsx
  resources/js/Components/Pagination/SelectPageLimit.tsx
  resources/js/Pages/Collections/Components/CollectionNft/CollectionNft.tsx
  resources/js/Pages/Collections/Components/CollectionNftsGrid/CollectionNftsGrid.tsx
Labels: feature

#179 fix: do not overwrite floor price if exists when fetching wallet NFTs
  app/Support/Web3NftHandler.php
  tests/App/Support/Web3NftHandlerTest.php
Labels: bugfix

#171 feat: new header design for collections page
  resources/js/Components/Buttons/ButtonLink.tsx
  resources/js/Pages/Collections/Components/CollectionsHeading/CollectionsHeading.tsx
Labels: feature

#178 fix: change publish button colors in create a gallery page
  resources/js/Components/Galleries/GalleryPage/GalleryActionToolbar/GalleryActionToolbar.tsx
Labels: bugfix

#138 feat: display marketplace icons for collections
  resources/js/Components/Collections/CollectionHeader/CollectionHeaderTop.test.tsx
  resources/js/Components/Collections/CollectionHeader/CollectionHeaderTop.tsx
  resources/js/Components/Marketplaces.tsx
Labels: feature

#81 feat: add network filter to collections overview
  app/Data/Network/NetworkWithCollectionsData.php
  app/Http/Controllers/CollectionController.php
  lang/en/common.php
  lang/en/pages.php
  resources/js/Components/Networks/NetworkIcon/NetworkIcon.test.tsx
  resources/js/Components/Networks/NetworkIcon/NetworkIcon.tsx
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Collections/Components/CollectionsFilter/CollectionsFilter.tsx
  resources/js/Pages/Collections/Components/CollectionsFilter/CollectionsFilterPopover.tsx
  resources/js/Pages/Collections/Components/CollectionsFilter/CollectionsNetworksFilter.tsx
  resources/js/Pages/Collections/Hooks/useCollections.ts
  resources/js/Pages/Collections/Index.tsx
  resources/types/generated.d.ts
  tests/App/Http/Controllers/CollectionControllerTest.php
Labels: feature

#175 feat: dark mode for tabs, dropdowns, toasts and sidebars
  resources/js/Components/Form/InputGroup.tsx
  resources/js/Components/Form/InputLabel.tsx
  resources/js/Components/Form/Listbox/Listbox.blocks.tsx
  resources/js/Components/Form/Listbox/Listbox.styles.ts
  resources/js/Components/Form/TextInput/TextInput.styles.ts
  resources/js/Components/Form/TextInput/TextInput.tsx
  resources/js/Components/Heading.tsx
  resources/js/Components/Sidebar/Sidebar.tsx
  resources/js/Components/Sidebar/SidebarHead.tsx
  resources/js/Components/Sidebar/SidebarItem.tsx
  resources/js/Components/Slider.tsx
  resources/js/Components/SliderFormActionsToolbar/SliderFormActionsToolbar.tsx
  resources/js/Components/Tabs.tsx
  resources/js/Components/Toast/Toast.blocks.tsx
  resources/js/Components/Toast/Toast.tsx
  resources/js/Components/Tokens/TokenLogo.tsx
  resources/js/Components/TransactionFormSlider/Components/SearchAssets/SearchAssets.tsx
  resources/js/Components/TransactionFormSlider/Components/SelectAsset/SelectAsset.tsx
  resources/js/Components/TransactionFormSlider/Steps/InitiationStep.tsx
  resources/js/Components/TransactionFormSlider/TransactionReceiveForm.tsx
  resources/js/Components/__snapshots__/Heading.test.tsx.snap
  resources/js/Pages/Settings/Components/SettingsListboxMenu/SettingsListboxMenu.tsx
  resources/js/Pages/Settings/Form.tsx
Labels: feature

#181 feat: add back button to settings signature page
  resources/js/Components/Layout/AuthOverlay/AuthOverlay.blocks.tsx
  resources/js/Components/Layout/AuthOverlay/AuthOverlay.contracts.ts
  resources/js/Components/Layout/AuthOverlay/AuthOverlay.test.tsx
  resources/js/Components/Layout/AuthOverlay/AuthOverlay.tsx
  resources/js/Components/Layout/LayoutWrapper.tsx
  resources/js/Pages/Settings/General.tsx
  resources/js/Pages/Settings/Layout.tsx
Labels: feature

#158 feat: add article overview page
  app/Data/Articles/ArticleData.php
  app/Data/Articles/ArticlesData.php
  app/Data/Articles/FeaturedCollectionData.php
  app/Http/Controllers/CollectionController.php
  app/Models/Article.php
  app/Models/Collection.php
  database/migrations/2023_09_20_124432_create_articles_table.php
  database/seeders/ArticleSeeder.php
  lang/en/pages.php
  resources/js/Components/Articles/Article.blocks.test.tsx
  resources/js/Components/Articles/Article.blocks.tsx
  resources/js/Components/Articles/ArticleCard/ArticleCard.blocks.test.tsx
  resources/js/Components/Articles/ArticleCard/ArticleCard.test.tsx
  resources/js/Components/Articles/ArticleCard/ArticleCard.tsx
  resources/js/Components/Articles/ArticleCard/ArticleCardContracts.ts
  resources/js/Components/Articles/ArticleListItem/ArticleListItem.test.tsx
  resources/js/Components/Articles/ArticleListItem/ArticleListItem.tsx
  resources/js/Components/DisplayType.test.tsx
  resources/js/Components/DisplayType.tsx
  resources/js/Components/Skeleton/Skeleton.tsx
  resources/js/Components/SortDropdown.test.tsx
  resources/js/Components/SortDropdown.tsx
  resources/js/Hooks/useCollectionArticles.ts
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Collections/Components/Articles/ArticlePagination.tsx
  resources/js/Pages/Collections/Components/Articles/ArticleSortDropdown.tsx
  resources/js/Pages/Collections/Components/Articles/ArticlesGrid.tsx
  resources/js/Pages/Collections/Components/Articles/ArticlesList.tsx
  resources/js/Pages/Collections/Components/Articles/ArticlesTab.tsx
  resources/js/Pages/Collections/View.tsx
  resources/js/Utils/dates.test.ts
  resources/js/Utils/dates.ts
  resources/types/generated.d.ts
  routes/web.php
  stories/Articles/ArticleCard.stories.tsx
  stories/Articles/ArticleListItem.stories.tsx
  stories/Articles/FeaturedCollections.stories.tsx
  tests/App/Http/Controllers/CollectionControllerTest.php
  tests/App/Models/CollectionTest.php
Labels: feature

#184 fix: ambiguous ID reference with FetchCollectionsBannerBatch
  app/Console/Commands/FetchCollectionBannerBatch.php
  tests/App/Console/Commands/FetchCollectionBannerBatchTest.php
Labels: bugfix

#187 feat: update jest-dom to v6
  package.json
  pnpm-lock.yaml
  resources/js/Tests/testing-library.tsx
Labels: feature

#191 fix: back button behavior for settings page
  resources/js/Components/Layout/AuthOverlay/AuthOverlay.blocks.tsx
Labels: bugfix

#176 refactor: soft delete gallery nfts
  app/Http/Controllers/MyGalleryController.php
  app/Models/Gallery.php
  database/migrations/2023_09_22_145935_update_prune_galleries_trigger.php
  database/migrations/2023_10_02_220405_add_deleted_at_column_to_gallery_nfts.php
  database/migrations/2023_10_02_223941_add_deleted_at_to_galleries_table.php
  database/migrations/2023_10_02_230839_create_recover_galleries_nfts_trigger.php
  database/migrations/2023_10_02_230839_create_recover_galleries_trigger.php
  queries/migrations.create_prune_galleries_trigger.sql
  queries/migrations.create_recover_galleries_nfts_trigger.sql
  queries/migrations.create_recover_galleries_trigger.sql
  tests/App/Jobs/FetchWalletNftsTest.php
  tests/App/Models/GalleryTest.php
Labels: refactor

#194 chore: update PHP dependencies
  composer.json
  composer.lock
  public/css/filament/filament/app.css
  public/js/filament/forms/components/markdown-editor.js
Labels: chore

#192 feat: dark mode for gallery page
  resources/css/_buttons.css
  resources/css/_gallery.css
  resources/css/_skeletons.css
  resources/images/gallery/guest-banner-dark.svg
  resources/images/gallery/guest-banner-small-dark.svg
  resources/js/Components/Galleries/NftGalleryCard.blocks.tsx
  resources/js/Components/Galleries/NftGalleryCard.tsx
  resources/js/Components/Skeleton/Skeleton.tsx
  resources/js/Components/Skeleton/__snapshots__/Skeleton.test.tsx.snap
  resources/js/Pages/Galleries/Components/GalleryGuestBanner/index.tsx
  resources/js/Pages/Galleries/Components/GallerySkeleton/GallerySkeleton.tsx
Labels: feature

#193 feat: dark mode for overlays
  resources/css/app.css
  resources/icons/brands/opensea-circle.svg
  resources/images/auth-connect-wallet-dark.svg
  resources/images/auth-install-wallet-dark.svg
  resources/js/Components/Layout/AuthOverlay/AuthOverlay.test.tsx
  resources/js/Components/Layout/AuthOverlay/AuthOverlay.tsx
  resources/js/Components/Layout/LayoutWrapper.test.tsx
  resources/js/Components/Layout/NoNftsOverlay/NoNftsOverlay.test.tsx
  resources/js/Components/Layout/NoNftsOverlay/NoNftsOverlay.tsx
  resources/js/Components/Layout/Overlay/Overlay.blocks.tsx
  resources/js/Components/Layout/Overlay/Overlay.tsx
  resources/js/images.ts
Labels: feature

#196 chore: merge rc into main
  app/Console/Commands/FetchCollectionBannerBatch.php
  app/Http/Controllers/MyGalleryController.php
  app/Models/Gallery.php
  database/migrations/2023_09_22_145935_update_prune_galleries_trigger.php
  database/migrations/2023_10_02_220405_add_deleted_at_column_to_gallery_nfts.php
  database/migrations/2023_10_02_223941_add_deleted_at_to_galleries_table.php
  database/migrations/2023_10_02_230839_create_recover_galleries_nfts_trigger.php
  database/migrations/2023_10_02_230839_create_recover_galleries_trigger.php
  queries/migrations.create_prune_galleries_trigger.sql
  queries/migrations.create_recover_galleries_nfts_trigger.sql
  queries/migrations.create_recover_galleries_trigger.sql
  tests/App/Console/Commands/FetchCollectionBannerBatchTest.php
  tests/App/Jobs/FetchWalletNftsTest.php
  tests/App/Models/GalleryTest.php
Labels: chore

#186 refactor: use abortController for axios instead of axios-cancel
  package.json
  pnpm-lock.yaml
  resources/js/app.tsx
Labels: refactor

#180 fix: update overlay styles when switching address
  resources/js/Components/Layout/LayoutWrapper.tsx
  resources/js/Pages/Galleries/MyGalleries/Create.tsx
Labels: bugfix

#197 fix: update nft pagination arguments in gallery overview page
  app/Data/Gallery/GalleryData.php
Labels: bugfix

#190 refactor: remove unnecessary database queries from wallet data
  app/Data/Token/TokenData.php
  app/Data/Wallet/WalletData.php
  app/Data/Wallet/WalletNftData.php
  app/Support/Cache/UserCache.php
  resources/js/Tests/Factories/Wallet/WalletFactory.ts
  resources/js/Tests/Factories/Wallet/WalletNftDataFactory.ts
  resources/types/generated.d.ts
  tests/App/Http/Middleware/HandleInertiaRequestsTest.php
Labels: refactor

#189 feat: add articles page
  app/Http/Controllers/ArticleController.php
  app/Models/Article.php
  database/seeders/ArticleSeeder.php
  lang/en/metatags.php
  lang/en/pages.php
  resources/css/app.css
  resources/js/Components/Articles/Article.blocks.tsx
  resources/js/Components/Articles/ArticleCard/ArticleCard.tsx
  resources/js/Components/Articles/ArticleCard/ArticleCardSkeleton.test.tsx
  resources/js/Components/Articles/ArticleCard/ArticleCardSkeleton.tsx
  resources/js/Components/Articles/ArticleListItem/ArticleListItem.tsx
  resources/js/Components/Articles/ArticleListItem/ArticleListItemSkeleton.test.tsx
  resources/js/Components/Articles/ArticleListItem/ArticleListItemSkeleton.tsx
  resources/js/Components/Carousel/Carousel.tsx
  resources/js/Components/Navbar/AppMenu.test.tsx
  resources/js/Components/Navbar/AppMenu.tsx
  resources/js/Components/Navbar/MobileMenu.test.tsx
  resources/js/Components/Navbar/MobileMenu.tsx
  resources/js/Components/Navbar/UserDetails.test.tsx
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Articles/Components/ArticlesView.tsx
  resources/js/Pages/Articles/Components/LatestArticles.tsx
  resources/js/Pages/Articles/Hooks/useArticles.ts
  resources/js/Pages/Articles/Index.tsx
  resources/js/Pages/Collections/Components/Articles/ArticleSortDropdown.tsx
  resources/js/Pages/Collections/Components/Articles/ArticlesGrid.tsx
  resources/js/Pages/Collections/Components/Articles/ArticlesList.tsx
  resources/js/Pages/Collections/Components/Articles/ArticlesTab.tsx
  resources/js/Pages/Collections/Hooks/useCollectionArticles.ts
  resources/js/Tests/testing-library.tsx
  resources/js/Types/app.ts
  routes/web.php
  tests/App/Http/Controllers/ArticleControllerTest.php
  tests/App/Models/ArticleTest.php
Labels: feature

#198 refactor: add sort by name and query performance
  app/Http/Controllers/CollectionController.php
  app/Http/Controllers/MyGalleryCollectionController.php
  app/Models/Collection.php
  app/Models/User.php
  tests/App/Models/CollectionTest.php
Labels: refactor

#202 fix: user dropdown light mode UI issue
  resources/js/Components/Navbar/MobileMenu.tsx
  resources/js/Components/Navbar/UserDetails.tsx
Labels: bugfix

#204 feat: article view route
  app/Data/Articles/FeaturedCollectionData.php
  app/Http/Controllers/ArticleController.php
  app/Models/Article.php
  lang/en/metatags.php
  resources/js/Components/Articles/ArticleCard/ArticleCard.tsx
  resources/js/Components/Articles/ArticleListItem/ArticleListItem.tsx
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Articles/Show.tsx
  routes/web.php
  tests/App/Http/Controllers/ArticleControllerTest.php
  tests/App/Models/ArticleTest.php
Labels: feature

#206 refactor: simplify query for retrieving collections for a signed wallet
  app/Models/Collection.php
  database/factories/WalletFactory.php
  tests/App/Models/CollectionTest.php
  tests/App/Support/SignatureTest.php
Labels: refactor

#211 fix: correct colors for create gallery button
  resources/js/Pages/Galleries/Components/GalleryGuestBanner/index.tsx
Labels: bugfix

#128 refactor: batch nft metadata requests
  app/Http/Client/Alchemy/AlchemyPendingRequest.php
  app/Http/Controllers/RefreshedNftController.php
  app/Jobs/RefreshNftMetadata.php
  app/Providers/AppServiceProvider.php
  app/Services/Web3/Alchemy/AlchemyWeb3DataProvider.php
  app/Support/Facades/Alchemy.php
  app/Support/Web3NftHandler.php
  database/migrations/2023_09_22_112746_metadata_update_requested_at.php
  tests/App/Http/Client/Alchemy/AlchemyPendingRequestTest.php
  tests/App/Http/Controllers/RefreshedNftControllerTest.php
  tests/App/Jobs/RefreshNftMetadataTest.php
  tests/App/Services/Web3/Alchemy/AlchemyWeb3DataProviderTest.php
  tests/fixtures/alchemy/nft_batch_metadata.json
Labels: refactor

#203 fix: make collections grid view respect list view sorting
  resources/js/Components/Collections/CollectionsGrid/CollectionsGrid.test.tsx
  resources/js/Components/Collections/CollectionsGrid/CollectionsGrid.tsx
  resources/js/Components/Collections/CollectionsTable/CollectionsTable.tsx
Labels: bugfix

#212 fix: flaky wallet test
  tests/App/Models/WalletTest.php
Labels: bugfix

#208 feat: dark mode for gallery details page
  resources/css/_buttons.css
  resources/images/monkey.svg
  resources/js/Components/Buttons/LikeButton.tsx
  resources/js/Components/FeaturedCollectionsBanner/FeaturedCollectionsBanner.tsx
  resources/js/Components/Galleries/GalleryPage/GalleryCard.tsx
  resources/js/Components/Galleries/GalleryPage/GalleryCurator.tsx
  resources/js/Components/Galleries/GalleryPage/GalleryHeading.tsx
  resources/js/Components/Galleries/GalleryPage/GalleryNftsNft.tsx
  resources/js/Components/Layout/AuthOverlay/AuthOverlay.blocks.tsx
  resources/js/Components/OnboardingPanel.tsx
  tailwind.config.js
Labels: feature

#169 feat: rate limit opensea requests
  app/Console/Commands/DependsOnOpenseaRateLimit.php
  app/Console/Commands/FetchCollectionFloorPrice.php
  app/Console/Commands/FetchCollectionOpenseaSlug.php
  app/Console/Commands/InteractsWithCollections.php
  app/Console/Kernel.php
  app/Jobs/FetchCollectionFloorPrice.php
  app/Jobs/FetchCollectionOpenseaSlug.php
  app/Models/Collection.php
  config/services.php
  tests/App/Console/Commands/FetchCollectionFloorPriceTest.php
  tests/App/Console/Commands/FetchCollectionOpenseaSlugTest.php
  tests/App/Jobs/FetchCollectionFloorPriceTest.php
  tests/App/Jobs/FetchCollectionOpenseaSlugTest.php
  tests/App/Models/CollectionTest.php
Labels: feature

#207 refactor: collection controller optimizations
  app/Data/Collections/CollectionData.php
  app/Data/Collections/SimpleNftData.php
  app/Http/Controllers/CollectionController.php
  app/Models/Collection.php
  app/Models/Nft.php
  composer.json
  composer.lock
  resources/js/Components/Collections/CollectionCard/CollectionCard.test.tsx
  resources/js/Components/Collections/CollectionCard/CollectionCard.tsx
  resources/js/Components/Collections/CollectionCoverImages/CollectionCoverImages.tsx
  resources/js/Components/Collections/CollectionImages/CollectionImages.tsx
  resources/js/Components/Collections/CollectionsGrid/CollectionsGrid.test.tsx
  resources/js/Components/Collections/CollectionsGrid/CollectionsGrid.tsx
  resources/js/Components/Collections/CollectionsTable/CollectionsTable.contracts.ts
  resources/js/Components/Collections/CollectionsTable/CollectionsTable.test.tsx
  resources/js/Components/Collections/CollectionsTable/CollectionsTable.tsx
  resources/js/Components/Collections/CollectionsTable/CollectionsTableItem.tsx
  resources/js/Pages/Collections/Hooks/useCollections.ts
  resources/js/Pages/Collections/Index.tsx
  resources/js/Tests/Factories/Collections/CollectionFactory.ts
  resources/js/Tests/SampleData/SampleCollection.ts
  resources/types/generated.d.ts
  tests/App/Http/Controllers/CollectionControllerTest.php
  tests/App/Models/CollectionTest.php
Labels: refactor

#217 refactor: fetch activity for collection as opposed to individual nft
  app/Console/Commands/FetchCollectionActivity.php
  app/Console/Commands/FetchNftActivity.php
  app/Console/Kernel.php
  app/Data/Gallery/GalleryNftData.php
  app/Data/Nfts/NftData.php
  app/Data/Web3/CollectionActivity.php
  app/Http/Client/Mnemonic/MnemonicPendingRequest.php
  app/Http/Controllers/CollectionController.php
  app/Http/Controllers/NftController.php
  app/Http/Controllers/RefreshedNftController.php
  app/Jobs/FetchCollectionActivity.php
  app/Jobs/FetchNftActivity.php
  app/Jobs/RefreshNftMetadata.php
  app/Models/Collection.php
  app/Models/Nft.php
  app/Models/NftActivity.php
  app/Services/Web3/Mnemonic/MnemonicWeb3DataProvider.php
  app/Support/Facades/Mnemonic.php
  app/Support/Web3NftHandler.php
  config/dashbrd.php
  database/factories/NftActivityFactory.php
  database/migrations/2023_09_07_135157_add_token_number_column_to_nft_activity_table.php
  database/migrations/2023_09_11_071352_add_activity_updated_at_column_to_collections_table.php
  resources/js/Pages/Collections/View.tsx
  resources/types/generated.d.ts
  tests/App/Console/Commands/FetchCollectionActivityTest.php
  tests/App/Console/Commands/FetchNftActivityTest.php
  tests/App/Http/Client/Mnemonic/MnemonicPendingRequestTest.php
  tests/App/Http/Controllers/NftControllerTest.php
  tests/App/Jobs/FetchCollectionActivityTest.php
  tests/App/Jobs/FetchNftActivityTest.php
  tests/App/Models/CollectionTest.php
  tests/App/Models/NftActivityTest.php
  tests/App/Models/NftTest.php
  tests/App/Services/Web3/Mnemonic/MnemonicWeb3DataProviderTest.php
Labels: refactor

#225 fix: add `typeNumeric` macro to migrations
  database/migrations/2023_09_07_135157_add_token_number_column_to_nft_activity_table.php
Labels: bugfix

#222 refactor: add title length rule
  app/Filament/Resources/ArticleResource.php
Labels: refactor

#223 feat: article cover image
  app/Data/Articles/ArticleData.php
  app/Filament/Resources/ArticleResource.php
  app/Http/Controllers/ArticleController.php
  app/Models/Article.php
  database/seeders/ArticleSeeder.php
  tests/App/Http/Controllers/ArticleControllerTest.php
Labels: feature

#220 feat: set article collections
  app/Filament/Resources/ArticleResource.php
  app/Filament/Resources/ArticleResource/Pages/CreateArticle.php
  app/Filament/Resources/ArticleResource/Pages/EditArticle.php
Labels: feature

#226 fix: handle existing local user when seeding
  database/seeders/UserSeeder.php
Labels: bugfix

#227 fix: featured articles images
  app/Data/Articles/FeaturedCollectionData.php
  app/Models/Article.php
Labels: bugfix

#229 chore: add dummy articles
  database/seeders/ArticleSeeder.php
  database/seeders/fixtures/articles/articles.json
  database/seeders/fixtures/articles/images/axolittles-cute-animated-axolotl-nfts.png
  database/seeders/fixtures/articles/images/cryowar-epic-blockchain-arena-brawler.png
  database/seeders/fixtures/articles/images/defi-spotlight-apricot-finance.png
  database/seeders/fixtures/articles/images/discovery-of-the-day-abracadabramoney.png
  database/seeders/fixtures/articles/images/discovery-of-the-day-approving-corgis.png
  database/seeders/fixtures/articles/images/discovery-of-the-day-cosmo-kitties.png
  database/seeders/fixtures/articles/images/discovery-of-the-day-mini-monkey-mafia.png
  database/seeders/fixtures/articles/images/discovery-of-the-day-samurai-doge.png
  database/seeders/fixtures/articles/images/embracing-nfts-naturally-woodies.png
  database/seeders/fixtures/articles/images/fang-gang-fangtastically-fresh-nfts.png
  database/seeders/fixtures/articles/images/frontier-online-blockchain-battle-royale.png
  database/seeders/fixtures/articles/images/gamified-nft-panda-monium-paladin-pandas.png
  database/seeders/fixtures/articles/images/memorable-experiences-lasting-bonds-get-protocol.png
  database/seeders/fixtures/articles/images/origins-and-aeons-of-nfts-skullx.png
  database/seeders/fixtures/articles/images/preview-lost-relics-alpha.png
  database/seeders/fixtures/articles/images/scaling-peeling-back-the-layers.png
  database/seeders/fixtures/articles/images/sneaky-vampire-syndicate-nft-vampires-on-the-scene.png
  database/seeders/fixtures/articles/images/solsnatchers-the-nft-grim-reapers-cometh.png
  database/seeders/fixtures/articles/images/sweeping-the-nft-dancefloor-with-party-dj-space-club.png
  database/seeders/fixtures/articles/images/understanding-nfts-and-the-value-they-hold-over-us.png
  database/seeders/fixtures/articles/images/wearable-nfts-its-the-metaverse-travel-agency.png
  database/seeders/fixtures/articles/images/what-is-an-nft-beginners-guide.png
Labels: chore

#233 chore: update PHP dependencies
  composer.json
  composer.lock
  public/css/filament/filament/app.css
Labels: chore

#235 perf: improve collections sorting speed
  app/Models/Collection.php
  database/migrations/2023_09_07_135157_add_token_number_column_to_nft_activity_table.php
Labels: performance

#238 feat: dark mode for create gallery page
  resources/images/delete-modal.svg
  resources/images/gallery-templates/basic-dark.png
  resources/js/Components/Accordion.tsx
  resources/js/Components/ConfirmDeletionDialog.tsx
  resources/js/Components/Galleries/GalleryPage/GalleryActionToolbar/GalleryActionToolbar.tsx
  resources/js/Components/Galleries/GalleryPage/GalleryFormSlider/GalleryFormSlider.test.tsx
  resources/js/Components/Galleries/GalleryPage/GalleryFormSlider/GalleryFormSlider.tsx
  resources/js/Components/Galleries/GalleryPage/GallerySelectTemplate/GallerySelectTemplate.test.tsx
  resources/js/Components/Galleries/GalleryPage/GallerySelectTemplate/GallerySelectTemplate.tsx
  resources/js/Components/Galleries/GalleryPage/GalleryUploadCover/GalleryUploadCover.blocks.tsx
  resources/js/Components/Galleries/GalleryPage/GalleryUploadCover/GalleryUploadCover.tsx
  resources/js/Components/Galleries/NftCollection/NftCollectionSlider.tsx
  resources/js/Components/Galleries/NftCollection/NftCollections.tsx
  resources/js/Components/Galleries/NftGalleryCard.blocks.tsx
  resources/js/Components/Galleries/NftGalleryCardEditable.tsx
  resources/js/Components/LoadingBlock/LoadingBlock.tsx
  resources/js/Pages/Galleries/Components/GalleryNameInput/GalleryNameInput.blocks.tsx
  resources/js/Pages/Galleries/Components/GalleryNameInput/GalleryNameInput.tsx
  resources/js/Pages/Galleries/MyGalleries/Index.tsx
Labels: feature

#237 refactor: sort by recently received by default
  app/Http/Controllers/CollectionController.php
  resources/js/Pages/Collections/Index.tsx
Labels: refactor

#234 fix: reset activity state if collection is invalid
  app/Console/Commands/FetchCollectionActivity.php
  app/Jobs/FetchCollectionActivity.php
Labels: bugfix

#219 refactor: fetch opensea slugs more often
  app/Console/Commands/DependsOnOpenseaRateLimit.php
  app/Console/Commands/FetchCollectionFloorPrice.php
  app/Console/Commands/FetchCollectionOpenseaSlug.php
  app/Console/Kernel.php
Labels: refactor

#239 refactor: enable collection activity tab
  app/Http/Controllers/CollectionController.php
  resources/js/Components/Collections/CollectionActivityTable/CollectionActivityTable.test.tsx
  resources/js/Components/Collections/CollectionActivityTable/CollectionActivityTable.tsx
  resources/js/Pages/Collections/Components/CollectionNavigation/CollectionNavigation.tsx
  resources/js/Pages/Collections/View.tsx
Labels: refactor

#241 refactor: show alternative placeholder if collection doesn't store activity
  app/Http/Controllers/CollectionController.php
  app/Models/Collection.php
  config/dashbrd.php
  lang/en/pages.php
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Collections/View.tsx
  tests/App/Models/CollectionTest.php
Labels: refactor

#240 fix: timestamp issue for report a gallery test
  tests/App/Models/GalleryTest.php
Labels: bugfix

#236 fix: axios cancel alternative not working
  package.json
  pnpm-lock.yaml
  resources/js/Components/Galleries/Hooks/useGalleryNtfs.tsx
  resources/js/Components/TransactionFormSlider/Hooks/useAssets.ts
  resources/js/Hooks/useLiveSearch.ts
  resources/js/Pages/Collections/Hooks/useCollections.ts
  resources/js/Pages/Collections/Index.tsx
  resources/js/Pages/Galleries/Components/GalleryPage/GalleryPage.tsx
  resources/js/app.tsx
  resources/types/globals.d.ts
Labels: bugfix

#243 fix: do not index activity for prior indexed collections when running FetchWalletNfts
  app/Support/Web3NftHandler.php
Labels: bugfix

#244 fix: activity table nft name size on mobile
  resources/js/Components/Collections/CollectionActivityTable/CollectionActivityTable.blocks.tsx
Labels: bugfix

#224 feat: article view title and cover
  resources/css/_article.css
  resources/css/app.css
  resources/images/articles/article-wrapper-bg-dark.svg
  resources/images/articles/article-wrapper-bg.svg
  resources/js/Pages/Articles/Show.tsx
Labels: feature

#246 feat: article sharing options
  resources/icons/brands/facebook.svg
  resources/icons/brands/reddit.svg
  resources/js/Pages/Articles/Components/ArticleShare.tsx
  resources/js/Pages/Articles/Show.tsx
  resources/js/icons.tsx
Labels: feature

#247 feat: article author box
  app/Data/Articles/ArticleData.php
  database/factories/UserFactory.php
  database/seeders/ArticleSeeder.php
  database/seeders/fixtures/users/avatars/unsplash-1.avif
  database/seeders/fixtures/users/avatars/unsplash-2.avif
  database/seeders/fixtures/users/avatars/unsplash-3.avif
  lang/en/common.php
  resources/icons/brands/dashbrd.svg
  resources/js/Components/Articles/ArticleCard/ArticleCard.test.tsx
  resources/js/Components/Articles/ArticleListItem/ArticleListItem.test.tsx
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Articles/Components/ArticleAuthor.tsx
  resources/js/Pages/Articles/Components/ArticleCopy.tsx
  resources/js/Pages/Articles/Components/ArticleDate.tsx
  resources/js/Pages/Articles/Show.tsx
  resources/js/Tests/Factories/Articles/ArticleDataFactory.ts
  resources/js/icons.tsx
  resources/types/generated.d.ts
Labels: feature

#122 refactor: add nft descriptions
  app/Data/Nfts/NftData.php
  app/Http/Client/Alchemy/AlchemyPendingRequest.php
  app/Jobs/RefreshNftMetadata.php
  app/Support/Web3NftHandler.php
  database/migrations/2023_09_21_142916_add_description_to_nfts_table.php
  resources/js/Components/Collections/Nfts/NftHeader/NftHeader.tsx
  resources/js/Tests/Factories/Nfts/NftFactory.ts
  resources/types/generated.d.ts
Labels: refactor

#248 fix: handle unexpected trait formats better
  app/Http/Client/Alchemy/AlchemyPendingRequest.php
  tests/App/Http/Client/Alchemy/AlchemyPendingRequestTest.php
  tests/fixtures/alchemy/nfts_array_collection_array_traits.json
  tests/fixtures/alchemy/nfts_array_unexpected_traits.json
Labels: bugfix

#232 chore: update JavaScript dependencies
  package.json
  pnpm-lock.yaml
  resources/js/Components/Galleries/GalleryPage/GalleryFormSlider/GalleryFormSlider.contracts.ts
  resources/js/Components/Galleries/GalleryPage/GalleryUploadCover/GalleryUploadCover.contracts.ts
  resources/js/Components/Galleries/GalleryPage/GalleryUploadCover/GalleryUploadCover.tsx
  resources/js/Components/PortfolioBreakdown/PortfolioBreakdownTable.test.tsx
  resources/js/Components/PortfolioBreakdown/PortfolioBreakdownTable.tsx
  resources/js/Components/Table/Table.tsx
  resources/js/Tests/testing-library.tsx
Labels: chore

#216 refactor: articles pagination
  app/Http/Controllers/ArticleController.php
  resources/js/Components/Buttons/ButtonLink.tsx
  resources/js/Components/Pagination/NextPageLink.tsx
  resources/js/Components/Pagination/PageLink.tsx
  resources/js/Components/Pagination/Pagination.contracts.ts
  resources/js/Components/Pagination/Pagination.test.tsx
  resources/js/Components/Pagination/Pagination.tsx
  resources/js/Components/Pagination/PreviousPageLink.tsx
  resources/js/Pages/Articles/Components/ArticlesView.tsx
  resources/js/Pages/Articles/Hooks/useArticles.ts
  resources/js/Pages/Articles/Index.tsx
  resources/js/Pages/Collections/Components/Articles/ArticlePagination.tsx
  resources/js/Pages/Collections/Components/Articles/ArticlesTab.tsx
  resources/js/Pages/Collections/Hooks/useCollectionArticles.ts
  resources/js/Pages/Collections/View.tsx
  resources/js/Utils/scroll-to-top.test.ts
  resources/js/Utils/scroll-to-top.ts
Labels: refactor

#245 refactor: handle moralis spam tokens
  app/Http/Client/Moralis/MoralisPendingRequest.php
  tests/App/Http/Client/Moralis/MoralisPendingRequestTest.php
  tests/fixtures/moralis/erc20-spam.json
  tests/fixtures/moralis/erc20.json
  tests/fixtures/moralis/erc20_update.json
Labels: refactor

#230 feat: handle errors in Alchemy response for getWalletNfts
  app/Data/Web3/Web3NftData.php
  app/Enums/NftInfo.php
  app/Http/Client/Alchemy/AlchemyPendingRequest.php
  app/Http/Client/Moralis/MoralisPendingRequest.php
  app/Services/Web3/Fake/FakeWeb3DataProvider.php
  app/Support/Web3NftHandler.php
  database/migrations/2023_10_17_084040_add_info_column_to_nfts_table.php
  database/seeders/LiveUserSeeder.php
  resources/types/generated.d.ts
  tests/App/Http/Client/Alchemy/AlchemyPendingRequestTest.php
  tests/App/Jobs/DetermineCollectionMintingDateTest.php
  tests/App/Jobs/FetchWalletNftsTest.php
  tests/App/Services/Web3/Alchemy/AlchemyWeb3DataProviderTest.php
  tests/App/Support/Web3NftHandlerTest.php
  tests/fixtures/alchemy/nft_batch_metadata_with_error.json
  tests/fixtures/alchemy/nfts_array_valid.json
  tests/fixtures/alchemy/nfts_array_with_error.json
  tests/fixtures/alchemy/nfts_array_with_error_and_empty_metadata_metadata_object.json
  tests/fixtures/alchemy/nfts_array_with_error_and_empty_metadata_object.json
Labels: feature

#251 feat: article most popular section
  app/Http/Controllers/ArticleController.php
  lang/en/common.php
  resources/js/Components/Carousel/Carousel.tsx
  resources/js/Hooks/useCarousel.test.tsx
  resources/js/Hooks/useCarousel.ts
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Articles/Show.tsx
  resources/js/Pages/Collections/Components/Articles/ArticlesScroll.tsx
  resources/js/Pages/Galleries/Index.tsx
Labels: feature

#253 feat: add article featured collections
  lang/en/pages.php
  resources/js/Components/FeaturedCollectionsBanner/FeaturedCollectionsBanner.test.tsx
  resources/js/Components/FeaturedCollectionsBanner/FeaturedCollectionsBanner.tsx
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Articles/Show.tsx
Labels: feature

#249 feat: SyncActivityPrices command to update missing nft activity sales prices
  app/Console/Commands/SyncActivityPrices.php
  app/Enums/TokenGuid.php
  database/factories/TokenPriceHistoryFactory.php
  resources/types/generated.d.ts
  tests/App/Console/Commands/SyncActivityPricesTest.php
Labels: feature

#255 perf: improve collections sorting query
  app/Models/Collection.php
Labels: performance

#258 feat: dark mode for my collections page
  resources/css/_tables.css
  resources/js/Components/Collections/CollectionActions/CollectionActions.tsx
  resources/js/Components/Collections/CollectionCard/CollectionCard.tsx
  resources/js/Components/Collections/CollectionFloorPrice/CollectionFloorPrice.tsx
  resources/js/Components/Collections/CollectionName/CollectionName.tsx
  resources/js/Components/Collections/CollectionPortfolioValue/CollectionPortfolioValue.tsx
  resources/js/Components/Collections/CollectionsTable/CollectionsTableItem.tsx
  resources/js/Components/Table/TableHeader.tsx
  resources/js/Components/Tabs.tsx
  resources/js/Pages/Collections/Components/CollectionsFilter/CollectionsSorting.tsx
Labels: feature

#257 refactor: make collection navigation a dropdown in mobile view
  resources/js/Pages/Collections/Components/CollectionNavigation/CollectionNavigation.tsx
Labels: refactor

#259 feat: dark mode for my wallet page
  resources/js/Components/BalanceHeader/BalanceHeader.skeleton.tsx
  resources/js/Components/BalanceHeader/BalanceHeader.tsx
  resources/js/Components/BalanceHeader/BalanceHeaderMobile.skeleton.tsx
  resources/js/Components/BalanceHeader/BalanceHeaderMobile.tsx
  resources/js/Components/Collections/CollectionActivityTable/CollectionActivityTable.blocks.tsx
  resources/js/Components/Graphs/DonutGraph/DonutGraph.tsx
  resources/js/Components/PortfolioBreakdown/DonutChart.tsx
  resources/js/Components/PortfolioBreakdown/PortfolioBreakdownTable.tsx
  resources/js/Components/PortfolioBreakdown/PortfolioBreakdownText.tsx
  resources/js/Components/PriceChange/PriceChange.tsx
  resources/js/Components/Table/Table.tsx
  resources/js/Components/Table/TableCell.tsx
  resources/js/Components/Table/TableHeader.tsx
  resources/js/Components/Table/TableRow.tsx
  resources/js/Components/WalletTokens/WalletTokensTable.blocks.tsx
  resources/js/Components/WalletTokens/WalletTokensTable.tsx
Labels: feature

#263 chore: update PHP dependencies
  composer.json
  composer.lock
  public/css/filament/filament/app.css
  public/css/filament/forms/forms.css
  public/css/filament/support/support.css
  public/js/filament/forms/components/select.js
Labels: chore

#265 chore: run ui on json and yaml changes
  .github/workflows/ui.yml
Labels: chore

#261 refactor: article images conversions
  app/Data/Articles/ArticleData.php
  app/Models/Article.php
  resources/js/Components/Articles/ArticleCard/ArticleCard.tsx
  resources/js/Components/Articles/ArticleListItem/ArticleListItem.tsx
  resources/js/Components/Image/Image.contracts.ts
  resources/js/Components/Image/Image.tsx
  resources/js/Pages/Articles/Show.tsx
  resources/js/Tests/Factories/Articles/ArticleDataFactory.ts
  resources/types/generated.d.ts
  storage/media-library/temp/.gitignore
Labels: refactor

#264 chore: update JavaScript dependencies
  package.json
  pnpm-lock.yaml
Labels: chore

#266 feat: add article markdown editor
  app/Filament/Resources/ArticleResource.php
Labels: feature

#260 fix: prevent share buttons overlap
  resources/js/Pages/Articles/Show.tsx
Labels: bugfix

#262 feat: filter unpublished articles
  app/Http/Controllers/ArticleController.php
  app/Models/Article.php
  tests/App/Http/Controllers/ArticleControllerTest.php
  tests/App/Models/ArticleTest.php
Labels: feature

#269 fix: collections page header
  resources/js/Pages/Collections/Components/CollectionsHeading/CollectionsHeading.tsx
Labels: bugfix

#252 feat: article content
  public/images/quote.svg
  resources/css/_article.css
  resources/js/Pages/Articles/Components/ArticleContent.tsx
  resources/js/Pages/Articles/Show.tsx
Labels: feature

#270 feat: dark mode for collection and nft details pages
  resources/js/Components/Carousel/Carousel.tsx
  resources/js/Components/Collections/CollectionActivityTable/CollectionActivityTable.blocks.tsx
  resources/js/Components/Collections/CollectionCoverImages/CollectionCoverImages.tsx
  resources/js/Components/Collections/CollectionHeader/CollectionHeaderBottom.tsx
  resources/js/Components/Collections/CollectionImages/CollectionImages.tsx
  resources/js/Components/Collections/Nfts/NftBackButton/NftBackButton.tsx
  resources/js/Components/Collections/Nfts/NftHeader/NftBasicInfo.tsx
  resources/js/Components/Collections/Nfts/NftHeader/NftHeader.tsx
  resources/js/Components/Collections/Nfts/NftHeader/NftOwner.tsx
  resources/js/Components/Galleries/NftGalleryCard.blocks.tsx
  resources/js/Components/GridHeader.tsx
  resources/js/Components/Point.tsx
  resources/js/Pages/Collections/Components/CollectionFilterSlider/CollectionFilterSlider.tsx
  resources/js/Pages/Collections/Components/CollectionHeading/CollectionHeading.tsx
  resources/js/Pages/Collections/Components/CollectionNavigation/CollectionNavigation.tsx
  resources/js/Pages/Collections/Components/CollectionNftsGrid/NftsSorting.tsx
  resources/js/Pages/Collections/Components/CollectionOwnedToggle/CollectionOwnedToggle.tsx
  resources/js/Pages/Collections/Nfts/Components/NftHeading/NftHeading.tsx
  resources/js/Pages/Collections/Nfts/Components/TraitsCarousel/TraitsCarousel.tsx
  resources/js/Pages/Collections/Nfts/View.tsx
Labels: feature

#254 chore: merge rc into main
  app/Console/Commands/FetchCollectionActivity.php
  app/Console/Commands/FetchNftActivity.php
  app/Console/Commands/SyncActivityPrices.php
  app/Console/Kernel.php
  app/Data/Gallery/GalleryNftData.php
  app/Data/Nfts/NftData.php
  app/Data/Web3/CollectionActivity.php
  app/Enums/TokenGuid.php
  app/Http/Client/Alchemy/AlchemyPendingRequest.php
  app/Http/Client/Mnemonic/MnemonicPendingRequest.php
  app/Http/Controllers/CollectionController.php
  app/Http/Controllers/NftController.php
  app/Http/Controllers/RefreshedNftController.php
  app/Jobs/FetchCollectionActivity.php
  app/Jobs/FetchNftActivity.php
  app/Jobs/RefreshNftMetadata.php
  app/Models/Collection.php
  app/Models/Nft.php
  app/Models/NftActivity.php
  app/Services/Web3/Mnemonic/MnemonicWeb3DataProvider.php
  app/Support/Facades/Mnemonic.php
  app/Support/Web3NftHandler.php
  config/dashbrd.php
  database/factories/NftActivityFactory.php
  database/factories/TokenPriceHistoryFactory.php
  database/migrations/2023_09_07_135157_add_token_number_column_to_nft_activity_table.php
  database/migrations/2023_09_11_071352_add_activity_updated_at_column_to_collections_table.php
  lang/en/pages.php
  resources/js/Components/Collections/CollectionActivityTable/CollectionActivityTable.blocks.tsx
  resources/js/Components/Collections/CollectionActivityTable/CollectionActivityTable.test.tsx
  resources/js/Components/Collections/CollectionActivityTable/CollectionActivityTable.tsx
  resources/js/Components/Collections/CollectionsGrid/CollectionsGrid.test.tsx
  resources/js/Components/Collections/CollectionsGrid/CollectionsGrid.tsx
  resources/js/Components/Collections/CollectionsTable/CollectionsTable.tsx
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Collections/Components/CollectionNavigation/CollectionNavigation.tsx
  resources/js/Pages/Collections/Index.tsx
  resources/js/Pages/Collections/View.tsx
  resources/types/generated.d.ts
  tests/App/Console/Commands/FetchCollectionActivityTest.php
  tests/App/Console/Commands/FetchNftActivityTest.php
  tests/App/Console/Commands/SyncActivityPricesTest.php
  tests/App/Http/Client/Alchemy/AlchemyPendingRequestTest.php
  tests/App/Http/Client/Mnemonic/MnemonicPendingRequestTest.php
  tests/App/Http/Controllers/NftControllerTest.php
  tests/App/Jobs/FetchCollectionActivityTest.php
  tests/App/Jobs/FetchNftActivityTest.php
  tests/App/Models/CollectionTest.php
  tests/App/Models/NftActivityTest.php
  tests/App/Models/NftTest.php
  tests/App/Services/Web3/Mnemonic/MnemonicWeb3DataProviderTest.php
  tests/fixtures/alchemy/nfts_array_collection_array_traits.json
  tests/fixtures/alchemy/nfts_array_unexpected_traits.json
Labels: chore

#273 refactor: articles publish date
  app/Models/Article.php
  database/migrations/2023_09_20_124432_create_articles_table.php
  tests/App/Http/Controllers/ArticleControllerTest.php
Labels: refactor

#271 feat: article markdown parsing
  database/seeders/fixtures/articles/articles.json
  package.json
  pnpm-lock.yaml
  resources/css/_article.css
  resources/js/Pages/Articles/Components/ArticleContent.tsx
  resources/js/Utils/Remark/remarkFigurePlugin.test.ts
  resources/js/Utils/Remark/remarkFigurePlugin.ts
Labels: feature

#268 refactor: prevent adding NFTs without an image to gallery
  app/Http/Controllers/Concerns/StoresGalleries.php
  database/factories/NftFactory.php
  lang/en/pages.php
  resources/js/Components/Galleries/NftCollection/NftCollections.tsx
  resources/js/Components/Galleries/NftGalleryCard.blocks.test.tsx
  resources/js/Components/Galleries/NftGalleryCard.blocks.tsx
  resources/js/Components/Image/Image.blocks.tsx
  resources/js/Components/Image/Image.tsx
  resources/js/I18n/Locales/en.json
  tests/App/Http/Controllers/MyGalleryControllerTest.php
Labels: refactor

#274 fix: sort articles by published_at by default in admin backend
  app/Filament/Resources/ArticleResource.php
Labels: bugfix

#276 fix: use username for displayname in filament
  app/Filament/Resources/UserResource.php
Labels: bugfix

#278 fix: make the border 1px on the article details page
  resources/js/Pages/Articles/Show.tsx
Labels: bugfix

#279 refactor: handle no overflow scenario in article card titles
  resources/js/Components/Articles/ArticleCard/ArticleCard.tsx
  resources/js/Pages/Articles/Components/HighlightedArticles.tsx
Labels: refactor

#282 refactor: featured collections wording
  lang/en/pages.php
  resources/js/I18n/Locales/en.json
Labels: refactor

#281 refactor: truncate long article title in admin panel
  app/Filament/Resources/ArticleResource.php
Labels: refactor

#283 fix: background color on the featured collections card
  resources/js/Components/FeaturedCollectionsBanner/FeaturedCollectionsBanner.tsx
Labels: bugfix

#284 fix: article margin issue and text wrapping
  resources/css/_article.css
  resources/js/Pages/Collections/Components/Articles/ArticlesScroll.tsx
Labels: bugfix

#285 fix: add carousel key to featured collections to prevent swiper ID collisions
  resources/js/Components/FeaturedCollectionsBanner/FeaturedCollectionsBanner.blocks.tsx
Labels: bugfix

#286 fix: article meta & featured collection size as per design
  resources/js/Pages/Articles/Components/ArticleMeta.tsx
  resources/js/Pages/Articles/Show.tsx
Labels: bugfix

#291 refactor: highlighted article headline color
  resources/js/Components/Articles/ArticleCard/ArticleCard.tsx
Labels: refactor

#280 refactor: article card hover states
  lang/en/pages.php
  resources/js/Components/Articles/ArticleCard/ArticleCard.tsx
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Articles/Index.tsx
Labels: refactor

#183 refactor: add the button to refresh the collections
  app/Data/Wallet/WalletData.php
  app/Http/Controllers/RefreshedCollectionController.php
  app/Http/Middleware/HandleInertiaRequests.php
  app/Jobs/FetchCollectionFloorPrice.php
  app/Jobs/RefreshWalletCollections.php
  app/Models/Wallet.php
  app/Providers/AppServiceProvider.php
  database/factories/WalletFactory.php
  database/migrations/2023_10_04_142614_add_refreshing_collections_columns_to_wallets_table.php
  lang/en/pages.php
  resources/js/Components/Galleries/GalleryPage/GalleryUploadCover/GalleryUploadCover.test.tsx
  resources/js/Components/TransactionFormSlider/Steps/InitiationStep.test.tsx
  resources/js/Hooks/useToasts.tsx
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Collections/Components/CollectionsHeading/CollectionsHeading.tsx
  resources/js/Pages/Collections/Components/CollectionsHeading/RefreshButton.tsx
  resources/js/Pages/Collections/Index.tsx
  resources/js/Tests/Factories/Wallet/WalletFactory.ts
  resources/types/generated.d.ts
  routes/api.php
  tests/App/Http/Controllers/RefreshedCollectionControllerTest.php
  tests/App/Jobs/RefreshWalletCollectionsTest.php
  tests/App/Models/UserTest.php
  tests/App/Models/WalletTest.php
Labels: refactor

#292 refactor: navbar width
  resources/js/Components/Layout/LayoutWrapper.tsx
  resources/js/Components/Layout/Navbar.tsx
  resources/js/Pages/Settings/Layout.tsx
Labels: refactor

#293 refactor: article content padding adjustments
  resources/css/_article.css
Labels: refactor

#295 refactor: more padding adjustments for article content
  resources/css/_article.css
Labels: refactor

#294 fix: "about nft" modal title
  resources/js/Components/Collections/CollectionDescription/CollectionDescription.tsx
Labels: bugfix

#303 refactor: adjust article blockquote styling
  resources/css/_article.css
Labels: refactor

#299 refactor: move the article copy button to share list
  resources/js/Pages/Articles/Components/ArticleMeta.tsx
  resources/js/Pages/Articles/Components/ArticleShare.tsx
  resources/js/Pages/Articles/Show.tsx
Labels: refactor

#250 refactor: add the job to index nft descriptions
  app/Console/Commands/UpdateDescriptions.php
  app/Jobs/UpdateNftDescription.php
  app/Services/Web3/Alchemy/AlchemyWeb3DataProvider.php
  app/Support/Web3NftHandler.php
  tests/App/Console/Commands/UpdateDescriptionsTest.php
  tests/App/Jobs/UpdateNftDescriptionTest.php
Labels: refactor

#301 feat: dark mode for articles
  lang/en/common.php
  resources/css/_article.css
  resources/css/_collection.css
  resources/images/collections/header-placeholder-dark.svg
  resources/js/Components/Articles/Article.blocks.tsx
  resources/js/Components/Articles/ArticleCard/ArticleCard.tsx
  resources/js/Components/Articles/ArticleCard/ArticleCardSkeleton.tsx
  resources/js/Components/Articles/ArticleListItem/ArticleListItem.tsx
  resources/js/Components/Articles/ArticleListItem/ArticleListItemSkeleton.tsx
  resources/js/Components/FeaturedCollectionsBanner/FeaturedCollectionsBanner.tsx
  resources/js/Components/SortDropdown.tsx
  resources/js/Components/Tooltip/Tooltip.tsx
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Articles/Components/ArticleAuthor.tsx
  resources/js/Pages/Articles/Components/ArticleDate.tsx
  resources/js/Pages/Articles/Components/ArticleMeta.tsx
  resources/js/Pages/Articles/Components/ArticleShare.tsx
  resources/js/Pages/Articles/Components/HighlightedArticles.tsx
  resources/js/Pages/Articles/Show.tsx
  resources/js/Pages/Collections/Components/Articles/ArticlesGrid.tsx
  resources/js/Pages/Collections/Components/Articles/ArticlesScroll.tsx
  resources/js/Pages/Collections/Components/CollectionNavigation/CollectionNavigation.tsx
Labels: feature

#288 feat: external link tooltip
  resources/js/Pages/Articles/Components/ArticleContent.tsx
  resources/js/Utils/extract-domain.test.ts
  resources/js/Utils/extract-domain.ts
Labels: feature

#289 feat: dark mode for wallet components
  resources/js/Components/Tokens/TokenBalance.tsx
  resources/js/Components/Tokens/TokenDetails.tsx
  resources/js/Components/Tokens/TokenDetailsSlider.tsx
  resources/js/Components/Tokens/TokenLinks.tsx
  resources/js/Components/Tokens/TokenMarketData.test.tsx
  resources/js/Components/Tokens/TokenMarketData.tsx
  resources/js/Components/Tokens/TokenPriceChart.test.tsx
  resources/js/Components/Tokens/TokenPriceChart.tsx
  resources/js/Components/Tokens/TokenTransactions/TokenTransactionDetailsSlider.tsx
  resources/js/Components/Tokens/TokenTransactions/TokenTransactions.blocks.tsx
  resources/js/Components/Tokens/__snapshots__/TokenBalance.test.tsx.snap
  resources/js/Components/TransactionFormSlider/AddressingOverview.tsx
  resources/js/Components/TransactionFormSlider/Steps/ExecutionStep.blocks.tsx
  resources/js/Components/TransactionFormSlider/Steps/ResultStep.tsx
  resources/js/Components/TransactionFormSlider/TransactionBreakdown.tsx
  resources/js/Components/TransactionStatuses/TransactionStatusError.tsx
Labels: feature

#296 fix: transparent background for a featured collection
  resources/js/Components/Articles/Article.blocks.tsx
Labels: bugfix

#290 refactor: handle image aspect ratio
  resources/js/Components/Collections/CollectionActivityTable/CollectionActivityTable.blocks.tsx
  resources/js/Components/Collections/CollectionCard/CollectionCard.tsx
  resources/js/Components/Collections/CollectionCoverImages/CollectionCoverImages.tsx
  resources/js/Components/Collections/CollectionHeader/CollectionHeaderTop.tsx
  resources/js/Components/Collections/CollectionImages/CollectionImages.tsx
  resources/js/Components/Collections/CollectionName/CollectionName.tsx
  resources/js/Components/Collections/Nfts/NftBackButton/NftBackButton.tsx
  resources/js/Components/Collections/Nfts/NftImage/NftImage.tsx
  resources/js/Components/FeaturedCollectionsBanner/FeaturedCollectionsBanner.blocks.tsx
  resources/js/Components/Galleries/GalleryPage/GalleryCoverImage.tsx
  resources/js/Components/Galleries/GalleryPage/GalleryNftsNft.tsx
  resources/js/Components/Galleries/GalleryPage/GalleryUploadCover/GalleryUploadCover.blocks.tsx
  resources/js/Components/Galleries/NftCollection/NftCollections.tsx
  resources/js/Components/Galleries/NftGalleryCard.blocks.tsx
  resources/js/Components/Galleries/NftGalleryCardEditable.tsx
  resources/js/Components/Image/Image.tsx
  resources/js/Components/Skeleton/Skeleton.tsx
  resources/js/Components/Skeleton/__snapshots__/Skeleton.test.tsx.snap
  resources/js/Pages/Collections/Components/CollectionNft/CollectionNft.tsx
Labels: refactor

#302 refactor: separate the gallery liking logic into its own controller
  app/Data/Gallery/GalleryLikeData.php
  app/Http/Controllers/Api/LikedGalleryController.php
  app/Http/Controllers/GalleryController.php
  resources/js/Hooks/useLikes.ts
  routes/api.php
  tests/App/Http/Controllers/Api/LikedGalleryControllerTest.php
  tests/App/Http/Controllers/GalleryControllerTest.php
Labels: refactor

#304 fix: make all article slider cards same height
  resources/css/_article.css
  resources/js/Pages/Collections/Components/Articles/ArticlesScroll.tsx
Labels: bugfix

#298 refactor: use data objects only in classes that are sent to the frontend
  app/Data/Web3/CollectionActivity.php
  app/Data/Web3/Web3ContractMetadata.php
  app/Data/Web3/Web3Erc20TokenData.php
  app/Data/Web3/Web3NftCollectionFloorPrice.php
  app/Data/Web3/Web3NftCollectionTrait.php
  app/Data/Web3/Web3NftData.php
  app/Data/Web3/Web3NftsChunk.php
  app/Enums/TraitDisplayType.php
  resources/types/generated.d.ts
  tests/App/Http/Client/Mnemonic/MnemonicPendingRequestTest.php
Labels: refactor

#297 refactor: create "simple" wallet data object
  app/Data/Gallery/GalleryData.php
  app/Data/Gallery/GalleryWalletData.php
  app/Data/Nfts/NftData.php
  app/Data/SimpleWalletData.php
  resources/js/Components/Collections/Nfts/NftHeader/NftOwner.test.tsx
  resources/js/Components/Galleries/GalleryPage/GalleryControls.tsx
  resources/js/Components/Galleries/GalleryPage/GalleryCurator.tsx
  resources/js/Components/Galleries/NftGalleryCard.blocks.tsx
  resources/js/Tests/Factories/Gallery/GalleryDataFactory.ts
  resources/js/Tests/Factories/Nfts/NftFactory.ts
  resources/js/Tests/Factories/Nfts/NftWalletFactory.ts
  resources/js/Tests/Factories/SimpleWalletDataFactory.ts
  resources/types/generated.d.ts
Labels: refactor

#307 refactor: adjust article heading padding
  resources/css/_article.css
Labels: refactor

#309 refactor: skeleton loader for article cards
  resources/css/_skeletons.css
  resources/js/Components/Articles/Article.blocks.tsx
  resources/js/Components/Articles/ArticleCard/ArticleCard.tsx
  resources/js/Pages/Articles/Index.tsx
Labels: feature

#310 chore: update JavaScript dependencies
  package.json
  pnpm-lock.yaml
Labels: chore

#311 chore: update PHP dependencies
  composer.json
  composer.lock
  public/css/filament/filament/app.css
  public/css/filament/forms/forms.css
  public/js/filament/forms/components/date-time-picker.js
  public/js/filament/forms/components/file-upload.js
  public/js/filament/forms/components/tags-input.js
Labels: chore

#306 feat: my gallery sidebar
  lang/en/common.php
  lang/en/pages.php
  resources/icons/document-checkmark.svg
  resources/icons/document.svg
  resources/js/Components/Form/Listbox/Listbox.blocks.tsx
  resources/js/Components/Form/Listbox/Listbox.contracts.ts
  resources/js/Components/Sidebar/Sidebar.contracts.ts
  resources/js/Components/Sidebar/SidebarItem.test.tsx
  resources/js/Components/Sidebar/SidebarItem.tsx
  resources/js/I18n/Locales/en.json
  resources/js/Layouts/LeftMenuLayout.tsx
  resources/js/Pages/Galleries/MyGalleries/Components/CreateGalleryButton.tsx
  resources/js/Pages/Galleries/MyGalleries/Components/MyGalleryListboxMenu.tsx
  resources/js/Pages/Galleries/MyGalleries/Components/MyGallerySidebar.tsx
  resources/js/Pages/Galleries/MyGalleries/Index.tsx
  resources/js/Pages/Galleries/MyGalleries/Layout.tsx
  resources/js/Pages/Settings/Layout.tsx
  resources/js/icons.tsx
Labels: feature

#287 refactor: ignore markdown on metadata
  app/Models/Article.php
  app/Observers/ArticleObserver.php
  tests/App/Models/ArticleTest.php
  tests/App/Observers/ArticleObserverTest.php
Labels: refactor

#300 refactor: improve article card hover style
  resources/js/Components/Articles/ArticleCard/ArticleCard.tsx
  resources/js/Pages/Collections/Components/Articles/ArticlesScroll.tsx
Labels: refactor

#317 fix: correct image dimensions in nft & gallery page
  resources/js/Components/Collections/Nfts/NftHeader/NftBasicInfo.tsx
  resources/js/Components/Galleries/GalleryPage/GalleryNftsNft.tsx
Labels: bugfix

#314 refactor: disable signature requirement for refresh actions
  resources/js/Pages/Collections/Components/CollectionsHeading/RefreshButton.tsx
  resources/js/Pages/Collections/View.tsx
  routes/api.php
  tests/App/Http/Controllers/RefreshedCollectionControllerTest.php
Labels: refactor

#321 chore: update generated types file
  resources/types/generated.d.ts
Labels: chore

#319 feat: gallery overview page and navigation
  app/Http/Controllers/MyGalleryController.php
  lang/en/metatags.php
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Galleries/MyGalleries/Components/MyGalleryListboxMenu.tsx
  resources/js/Pages/Galleries/MyGalleries/Components/MyGallerySidebar.tsx
  resources/js/Pages/Galleries/MyGalleries/Index.tsx
  resources/js/Pages/Galleries/MyGalleries/Layout.tsx
Labels: feature

#305 feat: add articles audio player
  app/Data/Articles/ArticleData.php
  lang/en/pages.php
  package.json
  pnpm-lock.yaml
  resources/icons/audio-pause.svg
  resources/icons/audio-play.svg
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Articles/Components/WaveSurferPlayer.tsx
  resources/js/Pages/Articles/Show.tsx
  resources/js/Tests/Factories/Articles/ArticleDataFactory.ts
  resources/js/icons.tsx
  resources/types/generated.d.ts
Labels: feature

#328 fix: remove redundant tooltip in activity refresh button
  resources/js/Pages/Collections/Components/CollectionNavigation/CollectionNavigation.tsx
  resources/js/Pages/Collections/View.tsx
Labels: bugfix
