Repository ArdentHQ/dashbrd, pull requests merged in 2023-09, with the labels that each got.

#5 fix: FetchCollectionNfts ambiguous id column
  CODE_OF_CONDUCT.md
  app/Console/Commands/InteractsWithCollections.php
  tests/App/Console/Commands/FetchCollectionNftsTest.php
Labels: bugfix

#14 chore: include storage gitignore files
  .gitignore
  storage/debugbar/.gitignore
  storage/logs/.gitignore
Labels: chore

#16 fix: exception when ens address changes
  app/Jobs/FetchEnsDetails.php
  tests/App/Jobs/FetchEnsDetailsTest.php
Labels: bugfix

#28 refactor: rename "show only owned" to "show my collection"
  lang/en/pages.php
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Collections/Components/CollectionFilterSlider/CollectionFilterSlider.tsx
  resources/js/Pages/Collections/Components/CollectionOwnedToggle/CollectionOwnedToggle.tsx
  resources/js/Pages/Collections/Components/CollectionPropertiesFilter/CollectionPropertiesFilter.tsx
Labels: refactor

#26 feat: landing page data api endpoint
  app/Http/Controllers/LandingPageDataController.php
  routes/api.php
  tests/App/Http/Controllers/LandingPageDataControllerTest.php
Labels: feature

#31 fix: edit gallery 15 items limit
  app/Http/Controllers/MyGalleryController.php
  config/dashbrd.php
Labels: bugfix

#30 fix: gallery value can be null
  queries/gallery.calculate_value.sql
  tests/App/Models/GalleryTest.php
Labels: bugfix

#25 refactor: add basic stats to admin panel
  app/Filament/Widgets/OverviewStats.php
Labels: refactor

#19 fix: remove duplicate collections list items when changing collection visibility status
  resources/js/Pages/Collections/Hooks/useCollections.ts
  resources/js/Pages/Collections/Index.tsx
Labels: bugfix

#38 refactor: move meta images to new folder
  lang/en/metatags.php
  public/images/collection.png
  public/images/collection@2x.png
  public/images/gallery.png
  public/images/gallery@2x.png
  public/images/hero-image-mobile.png
  public/images/hero-image-mobile@2x.png
  public/images/hero-image.png
  public/images/hero-image@2x.png
  public/images/meta/home.png
  public/images/meta/most-popular-nft-galleries.png
  public/images/meta/most-valuable-nft-galleries.png
  public/images/meta/newest-nft-galleries.png
  public/images/meta/nft-galleries.png
  public/images/meta/nft-gallery.png
  public/images/wallet.png
  public/images/wallet@2x.png
  resources/js/I18n/Locales/en.json
Labels: refactor

#39 test: fix warnings in tests
  resources/js/Components/Galleries/GalleryPage/GalleryReportModal.test.tsx
Labels: test

#40 fix: rollback like toggle
  resources/js/Hooks/useLikes.ts
Labels: bugfix

#42 refactor: navigate to internal collection pages for links
  resources/js/Components/FeaturedCollectionsBanner/FeaturedCollectionsBanner.blocks.tsx
  resources/js/Components/FeaturedCollectionsBanner/FeaturedCollectionsBanner.tsx
  resources/js/Components/Galleries/GalleryPage/GalleryNftsNft.test.tsx
  resources/js/Components/Galleries/GalleryPage/GalleryNftsNft.tsx
  resources/js/Pages/Galleries/MyGalleries/Create.tsx
Labels: refactor

#45 refactor: background color for nft properties
  resources/js/Pages/Collections/Nfts/Components/TraitsCarousel/TraitsCarousel.tsx
Labels: refactor

#47 refactor: make galleries the default page
  app/Http/Controllers/Auth/AuthenticatedSessionController.php
  app/Http/Controllers/OnboardingController.php
  app/Http/Middleware/Authenticate.php
  app/Http/Middleware/ValidateWallet.php
  resources/js/Components/Layout/Navbar.tsx
  resources/js/Components/Navbar/AppMenu.test.tsx
  resources/js/Components/Navbar/AppMenu.tsx
  resources/js/Components/Navbar/MobileMenu.tsx
  routes/web.php
  tests/App/Http/Controllers/AuthenticatedSessionControllerTest.php
  tests/App/Http/Controllers/OnboardingControllerTest.php
  tests/App/Http/Controllers/TokenControllerTest.php
Labels: refactor

#50 refactor: improve auth overlay UI
  resources/css/app.css
  resources/js/Components/Layout/AuthOverlay/AuthOverlay.blocks.tsx
  resources/js/Components/Layout/AuthOverlay/AuthOverlay.contracts.ts
  resources/js/Components/Layout/AuthOverlay/AuthOverlay.tsx
  resources/js/Components/Navbar/MobileMenu.tsx
Labels: refactor

#54 fix: show login overlay for collections as guest user
  app/Http/Controllers/CollectionController.php
  resources/js/Components/Collections/CollectionHeader/CollectionHeaderBottom.tsx
  routes/web.php
  tests/App/Http/Controllers/CollectionControllerTest.php
Labels: bugfix

#48 refactor: switch off `owned` toggle if user owns zero nfts
  app/Http/Controllers/CollectionController.php
  tests/App/Http/Controllers/CollectionControllerTest.php
Labels: refactor

#57 fix: hide collection nfts when toggled and 0 owned
  resources/js/Pages/Collections/View.tsx
Labels: bugfix

#58 fix: metadata title galleries overview page
  lang/en/metatags.php
  resources/js/I18n/Locales/en.json
Labels: bugfix

#61 feat: add release.yml
  .github/release.yml
Labels: feature

#60 fix: incorrect nft being reported
  resources/js/Components/Collections/Nfts/NftReportModal/NftReportModal.tsx
  routes/web.php
Labels: bugfix

#63 refactor: improve slack notifications for reports
  app/Notifications/CollectionReport.php
  app/Notifications/NftReport.php
Labels: refactor

#67 refactor: fetch prices only for owned tokens
  app/Console/Commands/MarketData/FetchPriceHistory.php
  app/Models/Token.php
  tests/App/Console/Commands/MarketData/FetchPriceHistoryTest.php
Labels: refactor

#73 fix: flaky test, collections with minted_date
  app/Jobs/DetermineCollectionMintingDate.php
Labels: bugfix

#71 chore: prune failed jobs automatically
  app/Console/Kernel.php
Labels: chore

#75 feat: gallery banner action
  app/Http/Controllers/MyGalleryController.php
  app/Http/Controllers/OnboardingController.php
  app/Http/Middleware/EnsureOnboarded.php
  lang/en/common.php
  lang/en/pages.php
  resources/icons/brands_color/blur.svg
  resources/icons/brands_color/looksrare.svg
  resources/icons/brands_color/opensea.svg
  resources/icons/brands_color/rarible.svg
  resources/js/Components/Layout/AuthOverlay/AuthOverlay.blocks.tsx
  resources/js/Components/Layout/AuthOverlay/AuthOverlay.contracts.ts
  resources/js/Components/Layout/AuthOverlay/AuthOverlay.test.tsx
  resources/js/Components/Layout/AuthOverlay/AuthOverlay.tsx
  resources/js/Components/Layout/LayoutWrapper.tsx
  resources/js/Components/Layout/NoNftsOverlay/NoNftsOverlay.test.tsx
  resources/js/Components/Layout/NoNftsOverlay/NoNftsOverlay.tsx
  resources/js/Components/Layout/NoNftsOverlay/index.tsx
  resources/js/Components/Layout/Overlay/Overlay.blocks.tsx
  resources/js/Components/Layout/Overlay/Overlay.contracts.ts
  resources/js/Components/Layout/Overlay/Overlay.tsx
  resources/js/Components/Layout/Overlay/index.tsx
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Galleries/Components/GalleryGuestBanner/index.tsx
  resources/js/Pages/Galleries/Index.tsx
  resources/js/Pages/Galleries/MyGalleries/Create.tsx
  resources/js/Pages/Galleries/MyGalleries/Index.tsx
  resources/js/icons.tsx
  tests/App/Http/Controllers/MyGalleryControllerTest.php
Labels: feature

#79 fix: avoid collection's last indexed token number becoming null
  app/Support/Web3NftHandler.php
  tests/App/Jobs/FetchWalletNftsTest.php
Labels: bugfix

#74 refactor: disable animation behind auth overlay
  resources/js/Components/BalanceHeader/BalanceHeader.contracts.ts
  resources/js/Components/BalanceHeader/BalanceHeader.skeleton.tsx
  resources/js/Components/BalanceHeader/BalanceHeader.tsx
  resources/js/Components/BalanceHeader/BalanceHeaderMobile.skeleton.tsx
  resources/js/Components/BalanceHeader/BalanceHeaderMobile.tsx
  resources/js/Components/Collections/CollectionsTable/CollectionsTable.test.tsx
  resources/js/Components/Collections/CollectionsTable/CollectionsTable.tsx
  resources/js/Components/Collections/CollectionsTable/CollectionsTableItemSkeleton.tsx
  resources/js/Components/Skeleton/Skeleton.tsx
  resources/js/Components/WalletTokens/WalletTokensTable.blocks.tsx
  resources/js/Components/WalletTokens/WalletTokensTable.tsx
  resources/js/Components/WalletTokens/WalletTokensTableItemSkeleton.tsx
  resources/js/Pages/Dashboard.tsx
Labels: refactor

#83 fix: improve types and handling for storing collection's banner_update_at
  app/Data/Web3/Web3NftData.php
  app/Http/Client/Alchemy/AlchemyPendingRequest.php
  app/Http/Controllers/CollectionController.php
  app/Jobs/FetchCollectionBanner.php
  app/Models/Collection.php
  database/seeders/LiveUserSeeder.php
Labels: bugfix

#84 fix: improve collection banner update logic
  app/Http/Controllers/CollectionController.php
  tests/App/Http/Controllers/CollectionControllerTest.php
Labels: bugfix

#82 fix: increment default size for collection banners
  app/Enums/ImageSize.php
  app/Http/Client/Alchemy/AlchemyPendingRequest.php
  app/Http/Client/Mnemonic/MnemonicPendingRequest.php
  app/Support/NftImageUrl.php
  tests/App/Http/Client/Alchemy/AlchemyPendingRequestTest.php
  tests/fixtures/alchemy/nfts_array_description_with_banner.json
Labels: bugfix

#85 fix: format timestamp for guests
  resources/js/Components/Collections/CollectionActivityTable/CollectionActivityTable.blocks.test.tsx
  resources/js/Components/Collections/CollectionActivityTable/CollectionActivityTable.blocks.tsx
  resources/js/Utils/dates.ts
Labels: bugfix

#88 fix: handle nft metadata refresh for guests
  resources/js/Components/Collections/Nfts/NftImage/NftImage.test.tsx
  resources/js/Components/Collections/Nfts/NftImage/NftImage.tsx
Labels: bugfix

#72 fix: metamask browser asking for signature
  resources/js/Hooks/useMetaMask.ts
Labels: bugfix

#92 feat: metadata for collections view and nfts details page
  app/Http/Controllers/CollectionController.php
  app/Http/Controllers/NftController.php
  lang/en/metatags.php
  public/images/meta/nft-collection.png
  public/images/meta/nft-details.png
  resources/js/I18n/Locales/en.json
Labels: feature

#91 feat: handle no results scenario when filtering nfts
  lang/en/pages.php
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Collections/View.tsx
Labels: feature

#97 fix: ignore large collections in background job
  app/Jobs/FetchCollectionNfts.php
  app/Models/Collection.php
  database/factories/CollectionFactory.php
  resources/types/generated.d.ts
  tests/App/Jobs/FetchCollectionNftsTest.php
Labels: bugfix

#94 refactor: use wallet and network models when retrieving wallet NFTs
  app/Console/Commands/FetchWalletNfts.php
  app/Console/Commands/LiveDumpWallets.php
  app/Console/Commands/MaintainGalleries.php
  app/Contracts/Web3DataProvider.php
  app/Http/Client/Alchemy/AlchemyPendingRequest.php
  app/Http/Client/Moralis/MoralisPendingRequest.php
  app/Jobs/FetchUserNfts.php
  app/Jobs/FetchWalletNfts.php
  app/Models/Wallet.php
  app/Services/Web3/Alchemy/AlchemyWeb3DataProvider.php
  app/Services/Web3/Fake/FakeWeb3DataProvider.php
  app/Services/Web3/Footprint/FootprintWeb3DataProvider.php
  app/Services/Web3/Mnemonic/MnemonicWeb3DataProvider.php
  app/Services/Web3/Moralis/MoralisWeb3DataProvider.php
  app/Support/Facades/Alchemy.php
  app/Support/Facades/Moralis.php
  app/Support/Web3NftHandler.php
  database/seeders/LiveUserSeeder.php
  tests/App/Http/Client/Alchemy/AlchemyPendingRequestTest.php
  tests/App/Jobs/FetchUserNftsTest.php
  tests/App/Jobs/FetchWalletNftsTest.php
  tests/App/Services/Web3/Alchemy/AlchemyWeb3DataProviderTest.php
  tests/App/Services/Web3/Fake/FakeWeb3DataProviderTest.php
  tests/App/Services/Web3/Footprint/FootprintWeb3DataProviderTest.php
  tests/App/Services/Web3/Mnemonic/MnemonicWeb3DataProviderTest.php
  tests/App/Services/Web3/Moralis/MoralisWeb3DataProviderTest.php
  tests/App/Support/Web3NftHandlerTest.php
Labels: refactor

#86 refactor: batch native balance requests
  app/Console/Commands/FetchNativeBalances.php
  app/Data/Wallet/WalletBalance.php
  app/Http/Client/Moralis/MoralisPendingRequest.php
  app/Jobs/FetchNativeBalances.php
  app/Support/Facades/Moralis.php
  resources/types/generated.d.ts
  tests/App/Console/Commands/FetchNativeBalancesTest.php
  tests/App/Jobs/FetchNativeBalancesTest.php
  tests/fixtures/moralis/native-multiple.json
Labels: refactor

#90 refactor: nft details page
  lang/en/common.php
  lang/en/urls.php
  resources/js/Components/Buttons/Button.tsx
  resources/js/Components/Collections/CollentionDescription/CollectionDescription.tsx
  resources/js/Components/Collections/Nfts/NftBackButton/NftBackButton.tsx
  resources/js/Components/Collections/Nfts/NftHeader/NftActions.test.tsx
  resources/js/Components/Collections/Nfts/NftHeader/NftActions.tsx
  resources/js/Components/Collections/Nfts/NftHeader/NftBasicInfo.test.tsx
  resources/js/Components/Collections/Nfts/NftHeader/NftBasicInfo.tsx
  resources/js/Components/Collections/Nfts/NftHeader/NftHeader.test.tsx
  resources/js/Components/Collections/Nfts/NftHeader/NftHeader.tsx
  resources/js/Components/Collections/Nfts/NftHeader/NftOwner.test.tsx
  resources/js/Components/Collections/Nfts/NftHeader/NftOwner.tsx
  resources/js/Components/Collections/Nfts/NftHeader/index.ts
  resources/js/Components/Collections/Nfts/NftImage/NftImage.test.tsx
  resources/js/Components/Collections/Nfts/NftImage/NftImage.tsx
  resources/js/Components/Galleries/GalleryPage/GalleryCard.test.tsx
  resources/js/Components/Galleries/GalleryPage/GalleryCard.tsx
  resources/js/Components/Report.test.tsx
  resources/js/Components/Report.tsx
  resources/js/Components/ZoomDialog.tsx
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Collections/Nfts/Components/NftHeading/NftHeading.tsx
  resources/js/Pages/Collections/Nfts/Components/TraitsCarousel/TraitsCarousel.tsx
  resources/js/Pages/Collections/Nfts/View.tsx
  resources/js/Utils/ParseIcon.test.tsx
  resources/js/Utils/ParseIcon.tsx
Labels: refactor

#105 fix: NFT details page various UI tweaks
  resources/css/_buttons.css
  resources/js/Components/Carousel/Carousel.test.tsx
  resources/js/Components/Carousel/Carousel.tsx
  resources/js/Components/Collections/CollectionDescription/CollectionDescription.tsx
  resources/js/Components/Collections/CollectionDescription/index.ts
  resources/js/Components/Collections/CollectionHeader/CollectionHeaderTop.test.tsx
  resources/js/Components/Collections/CollectionHeader/CollectionHeaderTop.tsx
  resources/js/Components/Collections/Nfts/NftHeader/NftHeader.tsx
  resources/js/Pages/Collections/Nfts/Components/TraitsCarousel/TraitsCarousel.tsx
Labels: chore

#107 fix: update urls for nfts in explorers
  lang/en/urls.php
  resources/js/Components/Collections/Nfts/NftHeader/NftActions.test.tsx
  resources/js/Components/Collections/Nfts/NftHeader/NftActions.tsx
  resources/js/Components/Collections/Nfts/NftHeader/NftHeader.tsx
  resources/js/Components/Collections/Nfts/NftHeader/NftOwner.tsx
  resources/js/I18n/Locales/en.json
Labels: bugfix

#99 refactor: clean up the network model
  app/Data/TokenListItemData.php
  app/Http/Controllers/TokenController.php
  app/Models/Network.php
  app/Models/Token.php
  app/Rules/ValidChain.php
  tests/App/Console/Commands/UpdateCollectionsFiatValueTest.php
  tests/App/Http/Client/Alchemy/AlchemyPendingRequestTest.php
  tests/App/Http/Client/Mnemonic/MnemonicPendingRequestTest.php
  tests/App/Http/Client/Moralis/MoralisPendingRequestTest.php
  tests/App/Http/Controllers/AuthenticatedSessionControllerTest.php
  tests/App/Http/Controllers/CollectionControllerTest.php
  tests/App/Http/Controllers/NftControllerTest.php
  tests/App/Http/Controllers/RefreshedNftControllerTest.php
  tests/App/Http/Middleware/HandleInertiaRequestsTest.php
  tests/App/Http/Requests/Traits/UpdatesPrimaryWalletTest.php
  tests/App/Jobs/DetermineCollectionMintingDateTest.php
  tests/App/Jobs/FetchCollectionBannerBatchTest.php
  tests/App/Jobs/FetchCollectionBannerTest.php
  tests/App/Jobs/FetchCollectionFloorPriceTest.php
  tests/App/Jobs/FetchCollectionNftsTest.php
  tests/App/Jobs/FetchCollectionOwnersTest.php
  tests/App/Jobs/FetchCollectionTraitsTest.php
  tests/App/Jobs/FetchCollectionVolumeTest.php
  tests/App/Jobs/FetchNativeBalancesTest.php
  tests/App/Jobs/FetchNftActivityTest.php
  tests/App/Jobs/FetchTokensTest.php
  tests/App/Jobs/FetchWalletNftsTest.php
  tests/App/Jobs/RefreshNftMetadataTest.php
  tests/App/Models/CoingeckoTokenTest.php
  tests/App/Models/NetworkTest.php
  tests/App/Models/TokenTest.php
  tests/App/Rules/ValidChainTest.php
  tests/App/Services/Web3/Alchemy/AlchemyWeb3DataProviderTest.php
  tests/App/Services/Web3/Fake/FakeWeb3DataProviderTest.php
  tests/App/Services/Web3/Footprint/FootprintWeb3DataProviderTest.php
  tests/App/Services/Web3/Mnemonic/MnemonicWeb3DataProviderTest.php
  tests/App/Services/Web3/Moralis/MoralisWeb3DataProviderTest.php
  tests/App/Support/Facades/AlchemyTest.php
  tests/App/Support/Facades/MnemonicTest.php
  tests/App/Support/Facades/MoralisTest.php
  tests/App/Support/Web3NftHandlerTest.php
Labels: refactor

#100 refactor: prevent deadlock when updating collection values
  app/Models/Collection.php
  app/Models/User.php
Labels: refactor

#113 chore: disable views, gate and livewire tabs for debugbar
  config/debugbar.php
Labels: chore

#115 chore: add dark gray color
  resources/css/_variables.css
  tailwind.config.js
Labels: chore

#118 fix: reset page when changing visibility status in collections
  resources/js/Pages/Collections/Index.tsx
Labels: bugfix

#121 refactor: center "waiting for signature" text
  resources/js/Components/Layout/AuthOverlay/AuthOverlay.blocks.tsx
  resources/js/Components/Layout/Overlay/Overlay.blocks.tsx
Labels: refactor

#102 refactor: improve invalid collection handling
  app/Console/Commands/FetchCollectionBanner.php
  app/Console/Commands/FetchCollectionBannerBatch.php
  app/Console/Commands/FetchCollectionFloorPrice.php
  app/Console/Commands/FetchCollectionNfts.php
  app/Console/Commands/FetchCollectionOwners.php
  app/Console/Commands/FetchCollectionTraits.php
  app/Console/Commands/FetchCollectionVolume.php
  app/Console/Commands/InteractsWithCollections.php
  app/Jobs/FetchCollectionNfts.php
  app/Jobs/FetchNftActivity.php
  app/Models/Collection.php
  tests/App/Console/Commands/FetchCollectionBannerBatchTest.php
  tests/App/Jobs/FetchCollectionNftsTest.php
  tests/App/Models/CollectionTest.php
Labels: refactor

#116 feat: add article model
  .env.example
  app/Enums/Features.php
  app/Models/Article.php
  app/Models/Collection.php
  app/Providers/FeaturesServiceProvider.php
  config/dashbrd.php
  database/factories/ArticleFactory.php
  database/migrations/2023_09_20_124432_create_articles_table.php
  database/migrations/2023_09_20_124433_create_article_collection_table.php
  database/seeders/ArticleSeeder.php
  database/seeders/DatabaseSeeder.php
  tests/App/Models/ArticleTest.php
  tests/App/Models/CollectionTest.php
Labels: feature

#117 feat: request signature for updating settings
  app/Http/Controllers/GeneralSettingsController.php
  app/Http/Requests/Auth/LoginRequest.php
  app/Services/Auth/Web3UserProvider.php
  app/Support/Currency.php
  app/Support/Timezone.php
  resources/js/Components/Layout/Navbar.test.tsx
  resources/js/Components/Navbar/UserDetails.test.tsx
  resources/js/Components/Navbar/UserDetails.tsx
  routes/web.php
  tests/App/Http/Controllers/AuthenticatedSessionControllerTest.php
  tests/App/Http/Controllers/GeneralSettingsControllerTest.php
  tests/App/Support/CurrencyTest.php
  tests/App/Support/TimezoneTest.php
Labels: feature

#109 refactor: disable tooltip on touch devices
  resources/js/Components/Clipboard/Clipboard.tsx
  resources/js/Components/DashboardHeader/DashboardHeader.tsx
  resources/js/Components/Tokens/TokenActions.tsx
  resources/js/Components/Tooltip/Tooltip.tsx
  resources/js/Components/Tooltip/use-tooltip.ts
  resources/js/Components/TransactionFormSlider/TransactionFormSlider.blocks.tsx
  resources/js/Pages/Galleries/MyGalleries/Index.tsx
Labels: refactor

#108 feat: log relevant activities for jobs
  app/Jobs/DetermineCollectionMintingDate.php
  app/Jobs/FetchCoingeckoTokens.php
  app/Jobs/FetchCollectionBanner.php
  app/Jobs/FetchCollectionBannerBatch.php
  app/Jobs/FetchCollectionFloorPrice.php
  app/Jobs/FetchCollectionNfts.php
  app/Jobs/FetchCollectionOwners.php
  app/Jobs/FetchCollectionTraits.php
  app/Jobs/FetchCollectionVolume.php
  app/Jobs/FetchEnsDetails.php
  app/Jobs/FetchNativeBalances.php
  app/Jobs/FetchNftActivity.php
  app/Jobs/FetchPriceHistory.php
  app/Jobs/FetchTokens.php
  app/Jobs/FetchWalletNfts.php
  app/Jobs/RefreshNftMetadata.php
  app/Jobs/UpdateTokenDetails.php
Labels: feature

#124 fix: condition to check for metamask existence
  resources/images/networks/ethereum.svg
  resources/js/Hooks/useMetaMask.ts
  resources/js/Pages/Galleries/MyGalleries/Create.tsx
Labels: bugfix

#127 fix: set testing wallet as signed in testing_e2e
  app/Providers/AuthServiceProvider.php
Labels: bugfix

#120 refactor: respect "show hidden" state for collection overview stats
  app/Http/Controllers/CollectionController.php
  resources/js/Pages/Collections/Components/CollectionsHeading/CollectionsHeading.tsx
  resources/js/Pages/Collections/Hooks/useCollections.ts
  resources/js/Pages/Collections/Index.tsx
  tests/App/Http/Controllers/CollectionControllerTest.php
Labels: refactor

#129 fix: provide default stats in collections hook
  resources/js/Pages/Collections/Hooks/useCollections.ts
Labels: bugfix

#132 chore: update JavaScript dependencies
  package.json
  pnpm-lock.yaml
Labels: chore

#125 refactor: limit fetched collections for signed wallets
  app/Console/Commands/FetchCollectionNfts.php
  app/Console/Kernel.php
  app/Models/Collection.php
  app/Models/Wallet.php
  app/Support/Signature.php
  database/migrations/2023_09_22_145935_add_last_signed_at_to_wallets_table.php
  queries/collections.get_with_signed_wallet.sql
  tests/App/Console/Commands/FetchCollectionNftsTest.php
  tests/App/Models/CollectionTest.php
  tests/App/Models/WalletTest.php
  tests/App/Support/SignatureTest.php
Labels: refactor

#62 refactor: improve auth handling
  app/Http/Controllers/Auth/AuthenticatedSessionController.php
  resources/js/Components/Layout/LayoutWrapper.tsx
  resources/js/Hooks/useMetaMask.ts
  resources/js/Pages/Collections/Components/CollectionsFilter/CollectionsSorting.tsx
  tests/App/Http/Controllers/AuthenticatedSessionControllerTest.php
Labels: refactor

#137 fix: keep model's existing `extra_attributes` properties
  app/Jobs/FetchCollectionBannerBatch.php
  app/Jobs/FetchCollectionMetadataJob.php
  app/Jobs/FetchNativeBalances.php
  tests/App/Jobs/FetchCollectionBannerBatchTest.php
  tests/App/Jobs/FetchCollectionBannerTest.php
  tests/App/Jobs/FetchCollectionMetadataJobTest.php
  tests/App/Jobs/FetchNativeBalancesTest.php
Labels: bugfix

#123 fix: filter irrelevant collections for jobs
  app/Console/Commands/FetchCollectionBannerBatch.php
  app/Console/Commands/FetchCollectionNfts.php
  app/Console/Commands/InteractsWithCollections.php
  app/Models/Collection.php
  tests/App/Console/Commands/FetchCollectionBannerBatchTest.php
  tests/App/Console/Commands/FetchCollectionNftsTest.php
  tests/App/Models/CollectionTest.php
Labels: bugfix

#139 fix: filter irrelevant collections for signed wallets
  app/Console/Commands/FetchCollectionNfts.php
  app/Models/Collection.php
  phpstan.neon
  queries/collections.get_with_signed_wallet.sql
  tests/App/Console/Commands/FetchCollectionNftsTest.php
  tests/App/Models/CollectionTest.php
Labels: bugfix

#140 refactor: handle signature request on settings page differently
  app/Http/Controllers/GeneralSettingsController.php
  resources/js/Components/Layout/AuthOverlay/AuthOverlay.contracts.ts
  resources/js/Components/Layout/AuthOverlay/AuthOverlay.test.tsx
  resources/js/Components/Layout/AuthOverlay/AuthOverlay.tsx
  resources/js/Components/Layout/LayoutWrapper.tsx
  resources/js/Components/Layout/Navbar.test.tsx
  resources/js/Components/Navbar/UserDetails.test.tsx
  resources/js/Components/Navbar/UserDetails.tsx
  resources/js/Hooks/useAuth.ts
  resources/js/Pages/Settings/General.tsx
  resources/js/Pages/Settings/Layout.tsx
  routes/web.php
  tests/App/Http/Controllers/GeneralSettingsControllerTest.php
Labels: refactor

#146 fix: require signature for reporting on collections overview page
  resources/js/Components/Collections/CollectionActions/CollectionActions.test.tsx
  resources/js/Components/Collections/CollectionActions/CollectionActions.tsx
  resources/js/Components/Collections/CollectionCard/CollectionCard.test.tsx
  resources/js/Components/Collections/CollectionsGrid/CollectionsGrid.test.tsx
  resources/js/Components/Collections/CollectionsTable/CollectionsTable.test.tsx
Labels: feature

#145 refactor: add `display_name` column to the `users` table
  database/migrations/2023_09_26_145935_add_display_name_to_users_table.php
Labels: refactor

#147 feat: require signature when hiding in collections overview page
  resources/js/Components/Collections/CollectionActions/CollectionActions.test.tsx
  resources/js/Components/Collections/CollectionActions/CollectionActions.tsx
Labels: feature

#126 feat: fetch collection nfts limited for non signed wallets
  app/Console/Commands/FetchCollectionNfts.php
  app/Console/Commands/InteractsWithCollections.php
  app/Console/Kernel.php
  app/Jobs/FetchCollectionNfts.php
  app/Models/Collection.php
  config/dashbrd.php
  tests/App/Console/Commands/FetchCollectionNftsTest.php
  tests/App/Jobs/FetchCollectionNftsTest.php
  tests/App/Models/CollectionTest.php
Labels: feature

#151 fix: apply signature middleware for reporting and hiding
  routes/web.php
  tests/App/Http/Controllers/CollectionReportControllerTest.php
  tests/App/Http/Controllers/HiddenCollectionControllerTest.php
  tests/App/Http/Controllers/NftReportControllerTest.php
Labels: feature

#144 feat: article card
  lang/en/pages.php
  resources/js/Components/Articles/ArticleCard/ArticleCard.test.tsx
  resources/js/Components/Articles/ArticleCard/ArticleCard.tsx
  resources/js/Components/Articles/ArticleCard/index.ts
  resources/js/I18n/Locales/en.json
  stories/Articles/ArticleCard.stories.tsx
Labels: feature

#152 feat: empty articles tab
  app/Http/Controllers/CollectionController.php
  lang/en/pages.php
  resources/icons/newspaper.svg
  resources/js/Components/Tabs.tsx
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Collections/Components/CollectionNavigation/CollectionNavigation.tsx
  resources/js/Pages/Collections/View.tsx
  resources/js/icons.tsx
Labels: feature

#150 feat: article list item
  resources/js/Components/Articles/ArticleListItem/ArticleListItem.test.tsx
  resources/js/Components/Articles/ArticleListItem/ArticleListItem.tsx
  resources/js/Components/Articles/ArticleListItem/index.ts
  stories/Articles/ArticleListItem.stories.tsx
Labels: feature

#155 refactor: ask for signature when publishing gallery
  resources/js/Components/Collections/CollectionActions/CollectionActions.test.tsx
  resources/js/Components/Collections/CollectionCard/CollectionCard.test.tsx
  resources/js/Components/Collections/CollectionHeader/CollectionHeaderTop.test.tsx
  resources/js/Components/Collections/CollectionsGrid/CollectionsGrid.test.tsx
  resources/js/Components/Collections/CollectionsTable/CollectionsTable.test.tsx
  resources/js/Components/Galleries/GalleryPage/GalleryControls.test.tsx
  resources/js/Components/Galleries/GalleryPage/GalleryReportModal.test.tsx
  resources/js/Components/Galleries/NftGalleryCard.blocks.test.tsx
  resources/js/Components/Report.test.tsx
  resources/js/Hooks/useAuthorizedAction.test.ts
  resources/js/Hooks/useAuthorizedAction.ts
  resources/js/Pages/Galleries/Index.tsx
  resources/js/Pages/Galleries/MyGalleries/Create.tsx
  resources/js/Pages/Galleries/MyGalleries/Index.tsx
  routes/web.php
  tests/App/Http/Controllers/MyGalleryControllerTest.php
Labels: refactor

#153 chore: add additional gallery logging
  .env.example
  app/Notifications/GalleryNftsChanged.php
  app/Support/Web3NftHandler.php
  config/dashbrd.php
  tests/App/Jobs/FetchWalletNftsTest.php
Labels: chore

#96 feat: new pagination design
  lang/en/common.php
  resources/js/Components/Collections/CollectionActivityTable/CollectionActivityTable.tsx
  resources/js/Components/Form/Listbox/Listbox.blocks.tsx
  resources/js/Components/Pagination/MobileButton.tsx
  resources/js/Components/Pagination/NextPageLink.tsx
  resources/js/Components/Pagination/PageInput.test.tsx
  resources/js/Components/Pagination/PageInput.tsx
  resources/js/Components/Pagination/Pagination.contracts.ts
  resources/js/Components/Pagination/Pagination.test.tsx
  resources/js/Components/Pagination/Pagination.tsx
  resources/js/Components/Pagination/PreviousPageLink.tsx
  resources/js/Components/Pagination/SelectPageLimit.test.tsx
  resources/js/Components/Pagination/SelectPageLimit.tsx
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Collections/Components/CollectionNftsGrid/CollectionNftsGrid.tsx
  resources/js/Pages/Galleries/Components/GalleryPage/GalleryPage.tsx
  resources/js/Pages/Galleries/MyGalleries/Index.tsx
  stories/Base/Pagination.stories.tsx
Labels: feature

#156 fix: always create collection with image for nftbasicinfo test
  resources/js/Components/Collections/Nfts/NftHeader/NftBasicInfo.test.tsx
Labels: bugfix

#157 fix: storybook missing hint colors
  stories/Documentation/Color.tsx
Labels: bugfix

#154 refactor: new footer design for tablet and mobile views
  resources/js/Components/Layout/Footer.tsx
Labels: refactor

#163 feat: sort collections by name in asc order by default
  app/Http/Controllers/CollectionController.php
  app/Models/Collection.php
  tests/App/Models/CollectionTest.php
Labels: feature

#161 refactor: modify metamask sign request message
  lang/en/auth.php
  resources/js/I18n/Locales/en.json
Labels: refactor

#162 refactor: use OpenSea instead of footprint for floor prices
  .env.example
  SETUP.md
  app/Data/Web3/Web3NftData.php
  app/Enums/FootprintChain.php
  app/Enums/Service.php
  app/Http/Client/Alchemy/AlchemyPendingRequest.php
  app/Http/Client/Footprint/FootprintFactory.php
  app/Http/Client/Footprint/FootprintPendingRequest.php
  app/Http/Client/Moralis/MoralisPendingRequest.php
  app/Http/Client/Opensea/OpenseaFactory.php
  app/Http/Client/Opensea/OpenseaPendingRequest.php
  app/Jobs/FetchCollectionMetadataJob.php
  app/Models/Collection.php
  app/Services/Traits/LoadsFromCache.php
  app/Services/Web3/Fake/FakeWeb3DataProvider.php
  app/Services/Web3/Opensea/OpenseaWeb3DataProvider.php
  app/Services/Web3/Web3ProviderFactory.php
  app/Support/Facades/Opensea.php
  app/Support/Web3NftHandler.php
  config/dashbrd.php
  config/services.php
  database/seeders/LiveUserSeeder.php
  resources/types/generated.d.ts
  tests/App/Http/Client/Footprint/FootprintPendingRequestTest.php
  tests/App/Http/Client/Opensea/OpenseaPendingRequestTest.php
  tests/App/Jobs/DetermineCollectionMintingDateTest.php
  tests/App/Jobs/FetchCollectionFloorPriceTest.php
  tests/App/Models/CollectionTest.php
  tests/App/Services/Web3/Opensea/OpenseaWeb3DataProviderTest.php
  tests/App/Support/Web3NftHandlerTest.php
  tests/TestCase.php
  tests/fixtures/footprint/collection_metrics.json
  tests/fixtures/footprint/collection_metrics_empty_data.json
  tests/fixtures/footprint/collection_metrics_no_supported.json
  tests/fixtures/opensea/collection_stats.json
Labels: refactor

#165 fix: handle opensea various null values for floor prices
  app/Http/Client/Opensea/OpenseaPendingRequest.php
  app/Jobs/FetchCollectionFloorPrice.php
  tests/App/Jobs/FetchCollectionFloorPriceTest.php
  tests/fixtures/opensea/collection_stats_floor_price_null.json
  tests/fixtures/opensea/collection_stats_missing_collection.json
Labels: bugfix

#159 feat: dark mode for navbar and general layout background
  resources/css/_buttons.css
  resources/js/Components/Clipboard/Clipboard.tsx
  resources/js/Components/Layout/Navbar.tsx
  resources/js/Components/Navbar/AppMenuItem.tsx
  resources/js/Components/Navbar/MobileMenu.tsx
  resources/js/Components/Navbar/UserDetails.tsx
  resources/js/Components/PortfolioBreakdown/PortfolioBreakdownLine.tsx
  resources/js/Components/Slider.tsx
  resources/js/Contexts/DarkModeContex.tsx
  resources/js/Pages/Settings/General.tsx
  resources/js/app.tsx
  resources/views/app.blade.php
Labels: feature

#160 feat: dark mode for footer
  resources/js/Components/Layout/Footer.tsx
  resources/js/Components/Link.tsx
  resources/js/Components/Point.tsx
  resources/js/Components/PoweredByIcons.tsx
  resources/js/Components/__snapshots__/Link.test.tsx.snap
Labels: feature

#149 feat: add featured collections component
  resources/js/Components/Articles/ArticleCard/ArticleCard.blocks.test.tsx
  resources/js/Components/Articles/ArticleCard/ArticleCard.blocks.tsx
  resources/js/Components/Articles/ArticleCard/ArticleCard.tsx
  resources/js/Components/Articles/ArticleCard/ArticleCardContracts.ts
  resources/js/Components/Articles/ArticleListItem/ArticleListItem.tsx
  stories/Articles/ArticleCard.stories.tsx
  stories/Articles/ArticleListItem.stories.tsx
  stories/Articles/FeaturedCollections.stories.tsx
  stories/Articles/mockCollections.tsx
Labels: feature

#167 feat: dark mode for toggles, checkbox, text & radio inputs
  resources/css/_buttons.css
  resources/css/_general.css
  resources/js/Components/Collections/CollectionDescription/CollectionDescription.tsx
  resources/js/Components/ConfirmationDialog.tsx
  resources/js/Components/Dialog.tsx
  resources/js/Components/EmptyBlock/EmptyBlock.tsx
  resources/js/Components/Form/Checkbox.tsx
  resources/js/Components/Form/Radio.tsx
  resources/js/Components/Form/SearchInput.tsx
  resources/js/Components/Form/TextInput/TextInput.styles.ts
  resources/js/Components/Form/TextInput/TextInput.tsx
  resources/js/Components/Form/Toggle.tsx
  resources/js/Components/Form/__snapshots__/Toggle.test.tsx.snap
  resources/js/Pages/Collections/Components/CollectionPropertiesFilter/CollectionPropertiesFilter.blocks.tsx
  resources/js/Pages/Collections/Components/CollectionPropertiesFilter/CollectionPropertiesFilter.tsx
Labels: feature
