Repository ArdentHQ/dashbrd, pull requests merged in 2024-01, with the labels that each got.

#581 chore: update PHP dependencies
  composer.json
  composer.lock
  public/css/filament/filament/app.css
  public/css/filament/forms/forms.css
  public/js/filament/forms/components/file-upload.js
  public/js/filament/support/async-alpine.js
  public/js/filament/support/support.js
Labels: chore

#582 chore: update JavaScript dependencies
  package.json
  pnpm-lock.yaml
Labels: chore

#584 fix: remove visible transition from light to dark mode on page load
  resources/views/app.blade.php
Labels: bugfix

#586 fix: do not use Blade to render custom query if there are no parameters
  app/helpers.php
Labels: bugfix

#589 fix: flaky test in UI components
  resources/js/Components/Collections/CollectionsFullTable/CollectionsFullTable.test.tsx
Labels: bugfix

#585 fix: populate winners based on votes when seeding
  database/seeders/CollectionVotesSeeder.php
  database/seeders/LiveSeeder.php
  database/seeders/WinnerCollectionSeeder.php
Labels: bugfix

#583 fix: collection of the month error
  app/Models/CollectionWinner.php
  resources/js/Pages/Collections/CollectionOfTheMonth.tsx
Labels: bugfix

#588 refactor: fixate footer buttons of collection traits panel to bottom
  resources/js/Pages/Collections/Components/CollectionFilterSlider/CollectionFilterSlider.tsx
Labels: refactor

#590 fix: text color on the tab button should be `primary-900`
  resources/js/Components/Tabs.test.tsx
  resources/js/Components/Tabs.tsx
Labels: bugfix

#591 refactor: change the font weight on "Time left" label
  resources/js/Pages/Collections/Components/CollectionVoting/VoteCountdown.tsx
Labels: refactor

#592 refactor: ensure winner avatars are clickable on the "collection of the month" page
  resources/js/Components/Collections/CollectionOfTheMonthWinners/CollectionOfTheMonthWinners.blocks.tsx
Labels: refactor

#593 fix: place "previous winners" In a "vote for cotm" block
  resources/js/Components/Collections/CollectionOfTheMonthWinners/CollectionOfTheMonthWinners.blocks.tsx
  resources/js/Pages/Collections/Components/CollectionVoting/VoteCollections.tsx
  resources/js/Pages/Collections/Index.tsx
Labels: bugfix

#595 fix: change voting limit to once a month instead of 30 days
  app/Http/Controllers/CollectionVoteController.php
  tests/App/Http/Controllers/CollectionVoteControllerTest.php
Labels: bugfix

#594 fix: "featured collections" overflows onto the next line on 768px
  resources/js/Components/Articles/Article.blocks.test.tsx
  resources/js/Components/Articles/Article.blocks.tsx
Labels: bugfix

#596 chore: update JavaScript dependencies
  package.json
  pnpm-lock.yaml
Labels: chore

#597 chore: update PHP dependencies
  composer.json
  composer.lock
  public/css/filament/filament/app.css
  public/css/filament/forms/forms.css
  public/js/filament/support/support.js
Labels: chore

#587 feat: fetch total volume for collections
  app/Console/Commands/FetchCollectionTotalVolume.php
  app/Console/Kernel.php
  app/Data/Collections/CollectionDetailData.php
  app/Http/Client/Opensea/OpenseaPendingRequest.php
  app/Jobs/FetchCollectionTotalVolume.php
  app/Jobs/RefreshWalletCollections.php
  app/Support/Facades/Opensea.php
  database/migrations/2024_01_10_121726_add_total_volume_column_to_collections_table.php
  tests/App/Console/Commands/FetchCollectionTotalVolumeTest.php
  tests/App/Http/Client/Opensea/OpenseaPendingRequestTest.php
  tests/App/Jobs/FetchCollectionTotalVolumeTest.php
  tests/App/Jobs/RefreshWalletCollectionsTest.php
Labels: feature

#599 refactor: indicate cotm winners and disable voting for those collections
  app/Data/Collections/VotableCollectionData.php
  app/Http/Controllers/Api/NominatableCollectionController.php
  app/Http/Controllers/CollectionController.php
  app/Http/Controllers/CollectionVoteController.php
  lang/en/pages.php
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Collections/Components/CollectionVoting/NomineeCollection.tsx
  resources/js/Pages/Collections/Components/CollectionVoting/VoteCollections.tsx
  resources/js/Tests/Factories/Collections/VotableCollectionDataFactory.ts
  resources/types/generated.d.ts
  tests/App/Http/Controllers/CollectionVoteControllerTest.php
Labels: refactor

#601 fix: increase name column width on the popular collection table
  resources/js/Components/Collections/CollectionsFullTable/CollectionName.tsx
  resources/js/Components/Collections/CollectionsFullTable/CollectionsFullTableItem.tsx
Labels: bugfix

#598 refactor: inline the query to update collection monthly ranking
  app/Console/Kernel.php
  app/Http/Controllers/CollectionVoteController.php
  app/Jobs/FetchCollectionVolume.php
  app/Jobs/ResetCollectionRanking.php
  app/Models/Collection.php
  database/migrations/2023_12_21_152434_add_monthly_rank_to_collections_table.php
  tests/App/Jobs/ResetCollectionRankingTest.php
  tests/App/Models/CollectionTest.php
Labels: refactor

#606 refactor: global helper functions
  app/Console/Commands/LiveDumpNfts.php
  app/Http/Client/Alchemy/AlchemyPendingRequest.php
  app/Http/Controllers/LandingPageDataController.php
  app/Providers/AppServiceProvider.php
  app/helpers.php
  tests/App/helpersTest.php
Labels: refactor

#602 refactor: use Headless UI's `Dialog` component for auth overlay
  resources/css/app.css
  resources/js/Components/Layout/AuthOverlay/AuthOverlay.contracts.ts
  resources/js/Components/Layout/AuthOverlay/AuthOverlay.tsx
  resources/js/Components/Layout/NoNftsOverlay/NoNftsOverlay.tsx
  resources/js/Components/Layout/Overlay/Overlay.contracts.ts
  resources/js/Components/Layout/Overlay/Overlay.tsx
Labels: refactor

#604 refactor: rename `getNftCollection*` methods to `getCollection*`
  app/Console/Commands/LiveDumpNfts.php
  app/Console/Commands/LiveDumpWallets.php
  app/Contracts/Web3DataProvider.php
  app/Http/Client/Alchemy/AlchemyPendingRequest.php
  app/Http/Client/Mnemonic/MnemonicPendingRequest.php
  app/Http/Client/Moralis/MoralisPendingRequest.php
  app/Http/Client/Opensea/OpenseaPendingRequest.php
  app/Jobs/FetchCollectionBanner.php
  app/Jobs/FetchCollectionFloorPrice.php
  app/Jobs/FetchCollectionOwners.php
  app/Jobs/FetchCollectionTraits.php
  app/Jobs/FetchCollectionVolume.php
  app/Services/Web3/Alchemy/AlchemyWeb3DataProvider.php
  app/Services/Web3/Fake/FakeWeb3DataProvider.php
  app/Services/Web3/Mnemonic/MnemonicWeb3DataProvider.php
  app/Services/Web3/Moralis/MoralisWeb3DataProvider.php
  app/Services/Web3/Opensea/OpenseaWeb3DataProvider.php
  app/Support/Facades/Alchemy.php
  app/Support/Facades/Mnemonic.php
  app/Support/Facades/Moralis.php
  app/Support/Facades/Opensea.php
  config/dashbrd.php
  tests/App/Http/Client/Mnemonic/MnemonicPendingRequestTest.php
  tests/App/Http/Client/Moralis/MoralisPendingRequestTest.php
  tests/App/Http/Client/Opensea/OpenseaPendingRequestTest.php
  tests/App/Services/Web3/Alchemy/AlchemyWeb3DataProviderTest.php
  tests/App/Services/Web3/Mnemonic/MnemonicWeb3DataProviderTest.php
  tests/App/Services/Web3/Moralis/MoralisWeb3DataProviderTest.php
  tests/App/Services/Web3/Opensea/OpenseaWeb3DataProviderTest.php
  tests/App/Support/Facades/MnemonicTest.php
Labels: refactor

#603 refactor: move authentication overlay to the nomination modal
  resources/js/Components/Layout/Overlay/Overlay.tsx
  resources/js/Pages/Collections/Components/CollectionVoting/NominationDialog.tsx
  resources/js/Pages/Collections/Components/CollectionVoting/VoteCollections.tsx
Labels: refactor

#608 refactor: prevent collections with no NFTs from being set as featured
  app/Filament/Resources/CollectionResource.php
Labels: refactor

#576 refactor: store collection volume changes
  app/Console/Commands/FetchAverageCollectionVolume.php
  app/Console/Kernel.php
  app/Http/Client/Mnemonic/MnemonicPendingRequest.php
  app/Jobs/FetchAverageCollectionVolume.php
  app/Jobs/FetchCollectionVolume.php
  app/Jobs/RefreshWalletCollections.php
  app/Jobs/SyncCollection.php
  app/Models/Collection.php
  app/Models/TradingVolume.php
  app/Support/Facades/Mnemonic.php
  app/Support/Web3NftHandler.php
  database/factories/TradingVolumeFactory.php
  database/migrations/2023_12_19_122041_create_trading_volumes_table.php
  database/migrations/2023_12_19_181634_add_volume_change_columns_to_collections_table.php
  tests/App/Console/Commands/FetchAverageCollectionVolumeTest.php
  tests/App/Http/Client/Mnemonic/MnemonicPendingRequestTest.php
  tests/App/Jobs/FetchAverageCollectionVolumeTest.php
  tests/App/Jobs/FetchCollectionVolumeTest.php
  tests/App/Jobs/RefreshWalletCollectionsTest.php
  tests/App/Models/TradingVolumeTest.php
  tests/App/Support/Web3NftHandlerTest.php
Labels: refactor

#609 fix: collection already won typo
  lang/en/pages.php
  resources/js/I18n/Locales/en.json
Labels: bugfix

#610 refactor: use `button` element for collection row when voting
  resources/js/Pages/Collections/Components/CollectionVoting/VoteCollections.tsx
Labels: refactor

#607 refactor: sorting by volume change in a specific period
  app/Http/Controllers/CollectionController.php
  app/Models/Collection.php
Labels: refactor

#614 chore: update PHP dependencies
  app/Contracts/MarketDataProvider.php
  app/Http/Controllers/LandingPageDataController.php
  app/Http/Controllers/WalletsLineChartController.php
  app/Services/MarketData/Providers/CoingeckoProvider.php
  app/Support/TokenSpam.php
  app/Support/Web3NftHandler.php
  composer.json
  composer.lock
  public/css/filament/filament/app.css
  public/js/filament/forms/components/color-picker.js
  public/js/filament/support/support.js
  public/js/filament/tables/components/table.js
  public/vendor/horizon/app.js
  public/vendor/horizon/mix-manifest.json
  rector.php
Labels: chore

#615 chore: update JavaScript dependencies
  jsconfig.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
Labels: chore

#605 refactor: rename `Web3NftCollection*` DTOs to `Web3Collection*`
  app/Contracts/Web3DataProvider.php
  app/Data/Web3/Web3CollectionFloorPrice.php
  app/Data/Web3/Web3CollectionTrait.php
  app/Data/Web3/Web3NftData.php
  app/Http/Client/Alchemy/AlchemyPendingRequest.php
  app/Http/Client/Mnemonic/MnemonicPendingRequest.php
  app/Http/Client/Moralis/MoralisPendingRequest.php
  app/Http/Client/Opensea/OpenseaPendingRequest.php
  app/Jobs/FetchCollectionTraits.php
  app/Services/Web3/Alchemy/AlchemyWeb3DataProvider.php
  app/Services/Web3/Fake/FakeWeb3DataProvider.php
  app/Services/Web3/Mnemonic/MnemonicWeb3DataProvider.php
  app/Services/Web3/Moralis/MoralisWeb3DataProvider.php
  app/Services/Web3/Opensea/OpenseaWeb3DataProvider.php
  app/Support/Facades/Alchemy.php
  app/Support/Facades/Mnemonic.php
  app/Support/Facades/Moralis.php
  app/Support/Facades/Opensea.php
  app/Support/Web3CollectionHandler.php
  database/seeders/LiveUserSeeder.php
  tests/App/Http/Client/Opensea/OpenseaPendingRequestTest.php
  tests/App/Services/Web3/Alchemy/AlchemyWeb3DataProviderTest.php
  tests/App/Services/Web3/Fake/FakeWeb3DataProviderTest.php
  tests/App/Services/Web3/Moralis/MoralisWeb3DataProviderTest.php
  tests/App/Services/Web3/Opensea/OpenseaWeb3DataProviderTest.php
  tests/App/Support/Facades/MnemonicTest.php
Labels: refactor

#613 refactor: add methods to convert crypto to current fiat price of a token
  app/Models/Token.php
  app/Models/Traits/BelongsToNetwork.php
  tests/App/Models/CollectionTest.php
  tests/App/Models/TokenTest.php
Labels: refactor

#612 refactor: sort popular collections by volume
  app/Http/Controllers/CollectionController.php
  app/Http/Controllers/PopularCollectionController.php
  app/Models/Collection.php
  app/Models/Traits/HasVolume.php
  tests/App/Models/CollectionTest.php
Labels: refactor

#611 refactor: show volume in the popular collections table
  app/Data/Collections/PopularCollectionData.php
  app/Data/Collections/VotableCollectionData.php
  app/Data/VolumeData.php
  app/Http/Controllers/Api/NominatableCollectionController.php
  app/Http/Controllers/CollectionController.php
  app/Http/Controllers/PopularCollectionController.php
  app/Models/Collection.php
  app/Models/Token.php
  app/Models/Traits/HasVolume.php
  lang/en/common.php
  resources/js/Components/Collections/CollectionName/NominateCollectionName.test.tsx
  resources/js/Components/Collections/CollectionName/NominateCollectionName.tsx
  resources/js/Components/Collections/PopularCollectionsTable/PopularCollectionsTable.blocks.tsx
  resources/js/Components/Collections/PopularCollectionsTable/PopularCollectionsTable.contract.ts
  resources/js/Components/Collections/PopularCollectionsTable/PopularCollectionsTable.test.tsx
  resources/js/Components/Collections/PopularCollectionsTable/PopularCollectionsTable.tsx
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Collections/Components/CollectionVoting/NomineeCollections.tsx
  resources/js/Pages/Collections/Components/CollectionVoting/VoteCollections.test.tsx
  resources/js/Pages/Collections/Components/CollectionVoting/VoteCollections.tsx
  resources/js/Pages/Collections/Index.tsx
  resources/js/Tests/Factories/Collections/PopularCollectionFactory.ts
  resources/js/Tests/Factories/Collections/VotableCollectionDataFactory.ts
  resources/js/Tests/Factories/VolumeFactory.ts
  resources/types/generated.d.ts
  tests/App/Http/Controllers/Api/NominatableCollectionControllerTest.php
  tests/App/Http/Controllers/CollectionControllerTest.php
  tests/App/Models/CollectionTest.php
Labels: refactor

#616 refactor: use sum instead of average for volumes in a specific period
  app/Console/Commands/FetchCollectionVolumeForPeriod.php
  app/Http/Client/Mnemonic/MnemonicPendingRequest.php
  app/Jobs/FetchCollectionVolume.php
  app/Jobs/FetchCollectionVolumeForPeriod.php
  app/Models/Traits/HasVolume.php
  app/Support/Facades/Mnemonic.php
  app/Support/Web3NftHandler.php
  database/migrations/2024_01_22_102544_add_volume_sum_columns_to_collections_table.php
  resources/js/Components/Collections/PopularCollectionsTable/PopularCollectionsTable.blocks.tsx
  resources/js/Components/Collections/PopularCollectionsTable/PopularCollectionsTable.test.tsx
  tests/App/Console/Commands/FetchCollectionVolumeForPeriodTest.php
  tests/App/Http/Client/Mnemonic/MnemonicPendingRequestTest.php
  tests/App/Jobs/FetchAverageCollectionVolumeTest.php
  tests/App/Jobs/FetchCollectionVolumeForPeriodTest.php
  tests/App/Jobs/FetchCollectionVolumeTest.php
  tests/App/Models/CollectionTest.php
  tests/App/Support/Web3NftHandlerTest.php
Labels: refactor

#618 refactor: fetch collection volume history in a single request
  app/Console/Commands/FetchCollectionVolumeForPeriod.php
  app/Console/Commands/FetchCollectionVolumeHistory.php
  app/Data/Web3/Web3Volume.php
  app/Enums/Chain.php
  app/Http/Client/Mnemonic/MnemonicPendingRequest.php
  app/Jobs/FetchCollectionVolume.php
  app/Jobs/FetchCollectionVolumeHistory.php
  app/Models/Traits/HasVolume.php
  app/Support/CryptoUtils.php
  app/Support/Facades/Mnemonic.php
  app/Support/Web3NftHandler.php
  database/migrations/2024_01_22_152605_add_unique_constraint_to_trading_volumes_table.php
  tests/App/Console/Commands/FetchCollectionVolumeForPeriodTest.php
  tests/App/Console/Commands/FetchCollectionVolumeHistoryTest.php
  tests/App/Http/Client/Mnemonic/MnemonicPendingRequestTest.php
  tests/App/Jobs/FetchCollectionVolumeForPeriodTest.php
  tests/App/Jobs/FetchCollectionVolumeHistoryTest.php
  tests/App/Jobs/FetchCollectionVolumeTest.php
  tests/App/Support/Web3NftHandlerTest.php
Labels: refactor

#620 fix: flaky collection vote test
  tests/App/Models/CollectionVoteTest.php
Labels: bugfix

#617 refactor: replace "value" with "volume" in popular collections table
  app/Data/Collections/CollectionData.php
  app/Http/Controllers/PopularCollectionController.php
  database/factories/NetworkFactory.php
  resources/js/Components/Collections/CollectionsFullTable/CollectionsFullTable.contracts.ts
  resources/js/Components/Collections/CollectionsFullTable/CollectionsFullTable.test.tsx
  resources/js/Components/Collections/CollectionsFullTable/CollectionsFullTable.tsx
  resources/js/Components/Collections/CollectionsFullTable/CollectionsFullTableItem.tsx
  resources/js/Pages/Collections/CollectionsCatalog/Index.tsx
  resources/js/Tests/Factories/Collections/CollectionFactory.ts
  resources/js/Tests/SampleData/SampleCollection.ts
  resources/types/generated.d.ts
  tests/App/Http/Controllers/MyCollectionControllerTest.php
Labels: refactor

#619 refactor: sort collections by volume fiat value
  app/Http/Controllers/CollectionController.php
  app/Http/Controllers/PopularCollectionController.php
  app/Models/Traits/HasVolume.php
  tests/App/Models/CollectionTest.php
Labels: refactor

#621 refactor: hide articles section if none have been published
  resources/js/Pages/Collections/Index.tsx
Labels: refactor

#623 refactor: hide featured collections if there are none
  app/Http/Controllers/CollectionController.php
  resources/js/Pages/Collections/Components/FeaturedCollections/FeaturedCollectionsCarousel.tsx
  resources/js/Pages/Collections/Index.tsx
Labels: refactor

#622 refactor: show the article placeholder if there's only a few articles
  resources/js/Pages/Collections/Components/CollectionsArticles.tsx
Labels: refactor

#624 chore: replace call to action images
  resources/images/collections-dark.png
  resources/images/collections-mobile-dark.png
  resources/images/collections-mobile.png
  resources/images/collections.png
Labels: chore

#625 chore: update actions workflows
  .github/workflows/chromatic.yml
  .github/workflows/ci.yml
  .github/workflows/conflicts.yml
  .github/workflows/deps.yml
  .github/workflows/label.yml
  .github/workflows/test.yml
  .github/workflows/ui.yml
Labels: chore

#626 refactor: disable pagination in featured collections carousel if only one collection
  resources/js/Pages/Collections/Components/FeaturedCollections/FeaturedCollectionsCarousel.tsx
Labels: refactor

#628 refactor: show year for "cotm" winners
  lang/en/pages.php
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Collections/CollectionOfTheMonth.tsx
Labels: refactor

#629 refactor: use 30-day volume for previous "cotm" winners
  app/Data/Collections/CollectionOfTheMonthData.php
  app/Models/CollectionWinner.php
  app/Models/Traits/HasVolume.php
  resources/js/Pages/Collections/Components/WinnerCollections/WinnerCollections.blocks.tsx
  resources/js/Tests/Factories/Collections/CollectionOfTheMonthFactory.ts
  resources/types/generated.d.ts
  tests/App/Http/Controllers/CollectionOfTheMonthControllerTest.php
Labels: refactor

#631 fix: allow second/third ranked "cotm" collections to be voted on
  app/Http/Controllers/CollectionVoteController.php
  tests/App/Http/Controllers/CollectionVoteControllerTest.php
Labels: bugfix

#630 refactor: when 2 collections have the same vote count, determine winners by 30-day volume
  app/Console/Commands/AggregateWinners.php
  app/Jobs/AggregateCollectionWinners.php
  app/Models/Collection.php
  tests/App/Jobs/AggregateCollectionWinnersTest.php
Labels: refactor

#635 refactor: add composite (collection_id, deleted_at) index to `nfts` table
  database/migrations/2024_01_29_120936_add_collection_id_deleted_at_index_to_nfts_table.php
Labels: refactor

#636 refactor: format the number of NFTs and collections on the "popular collections" page
  resources/js/Pages/Collections/Components/CollectionsHeading/CollectionsHeading.tsx
Labels: refactor

#632 refactor: do not use deprecated mnemonic APIs
  app/Http/Client/Mnemonic/MnemonicPendingRequest.php
  app/Jobs/FetchCollectionOwners.php
  app/Support/Facades/Mnemonic.php
  tests/App/Http/Client/Mnemonic/MnemonicPendingRequestTest.php
  tests/App/Jobs/FetchCollectionBannerTest.php
  tests/App/Jobs/FetchCollectionOwnersTest.php
Labels: refactor

#637 refactor: improve `JOIN` query
  app/Http/Controllers/CollectionController.php
  app/Models/Traits/HasVolume.php
  database/migrations/2024_01_29_161909_add_index_to_tokens_table.php
Labels: refactor

#639 refactor: cache the articles on the homepage
  app/Console/Commands/UpdateArticlesViewCount.php
  app/Http/Controllers/CollectionController.php
  app/Observers/ArticleObserver.php
  app/Repositories/ArticleRepository.php
  tests/App/Observers/ArticleObserverTest.php
Labels: refactor

#642 refactor: lazy load popular collections on the homepage
  app/Http/Controllers/Api/PopularCollectionController.php
  app/Http/Controllers/CollectionController.php
  app/Http/Requests/FilterableCollectionRequest.php
  resources/js/Components/Collections/PopularCollectionsTable/PopularCollectionsTable.contract.ts
  resources/js/Components/Collections/PopularCollectionsTable/PopularCollectionsTable.test.tsx
  resources/js/Components/Collections/PopularCollectionsTable/PopularCollectionsTable.tsx
  resources/js/Components/Collections/PopularCollectionsTable/PopularCollectionsTableItem.tsx
  resources/js/Pages/Collections/Index.tsx
  resources/js/Pages/Collections/PopularCollections.tsx
  resources/js/Pages/Collections/ViewAllButton.tsx
  routes/api.php
  tests/App/Http/Controllers/Api/PopularCollectionControllerTest.php
Labels: refactor

#643 fix: capitalize the month name properly
  resources/js/Components/Collections/CollectionOfTheMonthWinners/CollectionOfTheMonthWinners.tsx
Labels: bugfix

#638 refactor: set "collections" page as root
  app/Http/Controllers/Auth/AuthenticatedSessionController.php
  app/Http/Controllers/DashboardController.php
  app/Http/Controllers/Filament/LogoutController.php
  app/Http/Middleware/Authenticate.php
  app/Http/Middleware/ValidateWallet.php
  resources/js/Components/Layout/Navbar.tsx
  routes/web.php
  tests/App/Http/Controllers/AuthenticatedSessionControllerTest.php
  tests/App/Http/Controllers/DashboardControllerTest.php
  tests/App/Http/Controllers/Filament/LogoutControllerTest.php
  tests/App/Http/Controllers/TokenControllerTest.php
Labels: refactor
