Repository ArdentHQ/dashbrd, pull requests merged in 2024-03, with the labels that each got.

#686 fix: prevent extra networks from being created while seeding
  database/seeders/CollectionFloorPriceHistorySeeder.php
Labels: bugfix

#666 refactor: use `range` function where applicable
  resources/js/Components/Collections/CollectionsFullTable/CollectionsFullTable.tsx
  resources/js/Components/Collections/CollectionsGrid/CollectionsGrid.tsx
  resources/js/Components/Collections/CollectionsTable/CollectionsTableItemSkeleton.tsx
  resources/js/Components/Galleries/NftCollection/NftCollections.tsx
  resources/js/Components/Galleries/NftGridEditable.tsx
  resources/js/Pages/Articles/Components/HighlightedArticles.tsx
  resources/js/Pages/Collections/Components/Articles/ArticlesGrid.tsx
  resources/js/Pages/Collections/Components/Articles/ArticlesList.tsx
  resources/js/Pages/Collections/Components/CollectionsArticles.tsx
  resources/js/Pages/Galleries/Components/GalleryPage/GalleryPage.tsx
  resources/js/Pages/Galleries/Components/GallerySkeleton/GallerySkeleton.tsx
  resources/js/Tests/Factories/ModelFactory.ts
  resources/js/utils/range.ts
Labels: refactor

#684 refactor: add utility to format the volume data
  resources/js/Components/Collections/CollectionName/NominateCollectionName.tsx
  resources/js/Components/Collections/PopularCollectionsTable/PopularCollectionsTable.blocks.tsx
  resources/js/Pages/Collections/Components/CollectionVoting/VoteCollections.tsx
  resources/js/Pages/Collections/Components/WinnerCollections/WinnerCollections.blocks.tsx
  resources/js/Utils/Currency.test.tsx
  resources/js/Utils/Currency.tsx
Labels: refactor

#665 refactor: unify `CollectionName` components
  resources/js/Components/Collections/CollectionName/CollectionName.test.tsx
  resources/js/Components/Collections/CollectionName/CollectionName.tsx
  resources/js/Components/Collections/CollectionsFullTable/CollectionName.test.tsx
  resources/js/Components/Collections/CollectionsFullTable/CollectionName.tsx
  resources/js/Components/Collections/CollectionsFullTable/CollectionsFullTableItem.tsx
  resources/js/Components/Collections/CollectionsTable/CollectionsTableItem.tsx
Labels: refactor

#667 refactor: rename `Label` file to `Badge` and disable abbreviations eslint rule
  .eslintrc.js
  resources/js/Components/Badge/Badge.test.tsx
  resources/js/Components/Badge/Badge.tsx
  resources/js/Components/Badge/Label.test.tsx
Labels: refactor

#685 chore: update JavaScript dependencies
  package.json
  pnpm-lock.yaml
Labels: chore

#674 refactor: hydrate the Collection model when persisting to database
  app/Data/Web3/Web3NftData.php
  app/Support/Web3NftHandler.php
Labels: refactor

#668 refactor: avoid `isTruthy` call in places where it's not needed
  resources/js/Components/Articles/ArticleCard/ArticleErrorImage.tsx
  resources/js/Components/Collections/CollectionDescription/CollectionDescription.tsx
  resources/js/Components/ErrorBlock/ErrorBlock.blocks.tsx
  resources/js/Components/Form/TextInput/TextInput.tsx
  resources/js/Components/Navbar/MobileMenu.tsx
  resources/js/Components/Skeleton/Skeleton.tsx
  resources/js/Pages/Articles/Show.tsx
  resources/js/Utils/assertions.ts
Labels: refactor

#656 refactor: calculate total collections value for a wallet on-demand
  app/Console/Commands/UpdateCollectionsFiatValue.php
  app/Http/Controllers/GeneralSettingsController.php
  app/Http/Controllers/HiddenCollectionController.php
  app/Models/User.php
  app/Repositories/CollectionMetricsRepository.php
  app/Support/Web3NftHandler.php
  database/migrations/2024_02_07_143542_remove_collections_value_column_from_users_table.php
  database/seeders/NftSeeder.php
  database/seeders/TopCollectionsNftsSeeder.php
  queries/users.calculate_collections_value.sql
  queries/users.calculate_collections_value_hidden.sql
  queries/users.calculate_collections_value_shown.sql
  tests/App/Console/Commands/UpdateCollectionsFiatValueTest.php
  tests/App/Models/UserTest.php
  tests/App/Repositories/CollectionMetricsRepositoryTest.php
Labels: refactor

#657 refactor: remove double call to fetch opensea collection slugs
  app/Console/Commands/FetchCollectionOpenseaSlug.php
  app/Console/Kernel.php
  app/Jobs/FetchCollectionOpenseaSlug.php
Labels: refactor

#676 refactor: add string macro to wrap string in quotes
  app/Providers/AppServiceProvider.php
  app/Support/StringUtils.php
  app/Support/Web3NftHandler.php
  tests/App/Support/StringUtilsTest.php
Labels: refactor

#678 refactor: remove unused `nfts_count` column from the `collection_traits` table
  app/Data/Collections/CollectionTraitData.php
  app/Data/Web3/Web3CollectionTrait.php
  app/Models/CollectionTrait.php
  app/Support/Web3CollectionHandler.php
  app/Support/Web3NftHandler.php
  database/factories/CollectionTraitFactory.php
  database/migrations/2024_02_19_141526_remove_nfts_count_from_collection_traits_table.php
  database/seeders/LiveUserSeeder.php
  database/seeders/TopCollectionsNftsSeeder.php
  queries/nfts.insert_collection_traits.sql
  resources/js/Tests/Factories/CollectionTraitDataFactory.ts
  resources/types/generated.d.ts
  tests/App/Support/Web3CollectionHandlerTest.php
Labels: refactor

#680 refactor: use OpenSea as fallback to retrieve total supply
  app/Http/Client/Opensea/OpenseaPendingRequest.php
  app/Jobs/FetchCollectionMetadataJob.php
  app/Jobs/FetchCollectionSupplyFromOpenSea.php
  app/Support/Facades/Opensea.php
  app/Support/Web3NftHandler.php
  tests/App/Http/Client/Opensea/OpenseaPendingRequestTest.php
  tests/App/Jobs/FetchCollectionMetadataJobTest.php
  tests/App/Jobs/FetchCollectionSupplyFromOpenSeaTest.php
  tests/App/Support/Web3NftHandlerTest.php
Labels: refactor

#681 refactor: use events to retrieve additional collection data on save
  app/Events/CollectionSaved.php
  app/Listeners/DispatchJobsForNewCollections.php
  app/Providers/EventServiceProvider.php
  app/Support/Web3NftHandler.php
  tests/App/Support/Web3NftHandlerTest.php
Labels: refactor

#687 refactor: only show erc721 collections in various tables
  app/Console/Commands/InteractsWithCollections.php
  app/Models/Collection.php
  tests/App/Support/Web3NftHandlerTest.php
Labels: refactor

#683 refactor: use total volume for featured collections and remove volume column
  app/Data/Collections/CollectionFeaturedData.php
  app/Http/Controllers/CollectionController.php
  app/Jobs/FetchCollectionVolume.php
  app/Models/Traits/HasVolume.php
  app/Repositories/CollectionRepository.php
  database/migrations/2024_02_26_142900_remove_volume_column_from_collections_table.php
  database/seeders/TopCollectionsNftsSeeder.php
  lang/en/common.php
  resources/js/I18n/Locales/en.json
  resources/js/Pages/Collections/Components/FeaturedCollections/FeaturedCollectionStats.tsx
  resources/types/generated.d.ts
  tests/App/Jobs/FetchCollectionVolumeTest.php
Labels: refactor

#690 fix: remove `nfts_count` from nft seeder
  database/seeders/NftSeeder.php
Labels: bugfix

#689 chore: update php dependencies
  app/Http/Client/Alchemy/AlchemyPendingRequest.php
  app/Models/FloorPriceHistory.php
  app/Models/Gallery.php
  app/Models/Nft.php
  app/Models/NftActivity.php
  app/Models/Token.php
  app/Models/TokenGuid.php
  app/Models/Wallet.php
  app/Models/WalletAddressDetails.php
  app/Support/TokenSpam.php
  composer.json
  composer.lock
  phpstan.neon
  public/css/filament/filament/app.css
  public/js/filament/filament/app.js
  public/js/filament/filament/echo.js
  public/js/filament/forms/components/file-upload.js
  public/js/filament/forms/components/markdown-editor.js
  public/js/filament/support/support.js
  public/js/filament/widgets/components/chart.js
  rector.php
Labels: chore

#692 fix: divison by zero when there is no yesterday's floor price
  app/Models/Traits/HasFloorPriceHistory.php
  tests/App/Models/CollectionTest.php
Labels: bugfix

#696 refactor: do not fire collection jobs for erc1155 collections
  app/Support/Web3NftHandler.php
  tests/App/Support/Web3NftHandlerTest.php
Labels: refactor

#697 fix: do not throw exception for opensea's 400 status code
  app/Http/Client/Opensea/OpenseaPendingRequest.php
  tests/App/Http/Client/Opensea/OpenseaPendingRequestTest.php
  tests/App/Jobs/FetchCollectionSupplyFromOpenSeaTest.php
Labels: bugfix

#698 fix: do not run job to fetch floor price if collection is missing
  app/Jobs/FetchCollectionFloorPrice.php
  tests/App/Jobs/FetchCollectionFloorPriceTest.php
Labels: bugfix

#699 refactor: add the batch options when updating collection traits
  app/Console/Commands/CalculateCollectionTraitRarities.php
  app/Jobs/CalculateTraitRarities.php
  app/Jobs/CalculateTraitRaritiesForCollection.php
  tests/App/Console/Commands/CalculateCollectionTraitRaritiesTest.php
  tests/App/Jobs/CalculateTraitRaritiesTest.php
Labels: refactor

#700 refactor: add `ShouldBeUnique` to job
  app/Jobs/DetermineCollectionMintingDate.php
  tests/App/Jobs/DetermineCollectionMintingDateTest.php
Labels: refactor

#691 refactor: use radix-ui accordion for collection traits panel
  resources/js/Pages/Collections/Components/CollectionPropertiesFilter/CollectionPropertiesFilter.blocks.tsx
  resources/js/Pages/Collections/Components/CollectionPropertiesFilter/CollectionPropertiesFilter.tsx
Labels: refactor

#693 chore: add phpunit cache to gitignore
  .gitignore
Labels: chore

#703 fix: `tr` within `div` inside test
  resources/js/Components/Collections/PopularCollectionsTable/PopularCollectionsTable.test.tsx
Labels: bugfix

#704 fix: missing test coverage
  resources/js/Components/Collections/CollectionPortfolioValue/CollectionPortfolioValue.test.tsx
  resources/js/Components/Collections/CollectionsTable/CollectionsTable.test.tsx
Labels: bugfix
