Repository ArdentHQ/dashbrd, pull requests merged in 2024-02, with the labels that each got.

#644 refactor: lazy load votable collections
  app/Http/Controllers/Api/VotableCollectionController.php
  app/Http/Controllers/CollectionController.php
  resources/js/Components/Collections/PopularCollectionsTable/PopularCollectionsTableItem.tsx
  resources/js/Pages/Collections/Components/CollectionVoting/NominationDialog.tsx
  resources/js/Pages/Collections/Components/CollectionVoting/VoteCollections.test.tsx
  resources/js/Pages/Collections/Components/CollectionVoting/VoteCollections.tsx
  resources/js/Pages/Collections/Components/CollectionsVoteReceivedModal/CollectionsVoteReceivedModal.tsx
  resources/js/Pages/Collections/Index.tsx
  resources/js/utils/range.test.ts
  resources/js/utils/range.ts
  routes/api.php
  tests/App/Http/Controllers/Api/VotableCollectionControllerTest.php
  tests/App/Http/Controllers/CollectionControllerTest.php
  tsconfig.json
Labels: refactor

#646 fix: shadow opacity
  resources/css/_collection.css
Labels: bugfix

#647 fix: strip markdown from a featured collection's description
  app/Data/Collections/CollectionFeaturedData.php
Labels: bugfix

#645 fix: "cotm" winners not shown if latest month winners are equal to current month
  resources/js/Pages/Collections/CollectionOfTheMonth.tsx
  resources/js/Pages/Collections/Components/WinnerCollections/Hooks/useWinnerCollections.ts
Labels: bugfix

#651 chore: update JavaScript dependencies
  package.json
  pnpm-lock.yaml
Labels: chore

#650 chore: update PHP dependencies
  composer.json
  composer.lock
  public/css/filament/filament/app.css
Labels: chore

#649 refactor: lazy load popular collections
  app/Http/Controllers/Api/AllPopularCollectionController.php
  app/Http/Controllers/PopularCollectionController.php
  app/Http/Controllers/Traits/HasCollectionFilters.php
  app/Http/Requests/FilterableCollectionRequest.php
  app/Repositories/CollectionRepository.php
  resources/js/Components/Collections/CollectionsFullTable/CollectionsFullTable.contracts.ts
  resources/js/Components/Collections/CollectionsFullTable/CollectionsFullTable.test.tsx
  resources/js/Components/Collections/CollectionsFullTable/CollectionsFullTable.tsx
  resources/js/Pages/Collections/CollectionsCatalog/Index.tsx
  resources/js/Pages/Collections/Components/CollectionsFullTablePagination/CollectionsFullTablePagination.tsx
  resources/js/Pages/Collections/Hooks/useCollectionFilters.ts
  routes/api.php
  tests/App/Http/Controllers/Api/AllPopularCollectionControllerTest.php
Labels: refactor

#652 fix: update volume header in popular collections table when changing period
  resources/js/Pages/Collections/CollectionsCatalog/Index.tsx
Labels: bugfix

#654 fix: update volume header on both popular collections tables
  resources/js/Pages/Collections/PopularCollections.tsx
Labels: bugfix

#655 refactor: use v2 of opensea api
  app/Http/Client/Opensea/OpenseaPendingRequest.php
  tests/App/Http/Client/Opensea/OpenseaPendingRequestTest.php
  tests/App/Jobs/FetchCollectionFloorPriceTest.php
  tests/App/Services/Web3/Opensea/OpenseaWeb3DataProviderTest.php
  tests/fixtures/opensea/collection_stats.json
  tests/fixtures/opensea/collection_stats_floor_price_null.json
Labels: refactor

#658 fix: "division by zero" when searching for collections to nominate
  app/Http/Controllers/Api/VotableCollectionController.php
  app/Models/Collection.php
Labels: bugfix

#661 fix: caching the opensea response causing the `TypeError` when deserializing
  app/Http/Client/Opensea/OpenseaPendingRequest.php
  config/services.php
Labels: bugfix

#662 chore: merge rc into main
  app/Data/Collections/CollectionDetailData.php
  app/Http/Client/Opensea/OpenseaPendingRequest.php
  config/services.php
  resources/js/Components/Collections/CollectionHeader/CollectionHeaderBottom.test.tsx
  resources/js/Components/Collections/CollectionHeader/CollectionHeaderBottom.tsx
  resources/js/Tests/Factories/Collections/CollectionDetailDataFactory.ts
  resources/types/generated.d.ts
Labels: chore

#663 chore: update JavaScript dependencies
  jsconfig.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
Labels: chore

#669 refactor: make the Footer component more React-y
  resources/js/Components/Layout/Footer.tsx
  resources/js/Components/PoweredByIcons.tsx
Labels: refactor

#670 refactor: remove unused props from the `Point` component
  resources/js/Components/Point.tsx
Labels: refactor

#673 refactor: remove `SaveButton` component
  resources/css/_buttons.css
  resources/js/Components/Buttons/SaveButton.test.tsx
  resources/js/Components/Buttons/SaveButton.tsx
  resources/js/Components/Buttons/index.tsx
  stories/Button/SaveButton.stories.tsx
Labels: refactor

#672 refactor: use `children` prop in a `LoadingBlock`
  resources/js/Components/Galleries/NftCollection/NftCollectionSearch.tsx
  resources/js/Components/LoadingBlock/LoadingBlock.test.tsx
  resources/js/Components/LoadingBlock/LoadingBlock.tsx
  resources/js/Pages/Collections/Components/CollectionVoting/NominationDialog.tsx
Labels: refactor

#677 chore: update JavaScript dependencies
  package.json
  pnpm-lock.yaml
Labels: chore

#682 chore: update JavaScript dependencies
  package.json
  pnpm-lock.yaml
Labels: chore
